Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

refac(back): #765 resolvers/event.py typing
  django-apps/integrates-back-async/backend/api/resolvers/event.py
  django-apps/integrates-back-async/backend/typing.py
  django-apps/integrates-back/backend/typing.py
Due: pylint, flake8

feat(job): #439 add asserts and integr num vulns
  toolbox/api/asserts.py
  toolbox/toolbox.py
Due: pylint, flake8

feat(back): #426 allow to stream load rows
  analytics/singer/target_redshift/target_redshift/__init__.py
Due: pylint, flake8

feat(front): #926.1 expand the error message
  fluidasserts/utils/cli.py
Due: pylint, flake8

feat(back): #437 error nodes start with error
  toolbox/api/asserts.py
Due: pylint, flake8

feat(back): #437.2 taxonomy of error messages
  toolbox/api/asserts.py
  toolbox/sorts/get_data.py
  toolbox/toolbox.py
  toolbox/utils.py
Due: pylint, flake8

fix(back): #426.2 flush more often
  analytics/singer/target_redshift/target_redshift/__init__.py
Due: pylint, flake8

refac(back): #765 resolvers/event.py typed
  django-apps/integrates-back-async/backend/api/resolvers/event.py
  django-apps/integrates-back-async/backend/typing.py
  django-apps/integrates-back/backend/typing.py
Due: pylint, flake8

fix(job): #428 git upgraded
  build/Dockerfile
Due: none

feat(job): #424 local reproducibility
  toolbox/utils.py
Due: pylint, flake8

refac(back): #1905 minor changes in report mut
  django-apps/integrates-back-async/backend/api/resolvers/report.py
Due: pylint, flake8

feat(cross): #1635 final operation
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  front/src/scenes/Dashboard/components/Vulnerabilities/queries.ts
  front/src/utils/apollo.ts
  test_async/entity_test/test_finding.py
Due: pylint, flake8

feat(doc): #2994.83 create rule 323
  content/pages/rules/logs/322/index.adoc
  content/pages/rules/source/323/index.adoc
Due: none

test(front): #1869 add tag_info base tests
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.spec.tsx
Due: none

perf(back): #1635 await blocking calls
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  test_async/entity_test/test_me.py
Due: pylint, flake8

feat(job): #445 check if exp commit are valid
  toolbox/constants.py
  toolbox/new_cli.py
  toolbox/utils.py
Due: pylint, flake8

refac(front): #1837.5 improve casl setup
  front/src/app.tsx
  front/src/scenes/Dashboard/components/Sidebar/index.tsx
  front/src/scenes/Dashboard/containers/ProjectRoute/index.css
  front/src/scenes/Dashboard/containers/ProjectRoute/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectRoute/index.tsx
  front/src/scenes/Dashboard/containers/ProjectRoute/queries.ts
  front/src/scenes/Dashboard/containers/ProjectRoute/types.ts
  front/src/scenes/Dashboard/index.tsx
  front/src/utils/authz/Can/index.ts
  front/src/utils/authz/config.ts
  front/src/utils/authz/index.spec.tsx
Due: none

refac(back): #1905 fix mutation return issue
  django-apps/integrates-back-async/backend/api/resolvers/report.py
Due: pylint, flake8

refac(back): #1905 report mutation enums
  django-apps/integrates-back-async/backend/api/resolvers/report.py
  django-apps/integrates-back-async/backend/api/schemas/mutations.graphql
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  django-apps/integrates-back-async/backend/api/typesdef.py
Due: pylint, flake8

refac(back): #1892 update reviewers
  secrets-production.yaml
Due: none

feat(conf): #429 remove badly designed attribute
  analytics/conf/awsdynamodb.json
Due: none

fix(back): #1635 fix resources
  django-apps/integrates-back-async/backend/api/resolvers/resource.py
  django-apps/integrates-back/backend/domain/resources.py
  django-apps/integrates-back/backend/util.py
  front/src/utils/apollo.ts
Due: pylint, flake8

feat(cross): #1635 fix operation
  django-apps/integrates-back-async/backend/api/schemas/mutations.graphql
  django-apps/integrates-back/backend/domain/event.py
  front/src/scenes/Dashboard/containers/EventCommentsView/queries.ts
  front/src/utils/apollo.ts
Due: pylint, flake8

refac(back): #494.1 sorts dependencies
  setup.py
  toolbox/toolbox.py
Due: pylint, flake8

feat(front): #2985.3 slider and title
  new/theme/2020/static/images/contact-us/slide-1.png
  new/theme/2020/static/images/contact-us/slide-2.png
  new/theme/2020/static/images/contact-us/slide-3.png
  new/theme/2020/static/js/contactSlides.ts
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/contact-us.html
  new/theme/2020/tslint.json
  new/theme/2020/webpack.common.config.ts
Due: html-tidy

refac(back): #1905 password to passphrase
  app/documentator/secure_pdf.py
  django-apps/integrates-back-async/backend/api/resolvers/report.py
  django-apps/integrates-back/backend/mailer.py
  django-apps/integrates-back/backend/utils/reports.py
Due: pylint, flake8

refac(back): #1905 rename report mutation
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/resolvers/report.py
  django-apps/integrates-back-async/backend/api/schemas/mutations.graphql
Due: pylint, flake8

refac(front): #1676 move alerts
  front/src/scenes/Dashboard/components/Navbar/index.css
  front/src/scenes/Dashboard/containers/EventContent/index.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.css
  front/src/scenes/Dashboard/containers/FindingContent/index.spec.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.tsx
  front/src/scenes/Dashboard/containers/HomeView/index.css
  front/src/scenes/Dashboard/containers/ProjectContent/index.tsx
  front/src/scenes/Dashboard/containers/ProjectContent/queries.ts
  front/src/scenes/Dashboard/containers/ProjectRoute/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectRoute/index.tsx
  front/src/scenes/Dashboard/containers/ProjectRoute/queries.ts
  front/src/scenes/Dashboard/containers/TagContent/index.tsx
  front/src/scenes/Dashboard/index.css
  front/src/scenes/Dashboard/index.tsx
  front/src/styles/global.css
Due: none

refac(back): #494.2 favor the dag
  setup.py
  tests/test_helper_forces.py
  tests/test_toolbox.py
  toolbox/cli.py
  toolbox/constants.py
  toolbox/forces/__init__.py
  toolbox/forces/quality.py
  toolbox/helper/__init__.py
  toolbox/helper/forces.py
  toolbox/helper/integrates.py
  toolbox/new_cli.py
  toolbox/reports.py
  toolbox/toolbox.py
Due: pylint, flake8

feat(cross): #1919 get caller origin
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/api/schemas/query.graphql
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  django-apps/integrates-back-async/backend/api/typesdef.py
  front/src/scenes/Dashboard/components/AddAccessTokenModal/queries.ts
  front/src/scenes/Dashboard/containers/HomeView/queries.ts
  front/src/scenes/Dashboard/containers/ProjectContent/queries.ts
  front/src/scenes/Dashboard/containers/ProjectSettingsView/queries.ts
  front/src/scenes/Dashboard/containers/ProjectUsersView/queries.ts
  front/src/scenes/Dashboard/queries.ts
  front/src/scenes/Registration/containers/WelcomeView/queries.ts
  test_async/entity_test/test_me.py
Due: pylint, flake8

rever(back): #494.2 separate dependencies
  setup.py
Due: pylint, flake8

feat(back): #492.3 config parser
  tests/test_helper_forces.py
  toolbox/helper/forces.py
Due: pylint, flake8

feat(back): #492.4 conditionally check synchron
  toolbox/forces/quality.py
Due: pylint, flake8

feat(doc): #2994.84 rename rule 323
  content/pages/rules/source/323/index.adoc
Due: none

refac(back): #765 resolvers/forces.py typed
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/resolvers/forces.py
  django-apps/integrates-back-async/backend/typing.py
  django-apps/integrates-back/backend/typing.py
Due: shellcheck, pylint, flake8

feat(cross): #1837.6 group level permissions
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back/backend/entity/me.py
  front/package.json
  front/src/scenes/Dashboard/containers/ProjectContent/index.tsx
  front/src/scenes/Dashboard/containers/ProjectRoute/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectRoute/index.tsx
  front/src/scenes/Dashboard/index.tsx
  front/src/scenes/Dashboard/queries.ts
Due: pylint, flake8

feat(job): #445 if scope is exp only modify one
  toolbox/utils.py
Due: pylint, flake8

feat(job): #445 fix exp must have label
  toolbox/constants.py
  toolbox/utils.py
Due: pylint, flake8

feat(back): #1635 api capabilities
  django-apps/integrates-back-async/backend/api/dataloaders/user.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/resolvers/resource.py
  django-apps/integrates-back/backend/util.py
Due: pylint, flake8

feat(build): #494.3 rename the toolbox
  setup.py
  tests/test_cli.py
  toolbox/cli.py
  toolbox/forces/quality.py
  toolbox/new_cli.py
Due: pylint, flake8

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
