Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

.pre-commit-config.yaml:

fail_fast: false
repos:
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    files: \.(sh)$
    args: [ "--external-sources", "--exclude=SC1090,SC2016,SC2153,SC2154" ]
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    files: \.(py)$
    args: []
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    files: \.(py)$
    args: []
  - id: html-tidy
    name: tidy
    entry: tidy
    language: system
    files: \.(html)$
    args: []

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/containers/ProjectEventsView/index.spec.tsx
Due: none

refac(front): #1991 update year
  front/src/scenes/Registration/containers/WelcomeView/index.spec.tsx
  front/src/utils/translations/en.ts
Due: none

feat(back): #835 comprehend jobs encrypted
  fluidasserts/cloud/aws/comprehend.py
  setup.cfg
  test/test_cloud_aws_comprehend.py
Due: pylint, flake8

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/containers/DescriptionView/index.spec.tsx
Due: none

refac(front): #3158.16 remove repeated text
  content/pages/security/index.adoc
Due: none

feat(front): #3147.10 pagination for blog index
  new/theme/2020/templates/index.html
Due: html-tidy

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/components/RemoveProjectModal/index.spec.tsx
Due: none

refac(front): #3158.17 remove cloud word
  content/pages/security/index.adoc
Due: none

test(back): #1372 test update evidence error
  test_async/domain_test/test_event.py
Due: pylint, flake8

feat(back): #936.8 load conditional funcs
  fluidasserts/cloud/aws/cloudformation/graph.py
Due: pylint, flake8

feat(back): #1835.81 split roles to grant
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/utils/authorization.py
Due: pylint, flake8

refac(back): #454.1 remove exams
  .gitlab-ci.yml
  build/include/jobs.sh
  containers/exams/Dockerfile
  containers/exams/main.yml
  containers/exams/vars/config.j2
  containers/exams/vars/moodledata.tar.xz.REMOVED.git-id
  containers/exams/vars/ssh_config
  containers/exams/vars/vars.yml
  infrastructure/eks/manifests/deploy.sh
  infrastructure/eks/manifests/deployments/exams.yaml
  secrets-prod.yaml
Due: shellcheck

feat(front): #3160.3 blog link
  new/theme/2020/templates/footer.html
Due: html-tidy

refac(doc): #3177 remove-sba
  content/pages/partners/index.adoc
Due: none

fix(back): #1966 order unit test execution
  build/include/jobs.sh
  test_async/dal_test/test_project.py
  test_async/domain_test/test_alert.py
  test_async/domain_test/test_comment.py
  test_async/domain_test/test_event.py
  test_async/domain_test/test_finding.py
  test_async/domain_test/test_project.py
  test_async/domain_test/test_resources.py
  test_async/domain_test/test_tag.py
  test_async/domain_test/test_user.py
  test_async/domain_test/test_vulnerability.py
  test_async/entity_test/test_alert.py
  test_async/entity_test/test_cache.py
  test_async/entity_test/test_event.py
  test_async/entity_test/test_finding.py
  test_async/entity_test/test_forces.py
  test_async/entity_test/test_internal_project.py
  test_async/entity_test/test_me.py
  test_async/entity_test/test_project.py
  test_async/entity_test/test_report.py
  test_async/entity_test/test_resource.py
  test_async/entity_test/test_subscription.py
  test_async/entity_test/test_tag.py
  test_async/entity_test/test_user.py
  test_async/entity_test/test_vulnerability.py
  test_async/test_access_token.py
  test_async/test_cvss.py
  test_async/test_findings.py
  test_async/test_forms.py
  test_async/test_scheduler.py
  test_async/test_services.py
  test_async/test_util.py
  test_async/test_validations.py
  test_async/util_test/test_abac.py
Due: shellcheck, pylint, flake8

refac(doc): #3210 fix-about-us
  content/pages/about-us/index.adoc
Due: none

feat(back): #835 is configservice enabled
  fluidasserts/cloud/aws/comprehend.py
  fluidasserts/cloud/aws/configservice.py
  setup.cfg
  test/test_cloud_aws_configservice.py
Due: pylint, flake8

feat(doc): #3135.23 add reference for fin 061
  content/pages/findings/hygiene/061/index.adoc
  content/pages/rules/source/161/index.adoc
Due: none

feat(back): #936.9 manage if condition func
  fluidasserts/cloud/aws/cloudformation/graph.py
Due: pylint, flake8

feat(cross): #1835.82 explicit user roles and show
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/domain/user.py
  django-apps/integrates-back-async/backend/utils/authorization.py
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.tsx
Due: pylint, flake8

feat(front): #3158.18 developing for integrity
  build/include/jobs.sh
  content/pages/security/index.adoc
Due: shellcheck

fix(back): #1993 rm unused cron
  fluidintegrates/settings.py
Due: pylint, flake8

feat(back): #1835.83 fetch group features policy
  django-apps/integrates-back-async/backend/dal/project.py
  django-apps/integrates-back-async/backend/utils/authorization.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

feat(doc): #3135.24 add reference for fin 055
  content/pages/findings/security/055/index.adoc
  content/pages/rules/emails/119/index.adoc
Due: none

test(back): #1372 validate evidence invalid size
  test_async/domain_test/test_event.py
  test_async/mock/test-big-image.jpg.REMOVED.git-id
Due: pylint, flake8

refac(front): #3158.19 reorder sections
  content/pages/security/index.adoc
Due: none

feat(back): #936.10 load function cidr
  fluidasserts/cloud/aws/cloudformation/graph.py
Due: pylint, flake8

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.spec.tsx
Due: none

test(back): #1533 vuln of deleted fin are filter
  test_async/entity_test/test_finding.py
Due: pylint, flake8

fix(back): #1533 filter out deleted findings
  django-apps/integrates-back-async/backend/api/dataloaders/vulnerability.py
Due: pylint, flake8

test(back): #1372 test get current month authors
  test_async/domain_test/test_project.py
Due: pylint, flake8

refac(doc): #3178 update-people
  content/pages/people/aroldan.png
  content/pages/people/aroldan/aroldan.png
  content/pages/people/aroldan/index.adoc
  content/pages/people/ccarrasco.png
  content/pages/people/ccarrasco/ccarrasco.png
  content/pages/people/ccarrasco/index.adoc
  content/pages/people/dcardona.png
  content/pages/people/dnaspiran.png
  content/pages/people/fgomez.png
  content/pages/people/jarmas.png
  content/pages/people/jarmas/index.adoc
  content/pages/people/jarmas/jarmas.png
  content/pages/people/jrestrepo/jrestrepo.png
  content/pages/people/mgomez.png
  content/pages/people/pvelez.png
  content/pages/people/ralvarez.png
  content/pages/people/ralvarez/index.adoc
  content/pages/people/ralvarez/ralvarez.png
  content/pages/people/vvilla.png
Due: none

feat(back): #835 is mfa enabled cognito
  fluidasserts/cloud/aws/cognito.py
  fluidasserts/cloud/aws/configservice.py
  setup.cfg
  test/test_cloud_aws_cognito.py
Due: pylint, flake8

fix(front): #1994 registration as start url
  front/src/scenes/Registration/containers/WelcomeView/index.tsx
Due: none

feat(doc): #3135.24 add references for some fins
  content/pages/findings/security/038/index.adoc
  content/pages/findings/security/103/index.adoc
  content/pages/rules/emails/122/index.adoc
  content/pages/rules/emails/123/index.adoc
Due: none

fix(back): #762.1 monitoring bug
  toolbox/analytics/logs.py
Due: pylint, flake8

feat(front): #3158.20 microchanges
  build/include/jobs.sh
  content/pages/security/index.adoc
Due: shellcheck

feat(doc): #2994.87 add references for rule 035
  content/pages/rules/authorization/035/index.adoc
Due: none

fix(front): #3170 breadcrumb paths
  build/include/helpers-deploy.sh
  content/pages/events/index.adoc
  content/pages/partners/index.adoc
  content/pages/people/index.adoc
  content/pages/reviews/index.adoc
  content/pages/values/index.adoc
  new/theme/2020/templates/page.html
Due: shellcheck, html-tidy

feat(back): #1835.84 service attrs enforcer
  django-apps/integrates-back-async/backend/dal/project.py
  django-apps/integrates-back-async/backend/utils/authorization.py
  test_async/dynamo_data/FI_projects.json
  test_async/util_test/test_abac.py
Due: pylint, flake8
