Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

refac(cross): #403.3 rename all
  doc/forces_admin.rst
  doc/index.rst
  doc/secrets.rst
  tests/test_api_asserts.py
  tests/test_cli.py
  tests/test_toolbox.py
  toolbox/cli/__init__.py
  toolbox/drills/to_reattack.py
  toolbox/forces/commit.py
  toolbox/forces/lint.py
  toolbox/forces/sync.py
  toolbox/reports.py
  toolbox/toolbox.py
  toolbox/utils/generic.py
Due: pylint, flake8

feat(doc): #3088.37 add fins 28, 31, 32, 36
  content/pages/findings/security/028/index.adoc
  content/pages/findings/security/031/index.adoc
  content/pages/findings/security/032/index.adoc
  content/pages/findings/security/036/index.adoc
  content/pages/rules/architecture/320/index.adoc
  content/pages/rules/authorization/035/index.adoc
  content/pages/rules/authorization/096/index.adoc
  content/pages/rules/data/176/index.adoc
  content/pages/rules/data/177/index.adoc
  content/pages/rules/data/186/index.adoc
  content/pages/rules/files/036/index.adoc
  content/pages/rules/session/026/index.adoc
  content/pages/rules/session/030/index.adoc
  content/pages/rules/system/269/index.adoc
Due: none

refac(back): #1939 authorization segregation
  django-apps/integrates-back-async/backend/utils/authorization.py
Due: pylint, flake8

feat(infra): #1905 add missing cert line
  deploy/terraform-resources/cloudfront/distribution.tf
Due: none

feat(back): #1635 async redis ops
  django-apps/integrates-back-async/backend/decorators.py
Due: pylint, flake8

feat(infra): #1905 cert zone id changed
  deploy/terraform-resources/cloudfront/certificate.tf
Due: none

feat(back): #426.1 add funcs to check folder
  toolbox/drills/lint.py
  toolbox/forces/lint.py
  toolbox/utils/generic.py
Due: pylint, flake8

refac(back): #1635 remove unused code
  deploy/containers/app/Dockerfile
  django-apps/integrates-back-async/backend/decorators.py
  fluidintegrates/asgi.py
Due: pylint, flake8

feat(back): #1869 add tag resolvers
  django-apps/integrates-back-async/backend/api/resolvers/tag.py
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  django-apps/integrates-back-async/backend/dal/tag.py
  django-apps/integrates-back-async/backend/domain/tag.py
  django-apps/integrates-back-async/backend/typing.py
Due: pylint, flake8

perf(back): #1635 replace async entry
  django-apps/integrates-back-async/backend/api/view.py
Due: pylint, flake8

refac(front): #1942 upgrade to expo sdk 37
  deploy/containers/deps-mobile/Dockerfile
  deploy/containers/deps-mobile/fix_standalone_google_login.diff
  front/jest.config.js
  front/jestSetup.ts
  mobile/.watchmanconfig
  mobile/app.json
  mobile/jest.config.js
  mobile/jestSetup.ts
  mobile/package.json
  mobile/src/containers/LoginView/actions.ts
  mobile/src/containers/LoginView/index.spec.tsx
  mobile/src/containers/MenuView/index.spec.tsx
  mobile/src/index.spec.tsx
  mobile/src/utils/apollo.ts
  mobile/src/utils/environment.ts
  mobile/src/utils/rollbar.ts
  mobile/tsconfig.json
Due: none

feat(job): #426.2 check content dills and forces
  toolbox/cli/misc.py
Due: pylint, flake8

feat(back): #605.1 exp reasons linter
  toolbox/constants.py
  toolbox/forces/lint.py
  toolbox/reports.py
Due: pylint, flake8

test(back): #1869 update tag resolver test
  test_async/dynamo_data/FI_projects.json
  test_async/dynamo_data/fi_portfolios.json
  test_async/entity_test/test_tag.py
Due: pylint, flake8

fix(job): #426.3 check in all commits
  toolbox/cli/misc.py
  toolbox/drills/__init__.py
  toolbox/drills/lint.py
Due: pylint, flake8

feat(job): #1791.3 master report
  .gitlab-ci.yml
Due: none

refac(back): #405.1 secrets category
  tests/test_toolbox.py
  toolbox/cli/__init__.py
  toolbox/forces/__init__.py
  toolbox/forces/secrets.py
  toolbox/toolbox.py
Due: pylint, flake8

feat(doc): #3119 new-post-oss
  content/blog/look-inside-oss/cover.png
  content/blog/look-inside-oss/index.adoc
Due: none

feat(back): #405.2 simplify use
  tests/test_toolbox.py
  toolbox/cli/__init__.py
  toolbox/forces/secrets.py
Due: pylint, flake8

feat(doc): #405.3 secrets procedure
  doc/secrets.rst
Due: none

feat(build): #623.1 missing toe reasons validation
  tests/test_drills_commit.py
  toolbox/cli/misc.py
  toolbox/drills/commit.py
Due: pylint, flake8

feat(back): #1905 files.fluidattacks.com added
  secrets-development.yaml
Due: none

refac(back): #1905 change cf domain
  secrets-production.yaml
Due: none

style(back): #880 single quotes
  django-apps/integrates-back-async/backend/dal/helpers/cloudfront.py
Due: pylint, flake8

refac(back): #494.6 s-helper-utils-g
  setup.py
  tests/test_resources.py
  tests/test_toolbox.py
  tests/test_utils_forces.py
  tests/test_utils_integrates.py
  toolbox/__init__.py
  toolbox/forces/sync.py
  toolbox/helper/__init__.py
  toolbox/reports.py
  toolbox/resources.py
  toolbox/toolbox.py
  toolbox/utils/__init__.py
  toolbox/utils/forces.py
  toolbox/utils/integrates.py
Due: pylint, flake8

fix(front): #3118 change drills content
  new/theme/2020/templates/landing.html
Due: html-tidy

feat(back): #524.7 last update time
  toolbox/drills/pull_repos.py
Due: pylint, flake8

refac(front): #1869 use tag resolvers
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.spec.tsx
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.tsx
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/queries.ts
  front/src/scenes/Dashboard/containers/TagContent/index.spec.tsx
Due: none

perf(back): #1635 finding resolver
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  test_async/entity_test/test_project.py
Due: pylint, flake8

feat(infra): #1943 create production role in tf
  deploy/secret-management/terraform/role-integrates-prod.tf
Due: none

feat(doc): #3088.38 add fins 56, 57, 67, 77, 82
  content/pages/findings/security/012/index.adoc
  content/pages/findings/security/056/index.adoc
  content/pages/findings/security/057/index.adoc
  content/pages/findings/security/067/index.adoc
  content/pages/findings/security/077/index.adoc
  content/pages/findings/security/082/index.adoc
  content/pages/rules/architecture/062/index.adoc
  content/pages/rules/architecture/266/index.adoc
  content/pages/rules/authentication/264/index.adoc
  content/pages/rules/authentication/319/index.adoc
  content/pages/rules/credentials/142/index.adoc
  content/pages/rules/data/183/index.adoc
  content/pages/rules/files/045/index.adoc
  content/pages/rules/services/265/index.adoc
  content/pages/rules/source/158/index.adoc
  content/pages/rules/source/164/index.adoc
  content/pages/rules/system/273/index.adoc
Due: none

fix(front): #3121 products menu
  new/theme/2020/templates/landing.html
Due: html-tidy

fix(back): #1924 fix bool filters
  django-apps/integrates-back-async/backend/api/resolvers/project.py
Due: pylint, flake8

fix(front): #3122 images of products
  new/theme/2020/templates/landing.html
Due: html-tidy

fix(job): #1791.4 remove except
  .gitlab-ci.yml
Due: none

fix(front): #3123 spacing in menu links
  new/theme/2020/templates/menu.html
Due: html-tidy

feat(back): #922 has secret in git history
  fluidasserts/proto/git.py
  requirements.txt
  test/test_proto_git.py
Due: pylint, flake8

refac(back): #1635 removed unused code
  django-apps/integrates-back-async/backend/api/dataloaders/user.py
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/query.py
  django-apps/integrates-back-async/backend/api/resolvers/alert.py
  django-apps/integrates-back-async/backend/api/resolvers/cache.py
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/internal_project.py
  django-apps/integrates-back-async/backend/api/resolvers/report.py
  django-apps/integrates-back-async/backend/api/resolvers/resource.py
  django-apps/integrates-back-async/backend/api/resolvers/subscription.py
  django-apps/integrates-back-async/backend/api/resolvers/vulnerability.py
  django-apps/integrates-back-async/backend/api/scalars/datetime.py
  django-apps/integrates-back-async/backend/api/scalars/genericscalar.py
  django-apps/integrates-back-async/backend/api/scalars/jsonstring.py
  django-apps/integrates-back-async/backend/api/schema.py
  django-apps/integrates-back-async/backend/api/subscription.py
  django-apps/integrates-back-async/backend/api/typesdef.py
Due: pylint, flake8

feat(back): #524.8 upload history
  toolbox/drills/__init__.py
  toolbox/drills/cli.py
  toolbox/drills/generic.py
  toolbox/drills/pull_repos.py
  toolbox/drills/push_repos.py
  toolbox/drills/upload_history.py
Due: pylint, flake8

feat(conf): #537.1 simplify paths [skip ci]
  toolbox/forces/lint.py
  toolbox/toolbox.py
  toolbox/utils/forces.py
Due: pylint, flake8

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
