Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

feat(doc): #3135.10 merge fins 034 and 095
  content/pages/findings/security/034/index.adoc
  content/pages/findings/security/095/index.adoc
  content/pages/rules/cryptography/223/index.adoc
  content/pages/rules/cryptography/224/index.adoc
Due: none

test(back): #399.4 test upload module
  tests/test_forces_upload.py
Due: pylint, flake8

refac(back): #1635 move finding code
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/utils/authorization.py
  front/src/scenes/Dashboard/components/UpdateVerificationModal/index.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/index.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/updateTreatment.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/uploadFile.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/index.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.spec.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.tsx
  front/src/scenes/Dashboard/containers/SeverityView/index.tsx
  front/src/scenes/Dashboard/containers/TrackingView/index.spec.tsx
  front/src/scenes/Dashboard/containers/TrackingView/index.tsx
  test_async/util_test/test_abac.py
Due: pylint, flake8

feat(cross): #399.5 cli option and tests
  tests/conftest.py
  tests/test_cli.py
  toolbox/cli/__init__.py
Due: pylint, flake8

feat(cross): #1954 serve local http back
  build/include/jobs.sh
  mobile/src/utils/environment.ts
Due: shellcheck

test(back): #1372 test update vuln date
  test_async/domain_test/test_vulnerability.py
Due: pylint, flake8

fix(job): #687.1 exclude reason from sync
  toolbox/forces/sync.py
Due: pylint, flake8

fix(back): #1635 fix drafts
  django-apps/integrates-back-async/backend/api/dataloaders/project.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
Due: pylint, flake8

feat(build): #1921.12 build app
  .gitlab-ci.yml
  build.sh
  build/include/helpers.sh
  build/include/jobs.sh
  build/provisioners/build_container_app.nix
  build/provisioners/deploy-front.nix
  build/provisioners/full.nix
  build/provisioners/selenium.nix
  build/provisioners/test.nix
  deploy/containers/app-async/Dockerfile
  deploy/containers/app/Dockerfile
  deploy/containers/app/enable_redis_cluster_sessions.diff
  deploy/containers/app/requirements.txt
  deploy/containers/app/requirements_local_async.txt
  deploy/containers/common/vars/drive_authorization.j2
  deploy/containers/common/vars/drive_client_secret.j2
  deploy/containers/deps-app/requirements_local.txt
  deploy/integrates-k8s.yaml
  review-apps/deploy-integrates.yaml
  secrets-development.yaml
  secrets-production.yaml
Due: shellcheck

fix(job): #688.1 check if has forces and del date
  tests/test_cli.py
  toolbox/forces/upload.py
Due: pylint, flake8

feat(back): #1949 add actions
  django-apps/integrates-back-async/backend/utils/authorization.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

feat(doc): #3135.11 create fin 087
  content/pages/findings/security/032/index.adoc
  content/pages/findings/security/087/index.adoc
  content/pages/rules/authentication/226/index.adoc
Due: none

feat(back): #1911 button added to mail
  django-apps/integrates-back-async/backend/domain/vulnerability.py
Due: pylint, flake8

feat(back): #835 cloudtrail alarm on conf changes
  fluidasserts/cloud/aws/cloudwatch.py
  test/static/sca/maven/close/pom.xml
  test/test_cloud_aws_cloudwatch.py
Due: pylint, flake8

feat(back): #1958.1 answer prefelight requests
  app/urls.py
Due: pylint, flake8

test(back): #1372 test reject vulnerability
  test_async/domain_test/test_vulnerability.py
  test_async/entity_test/test_project.py
Due: pylint, flake8

feat(back): #885.1 check if has full access to ssm
  fluidasserts/cloud/aws/iam.py
  test/test_cloud_aws_iam.py
Due: pylint, flake8

refac(back): #1635 move user code
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/dataloaders/user.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/resolvers/user.py
Due: shellcheck, pylint, flake8

feat(back): #936.1 create module to db conn
  fluidasserts/db/neo4j_connection.py
  requirements.txt
Due: pylint, flake8

feat(build): #1921.13 front
  .gitlab-ci.yml
  build.sh
  build/builders/python-package/default.nix
  build/include/cli.sh
  build/include/jobs.sh
  build/provisioners/build_front.nix
  build/provisioners/deploy_front.nix
Due: shellcheck

feat(back): #1911 fixed line breaks in mail
  django-apps/integrates-back-async/backend/domain/vulnerability.py
Due: pylint, flake8

feat(back): #371.1 matching engine
  tests/test_api_integrates.py
  toolbox/forces/upload.py
  toolbox/utils/__init__.py
  toolbox/utils/file.py
  toolbox/utils/tempfile.py
Due: pylint, flake8

feat(doc): #3135.12 move rule 234 to out of scope
  content/pages/rules/out-of-scope/authentication/234/index.adoc
Due: none

feat(back): #1503 update run deps
  deploy/containers/app/requirements.txt
Due: none

feat(back): #835 cloudwatch alarm on sfa login
  fluidasserts/cloud/aws/cloudwatch.py
  test/test_cloud_aws_cloudwatch.py
Due: pylint, flake8

refac(build): #1961 prepare build system
  .gitlab-ci.yml
  build.sh
  build/include/cli.sh
  build/include/jobs.sh
  build/provisioners/deploy_mobile.nix
  build/provisioners/lint_front.nix
  build/provisioners/lint_mobile.nix
  build/provisioners/test_front.nix
  build/provisioners/test_mobile.nix
Due: shellcheck

feat(build): #1921.14 deploy_k8s
  .gitlab-ci.yml
  build.sh
  build/provisioners/deploy_k8s_back.nix
  build/provisioners/deploy_k8s_back_ephemeral.nix
  build/provisioners/deploy_k8s_stop_ephemeral.nix
Due: shellcheck

fix(back): #295 test forces views
  ephemeral_tests.py
Due: pylint, flake8

fix(build): #1921.15 deploy_k8s cacert
  build/provisioners/deploy_k8s_back.nix
Due: none

feat(doc): #3135.13 merge fins 067 and 112
  content/pages/findings/hygiene/112/index.adoc
  content/pages/findings/security/067/index.adoc
  content/pages/rules/source/164/index.adoc
Due: none

feat(back): #1477 update dev deps
  build/dependencies/requirements.txt
Due: none

test(back): #1372 updated manager mail content
  test_async/domain_test/test_vulnerability.py
Due: pylint, flake8

perf(back): #1635 use dataloader
  django-apps/integrates-back-async/backend/api/resolvers/me.py
Due: pylint, flake8

refac(back): #765 add missing casting
  django-apps/integrates-back-async/backend/domain/vulnerability.py
Due: pylint, flake8

test(back): #1372 test approve vulnerability
  test_async/domain_test/test_vulnerability.py
  test_async/entity_test/test_project.py
Due: pylint, flake8

perf(back): #1635 forces async generator
  django-apps/integrates-back-async/backend/api/resolvers/forces.py
  django-apps/integrates-back-async/backend/dal/forces.py
Due: pylint, flake8

feat(build): #1961.2 turtle builder
  build/builders/ruby-gem/builder.sh
  build/builders/turtle-shell/builder.sh
  build/builders/turtle-shell/default.nix
  build/include/generic/dir-structure.sh
  build/provisioners/build_front.nix
  build/provisioners/build_mobile.nix
Due: shellcheck

feat(job): #371.2 move toe_counter to fluid cli
  toolbox/drills/__init__.py
  toolbox/drills/count_toe.py
Due: pylint, flake8

feat(doc): #3146 new-devops-concept
  content/blog/devops-concept/c4.png
  content/blog/devops-concept/cloud.png
  content/blog/devops-concept/cover.png
  content/blog/devops-concept/index.adoc
Due: none

refac(back): #1911 update manager refactor
  django-apps/integrates-back-async/backend/domain/vulnerability.py
Due: pylint, flake8

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
