Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

.pre-commit-config.yaml:

fail_fast: false
repos:
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    files: \.(sh)$
    args: [ "--external-sources", "--exclude=SC1090,SC2016,SC2153,SC2154" ]
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    files: \.(py)$
    args: []
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    files: \.(py)$
    args: []
  - id: html-tidy
    name: tidy
    entry: tidy
    language: system
    files: \.(html)$
    args: []

refac(back): #415 disable courses fluidattacks
  infrastructure/eks/manifests/ingress/main-domains.yaml
Due: none

feat(back): #1635 migrated queries
  authorization/group_level_async.conf
  authorization/user_level_async.conf
  django-apps/integrates-back-async/backend/api/dataloaders/user.py
  django-apps/integrates-back-async/backend/api/query.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/api/schemas/query.graphql
  test_async/entity_test/test_project.py
  test_async/entity_test/test_user.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

feat(job): #423 replace toolbox in all jobs
  toolbox/new_cli.py
  tox.ini
Due: pylint, flake8

fix(back): #415 add rewrite-target
  infrastructure/eks/manifests/ingress/autonomic.yaml
Due: none

feat(cross): #1635 tag query
  authorization/user_level_async.conf
  django-apps/integrates-back-async/backend/api/query.py
  django-apps/integrates-back-async/backend/api/resolvers/alert.py
  django-apps/integrates-back-async/backend/api/resolvers/cache.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/resolvers/subscription.py
  django-apps/integrates-back-async/backend/api/resolvers/tag.py
  django-apps/integrates-back-async/backend/api/schemas/query.graphql
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  front/src/utils/apollo.ts
  test_async/entity_test/test_tag.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

feat(doc): #423 change the use of toolbox in doc
  doc/break_build_admin.rst
  doc/index.rst
  doc/secrets.rst
  toolbox/new_cli.py
  toolbox/toolbox.py
Due: pylint, flake8

feat(doc): #3069 rafa-remote-work
  content/blog/remote-work/cover.png
  content/blog/remote-work/index.adoc
Due: none

feat(back): #423 detect subs in utils vpn
  toolbox/new_cli.py
Due: pylint, flake8

feat(front): #1869 additional label in indicator
  front/package.json
  front/src/scenes/Dashboard/components/IndicatorGraph/index.tsx
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.tsx
  front/src/utils/translations/en.ts
Due: none

feat(infra): #416 increase instances
  .gitlab-ci.yml
  analytics/conf/awsdynamodb.json
  build/include/jobs.sh
  services/autoscaling-ci/config.toml
Due: shellcheck

fix(front): #1903 change accepted naming
  app/documentator/pdf.py
  django-apps/integrates-back/backend/utils/findings.py
  front/src/scenes/Dashboard/containers/ProjectFindingsView/index.tsx
  front/src/utils/translations/en.ts
Due: pylint, flake8

refac(job): #417 replace occurrences of toolbox
  analytics/git/clone_them.py
  build/include/helpers.sh
Due: shellcheck, pylint, flake8

feat(build): #1905 reports cloudfront distribution
  deploy/terraform-resources/cloudfront/distribution.tf
Due: none

refac(doc): #3070 fix-rafa-remote-work
  content/blog/remote-work/index.adoc
  content/images/authors/ralvarez.png
Due: none

refac(infra): #1835.66 remove unused table
  deploy/terraform-resources/dynamodb/dynamo-tables.tf
Due: none

fix(front): #3055 font sizes for products
  new/theme/2020/templates/landing.html
Due: html-tidy

test(back): #1635 async unit testing
  build/dependencies/requirements-async.txt
  django-apps/integrates-back-async/backend/api/dataloaders/user.py
  django-apps/integrates-back-async/backend/api/resolvers/forces.py
  django-apps/integrates-back/backend/decorators.py
  django-apps/integrates-back/backend/util.py
  test_async/conftest.py
  test_async/entity_test/test_forces.py
  test_async/entity_test/test_tag.py
Due: pylint, flake8

fix(back): #423 raise error when value is present
  toolbox/new_cli.py
Due: pylint, flake8

feat(doc): #2994.67 add reference for rule 320
  content/pages/rules/architecture/320/index.adoc
  content/pages/rules/authorization/033/index.adoc
Due: none

fix(front): #3056 fixes in the home page
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/landing.html
Due: html-tidy

feat(doc): #2994.68 add reference for rule 173
  content/pages/rules/source/173/index.adoc
Due: none

fix(front): #1635 settings envs and repos
  front/src/utils/apollo.ts
Due: none

fix(cross): #1913 disable redshift indicators
  front/src/scenes/Dashboard/containers/IndicatorsView/index.tsx
  front/src/scenes/Dashboard/containers/IndicatorsView/queries.ts
  test/dal_test/test_project.py
  test_async/entity_test/test_project.py
Due: pylint, flake8

feat(back): #1905 add reports cf domain to envs
  secrets-development.yaml
Due: none

fix(job): #430.1 remove validation
  toolbox/new_cli.py
Due: pylint, flake8

fix(job): #430.2 remove extra parameter
  toolbox/new_cli.py
Due: pylint, flake8

test(back): #1635 async tests
  django-apps/integrates-back-async/backend/api/resolvers/event.py
  django-apps/integrates-back-async/backend/api/resolvers/resource.py
  django-apps/integrates-back/backend/util.py
  test_async/conftest.py
  test_async/entity_test/test_event.py
  test_async/entity_test/test_finding.py
  test_async/entity_test/test_project.py
  test_async/entity_test/test_resource.py
  test_async/entity_test/test_tag.py
  test_async/entity_test/test_vulnerability.py
Due: pylint, flake8

test(back): #1869 add mock data
  test/domain_test/test_project.py
  test/domain_test/test_vulnerability.py
  test/dynamo_data/FI_findings.json
  test/dynamo_data/FI_projects.json
  test/dynamo_data/fi_vulnerabilities.json
  test/test_scheduler.py
  test_async/entity_test/test_project.py
Due: pylint, flake8

test(front): #1869 add indicator_stack base test
  front/src/scenes/Dashboard/components/IndicatorStack/index.spec.tsx
Due: none

rever(infra): #416 restore sizes
  build/include/jobs.sh
  services/autoscaling-ci/config.toml
Due: shellcheck

refac(front): #1863.3 improve error handling
  front/src/scenes/Dashboard/containers/CommentsView/index.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/index.tsx
  front/src/scenes/Dashboard/containers/EventCommentsView/index.tsx
  front/src/scenes/Dashboard/containers/EventContent/index.tsx
  front/src/scenes/Dashboard/containers/EventDescriptionView/index.tsx
  front/src/scenes/Dashboard/containers/EventEvidenceView/index.tsx
  front/src/scenes/Dashboard/containers/EvidenceView/index.tsx
  front/src/scenes/Dashboard/containers/ExploitView/index.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.tsx
  front/src/scenes/Dashboard/containers/HomeView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectCommentsView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Environments/index.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Files/index.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Portfolio/index.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Repositories/index.tsx
  front/src/scenes/Dashboard/containers/ProjectUsersView/index.tsx
  front/src/scenes/Dashboard/containers/RecordsView/index.tsx
  front/src/scenes/Dashboard/containers/SeverityView/index.tsx
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.tsx
  front/src/scenes/Dashboard/containers/TrackingView/index.tsx
  front/src/utils/apollo.ts
  front/src/utils/translations/en.ts
Due: none

fix(front): #3051 fixes in the home page
  new/theme/2020/templates/landing.html
Due: html-tidy

refac(doc): #3085 minor-changes-remote-work
  content/blog/remote-work/index.adoc
Due: none

refac(back): #765 resolvers/finding.py typing
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  django-apps/integrates-back-async/backend/typing.py
  django-apps/integrates-back/backend/domain/finding.py
  django-apps/integrates-back/backend/typing.py
Due: shellcheck, pylint, flake8

feat(doc): #2994.69 add references for rule 173
  content/pages/rules/source/173/index.adoc
Due: none

feat(back): #1835.67 remove is_customeradmin func
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/api/resolvers/vulnerability.py
  django-apps/integrates-back/backend/entity/me.py
  django-apps/integrates-back/backend/entity/user.py
  django-apps/integrates-back/backend/entity/vulnerability.py
  django-apps/integrates-back/backend/services.py
Due: pylint, flake8

feat(back): #1905 add reports cf domain to envs
  __init__.py
  secrets-production.yaml
Due: pylint, flake8

feat(job): #1905 reports cf domain to job
  ci-scripts/helpers/sops.sh
  secrets-production.yaml
Due: shellcheck

feat(build): #1914.1 nicer names
  build/builders/python-package-local/default.nix
Due: none
