Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

refac(front): #3158.21 integrity
  content/pages/security/index.adoc
Due: none

feat(cross): #1965 evidence description validation
  django-apps/integrates-back-async/backend/domain/finding.py
  front/src/scenes/Dashboard/components/EvidenceImage/index.tsx
  front/src/scenes/Dashboard/containers/EvidenceView/index.tsx
  front/src/utils/translations/en.ts
  front/src/utils/validations.ts
Due: pylint, flake8

feat(back): #936.11 add funcs getazs and findinmap
  fluidasserts/cloud/aws/cloudformation/graph.py
Due: pylint, flake8

fix(front): #3171 line height of paragraphs
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/page.html
Due: html-tidy

refac(doc): #2994.88 move rule 189 to in scope
  content/pages/rules/privacy/189/index.adoc
Due: none

test(back): #1372 create project not user admin
  test_async/domain_test/test_project.py
Due: pylint, flake8

fix(front): #3173 broken images in partners page
  build/include/helpers-deploy.sh
Due: shellcheck

refac(build): #1961.8 improve android provisioner
  build/builders/turtle-shell/builder.sh
  build/builders/turtle-shell/default.nix
  build/pkgs/stable.nix
  build/provisioners/build_mobile_android.nix
  build/provisioners/lint_mobile.nix
  build/provisioners/test_mobile.nix
Due: shellcheck

feat(back): #1835.84 business logic
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/utils/validations.py
  test_async/entity_test/test_user.py
Due: pylint, flake8

test(back): #1987 add mock project data
  deploy/containers/common/vars/provision_local_db.sh
  test_async/dynamo_data/fi_portfolios.json
Due: shellcheck

fix(back): #835 mfa check all userpools
  fluidasserts/cloud/aws/cognito.py
  fluidasserts/utils/cli.py
  test/test_cloud_aws_cognito.py
Due: pylint, flake8

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.spec.tsx
Due: none

feat(doc): #2994.89 add references for rule 156
  content/pages/rules/source/156/index.adoc
Due: none

perf(build): #1989.1 shift left coverage report
  .gitlab-ci.yml
Due: none

feat(front): #3158.22 isolated dependencies
  content/pages/security/index.adoc
Due: none

feat(front): #1965 extra front field validations
  front/src/scenes/Dashboard/components/AddEnvironmentsModal/index.tsx
  front/src/scenes/Dashboard/components/AddFilesModal/index.tsx
  front/src/scenes/Dashboard/components/AddProjectModal/index.tsx
  front/src/scenes/Dashboard/components/AddRepositoriesModal/index.tsx
  front/src/scenes/Dashboard/containers/ProjectEventsView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.tsx
Due: none

fix(doc): #3180 title in events page
  content/pages/events/index.adoc
Due: none

feat(build): #1961.9 nixify android build
  .gitlab-ci.yml
  build/include/jobs.sh
  mobile/app.json
  mobile/package.json
Due: shellcheck

feat(front): #3158.23 footer link
  theme/2014/templates/footer.html
Due: html-tidy

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/containers/ProjectUsersView/index.spec.tsx
Due: none

fix(front): #3181 style in breadcrumb
  content/pages/about-us/index.adoc
  new/theme/2020/templates/article.html
  new/theme/2020/templates/index.html
  new/theme/2020/templates/page.html
Due: html-tidy

feat(doc): #2994.90 add reference for rule 236
  content/pages/rules/authentication/236/index.adoc
  content/pages/rules/authorization/035/index.adoc
Due: none

feat(front): #1977.1 reload groups
  front/src/scenes/Dashboard/components/AddProjectModal/index.tsx
Due: none

feat(back): #936.12 add function sub
  fluidasserts/cloud/aws/cloudformation/graph.py
Due: pylint, flake8

fix(front): #3182 styles in links
  content/pages/events/index.adoc
  new/theme/2020/static/scss/base.scss
Due: none

refac(build): #1961.10 mobile container cleanup
  .gitlab-ci.yml
  build/include/jobs.sh
  deploy/containers/deps-mobile/Dockerfile
  mobile/package.json
Due: shellcheck

feat(cross): #1997 strictly email validation
  django-apps/integrates-back-async/backend/utils/validations.py
  front/src/scenes/Dashboard/containers/ProjectUsersView/index.tsx
  front/src/utils/validations.ts
Due: pylint, flake8

fix(build): #1791.1 codecov append
  build/include/jobs.sh
  test_async/dal_test/test_project.py
  test_async/domain_test/test_event.py
  test_async/domain_test/test_finding.py
  test_async/domain_test/test_project.py
  test_async/domain_test/test_resources.py
  test_async/domain_test/test_user.py
  test_async/domain_test/test_vulnerability.py
  test_async/entity_test/test_alert.py
  test_async/entity_test/test_event.py
  test_async/entity_test/test_finding.py
  test_async/entity_test/test_forces.py
  test_async/entity_test/test_internal_project.py
  test_async/entity_test/test_me.py
  test_async/entity_test/test_project.py
  test_async/entity_test/test_resource.py
  test_async/entity_test/test_subscription.py
  test_async/entity_test/test_tag.py
  test_async/entity_test/test_user.py
  test_async/test_access_token.py
  test_async/test_cvss.py
  test_async/test_findings.py
  test_async/test_forms.py
  test_async/test_scheduler.py
  test_async/test_services.py
  test_async/test_util.py
  test_async/test_validations.py
  test_async/util_test/test_abac.py
Due: shellcheck, pylint, flake8

feat(back): #1835.85 group owner role
  django-apps/integrates-back-async/backend/domain/project.py
Due: pylint, flake8

feat(back): #936.13 add function join
  fluidasserts/cloud/aws/cloudformation/graph.py
Due: pylint, flake8

feat(doc): #2994.91 add references for rule 072
  content/pages/findings/security/003/index.adoc
  content/pages/findings/security/102/index.adoc
  content/pages/findings/security/108/index.adoc
  content/pages/rules/architecture/072/index.adoc
  content/pages/rules/architecture/263/index.adoc
  content/pages/rules/architecture/327/index.adoc
Due: none

fix(back): #1965 remove unnecessary validation
  django-apps/integrates-back-async/backend/api/resolvers/user.py
Due: pylint, flake8

refac(back): #1963 remove vuln update mail
  django-apps/integrates-back-async/backend/domain/vulnerability.py
  django-apps/integrates-back-async/backend/mailer.py
Due: pylint, flake8

feat(back): #835 advanced security enabled cognito
  fluidasserts/cloud/aws/cognito.py
  test/test_cloud_aws_cognito.py
Due: pylint, flake8

refac(build): #1961.11 improve android build
  .gitlab-ci.yml
  build/include/jobs.sh
Due: shellcheck

feat(infra): #455 add cname and txt records
  infrastructure/dns/fluidattacks.tf
Due: none

feat(back): #936.14 add functions
  fluidasserts/cloud/aws/cloudformation/graph.py
Due: pylint, flake8

fix(back): #1998 remove duplicated repositories
  app/migrations/0001-duplicated-repositories.py
Due: pylint, flake8

feat(front): #2005 add a table in portfolio view
  ephemeral_tests.py
  front/src/scenes/Dashboard/containers/HomeView/index.tsx
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.spec.tsx
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.tsx
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/queries.ts
  front/src/utils/translations/en.ts
Due: pylint, flake8

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
