Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

refac(back): #295 duplicated code selenium
  ephemeral_tests.py
Due: pylint, flake8

refac(back): #1963 remove unused code
  django-apps/integrates-back-async/backend/decorators.py
  django-apps/integrates-back-async/backend/util.py
  django-apps/integrates-back-async/backend/utils/forms.py
Due: pylint, flake8

test(back): #1372 missing vuln update date test
  test_async/domain_test/test_vulnerability.py
Due: pylint, flake8

feat(back): #835 cloudwatch alarm on org changes
  fluidasserts/cloud/aws/cloudwatch.py
  test/test_cloud_aws_cloudwatch.py
Due: pylint, flake8

refac(back): #1953 split enum
  django-apps/integrates-back-async/backend/api/typesdef.py
Due: pylint, flake8

test(back): #1372 validate file schema invalid
  test_async/domain_test/test_vulnerability.py
Due: pylint, flake8

perf(back): #1635 use dataloaders
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/resolvers/resource.py
  django-apps/integrates-back-async/backend/api/resolvers/tag.py
  test_async/entity_test/test_resource.py
  test_async/entity_test/test_tag.py
Due: pylint, flake8

refac(build): #1921.21 dynamodb
  build/include/cli.sh
  build/include/helpers.sh
  build/include/jobs.sh
  build/provisioners/deploy_front.nix
  build/provisioners/reset.nix
  build/provisioners/serve_dynamodb_local.nix
Due: shellcheck

feat(front): #3147.2 content style
  new/content/pages/careers/index.adoc
  new/theme/2020/templates/page.html
Due: html-tidy

feat(back): #936.2 create batcher to load data
  fluidasserts/cloud/aws/cloudformation/graph.py
  fluidasserts/helper/aws.py
Due: pylint, flake8

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/components/AddEnvironmentsModal/index.spec.tsx
Due: none

feat(back): #835 alarm on unauth api calls
  fluidasserts/cloud/aws/cloudwatch.py
  test/test_cloud_aws_cloudwatch.py
Due: pylint, flake8

feat(build): #1921.22 commitlint
  .gitlab-ci.yml
  build/include/jobs.sh
  build/provisioners/lint_commit_msg.nix
  ci-scripts/jobs/commitlint.sh
  ci-scripts/jobs/danger.sh
  package.json
Due: shellcheck

feat(back): #936.3 add loder to mappings
  fluidasserts/cloud/aws/cloudformation/graph.py
  fluidasserts/utils/parsers/json.py
Due: pylint, flake8

feat(back): #521.17 request age by finding
  toolbox/drills/to_reattack.py
Due: pylint, flake8

feat(job): #447.1 add mrs data
  analytics/singer/streamer_gitlab.py
Due: pylint, flake8

refac(cross): #1776 use browserrouter
  app/urls.py
  app/views.py
  django-apps/integrates-back-async/backend/decorators.py
  ephemeral_tests.py
  front/src/app.tsx
  front/src/scenes/Dashboard/components/EvidenceLightbox/index.tsx
  front/src/scenes/Dashboard/components/Navbar/index.spec.tsx
  front/src/scenes/Dashboard/components/Navbar/index.tsx
  front/src/scenes/Dashboard/components/RemoveProjectModal/index.spec.tsx
  front/src/scenes/Dashboard/components/RemoveProjectModal/index.tsx
  front/src/scenes/Dashboard/components/Sidebar/index.spec.tsx
  front/src/scenes/Dashboard/components/Sidebar/index.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/uploadFile.tsx
  front/src/scenes/Dashboard/containers/EventEvidenceView/index.tsx
  front/src/scenes/Dashboard/containers/EvidenceView/index.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.spec.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.tsx
  front/src/scenes/Dashboard/containers/ForcesIndicatorsView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ForcesIndicatorsView/index.tsx
  front/src/scenes/Dashboard/containers/HomeView/index.spec.tsx
  front/src/scenes/Dashboard/containers/HomeView/index.tsx
  front/src/scenes/Dashboard/containers/IndicatorsView/index.spec.tsx
  front/src/scenes/Dashboard/containers/IndicatorsView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectDraftsView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectDraftsView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectEventsView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectEventsView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectFindingsView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectFindingsView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectRoute/index.tsx
  front/src/scenes/Dashboard/index.tsx
  front/src/scenes/Registration/containers/WelcomeView/index.spec.tsx
  front/src/scenes/Registration/containers/WelcomeView/index.tsx
Due: pylint, flake8

refac(back): #1776 update url in email templates
  app/documentator/pdf.py
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/domain/event.py
  django-apps/integrates-back-async/backend/domain/resources.py
  django-apps/integrates-back-async/backend/domain/vulnerability.py
  django-apps/integrates-back-async/backend/mailer.py
  django-apps/integrates-back-async/backend/scheduler.py
  django-apps/integrates-back-async/backend/utils/findings.py
  test_async/test_scheduler.py
Due: pylint, flake8

feat(conf): #448.1 did_finished field
  analytics/conf/awsdynamodb.json
Due: none

feat(doc): #3135.17 create rule 327
  content/pages/findings/security/047/index.adoc
  content/pages/findings/security/053/index.adoc
  content/pages/findings/security/100/index.adoc
  content/pages/findings/security/108/index.adoc
  content/pages/rules/architecture/324/index.adoc
  content/pages/rules/architecture/327/index.adoc
Due: none

refac(back): #1965 validate field funct refactored
  django-apps/integrates-back-async/backend/domain/event.py
  django-apps/integrates-back-async/backend/domain/finding.py
  django-apps/integrates-back-async/backend/domain/resources.py
  django-apps/integrates-back-async/backend/domain/vulnerability.py
  django-apps/integrates-back-async/backend/utils/validations.py
Due: pylint, flake8

test(back): #1372 test handle acceptation
  test_async/domain_test/test_finding.py
Due: pylint, flake8

feat(back): #835 alarm on cmk config changes
  fluidasserts/cloud/aws/cloudwatch.py
  test/test_cloud_aws_cloudwatch.py
Due: pylint, flake8

refac(build): #1921.23 remove ci-scripts
  .gitlab-ci.yml
  build/Dockerfile
  build/include/env.sh
  build/include/helpers.sh
  build/include/jobs.sh
  build/provisioners/deploy_mobile.nix
  build/src/basic.nix
  ci-scripts/helpers/check-changed.sh
  ci-scripts/helpers/others.sh
  ci-scripts/helpers/sops.sh
  deploy/containers/common/vars/run.sh
  deploy/containers/common/vars/run_cron.sh
  mobile/package.json
  review-apps/cluster-config.sh
Due: shellcheck

feat(doc): #3148 understanding-ssrf
  content/blog/understanding-ssrf/admin.png
  content/blog/understanding-ssrf/cover.png
  content/blog/understanding-ssrf/index.adoc
  content/blog/understanding-ssrf/normal-case.png
  content/blog/understanding-ssrf/ssrf-vulnerable.png
  content/blog/understanding-ssrf/ssrf.png
  content/blog/understanding-ssrf/xss.png
Due: none

perf(back): #1635 use dataloaders
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/resolvers/vulnerability.py
  test_async/entity_test/test_vulnerability.py
Due: pylint, flake8

feat(infra): #449 increase cluster instance type
  infrastructure/terraform.tfvars
Due: none

feat(build): #1921.24 nix installer django back
  build/provisioners/deploy_front.nix
  build/provisioners/functional_tests_dev.nix
  build/provisioners/lint_back.nix
  build/provisioners/serve_back_dev.nix
  build/provisioners/test_back.nix
  django-apps/integrates-back-async/default.nix
  django-apps/integrates-back-async/setup.nix.sh
Due: shellcheck

feat(doc): #3135.18 create rule for mfa
  content/pages/findings/security/081/index.adoc
  content/pages/rules/authentication/328/index.adoc
Due: none

refac(back): #707.5 simplify code
  toolbox/analytics/logs.py
Due: pylint, flake8

feat(front): #3147.3 breadcrumb and article styles
  new/content/pages/careers/index.adoc
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/base.html
  new/theme/2020/templates/index.html
  new/theme/2020/templates/page.html
Due: html-tidy

feat(infra): #1969 increase pods resources
  deploy/integrates-k8s.yaml
  review-apps/deploy-integrates.yaml
Due: none

feat(back): #707.6 trace analytics
  toolbox/analytics/logs.py
Due: pylint, flake8

feat(conf): #448.2 trace_init and trace_end attrs
  analytics/conf/awsdynamodb.json
Due: none

refac(front): #1776 use replace instead of push
  front/src/scenes/Dashboard/containers/FindingContent/index.spec.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.tsx
Due: none

feat(doc): #3135.19 create rule 329
  content/pages/findings/security/085/index.adoc
  content/pages/rules/data/177/index.adoc
  content/pages/rules/data/329/index.adoc
Due: none

test(back): #1372 test mask finding
  test_async/domain_test/test_finding.py
Due: pylint, flake8

style(front): #1776 indent code
  front/src/scenes/Dashboard/components/Navbar/index.spec.tsx
  front/src/scenes/Dashboard/components/RemoveProjectModal/index.spec.tsx
  front/src/scenes/Dashboard/components/Sidebar/index.spec.tsx
  front/src/scenes/Dashboard/containers/ForcesIndicatorsView/index.spec.tsx
  front/src/scenes/Dashboard/containers/HomeView/index.spec.tsx
  front/src/scenes/Dashboard/containers/IndicatorsView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectDraftsView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectEventsView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectFindingsView/index.spec.tsx
Due: none

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
