Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

.pre-commit-config.yaml:

fail_fast: false
repos:
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    files: \.(sh)$
    args: [ "--external-sources", "--exclude=SC1090,SC2016,SC2153,SC2154" ]
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    files: \.(py)$
    args: []
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    files: \.(py)$
    args: []
  - id: html-tidy
    name: tidy
    entry: tidy
    language: system
    files: \.(html)$
    args: []

refac(front): #1942.9 improve routing
  mobile/src/app.tsx
  mobile/src/containers/LoginView/index.spec.tsx
  mobile/src/containers/LoginView/index.tsx
  mobile/src/containers/MenuView/index.spec.tsx
  mobile/src/containers/MenuView/index.tsx
  mobile/src/containers/MenuView/types.ts
  mobile/src/containers/WelcomeView/index.tsx
  mobile/src/containers/WelcomeView/types.ts
Due: none

feat(front): #934.2 use a set insted a dict
  build/python-requirements/test.lst
  build/shell.sh
  fluidasserts/helper/lang.py
  setup.cfg
Due: shellcheck, pylint, flake8

feat(doc): #3136 searching-history
  content/blog/searching-history/cover.png
  content/blog/searching-history/index.adoc
Due: none

feat(cross): #1949 change manager role
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  django-apps/integrates-back-async/backend/api/typesdef.py
  django-apps/integrates-back-async/backend/domain/user.py
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.tsx
  front/src/utils/translations/en.ts
Due: pylint, flake8

feat(doc): #3135.4 merge excessive privs fins
  content/pages/findings/security/031/index.adoc
  content/pages/findings/security/099/index.adoc
  content/pages/rules/authorization/095/index.adoc
  content/pages/rules/authorization/096/index.adoc
  content/pages/rules/data/186/index.adoc
  content/pages/rules/system/269/index.adoc
Due: none

feat(back): #1940 historic_verification resolver
  django-apps/integrates-back-async/backend/api/dataloaders/vulnerability.py
  django-apps/integrates-back-async/backend/api/resolvers/vulnerability.py
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  test_async/dynamo_data/FI_vulnerabilities.json
  test_async/dynamo_data/fi_vulnerabilities.json
Due: pylint, flake8

feat(back): #662.1 merge rows
  toolbox/constants.py
  toolbox/forces/sync.py
Due: pylint, flake8

refac(back): #765 dataloaders/user.py typing
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/dataloaders/user.py
Due: shellcheck, pylint, flake8

feat(doc): #3135.5 merge rules 186 and 269
  content/pages/findings/security/031/index.adoc
  content/pages/findings/security/101/index.adoc
  content/pages/rules/system/186/index.adoc
  content/pages/rules/system/269/index.adoc
Due: none

refac(front): #1942.10 improve error handling
  mobile/src/containers/LoginView/index.tsx
  mobile/src/containers/MenuView/index.tsx
  mobile/src/containers/WelcomeView/index.tsx
  mobile/src/utils/errorDialog.ts
  mobile/src/utils/translations/en.ts
Due: none

refac(front): #1942.11 properly set app theme
  mobile/src/app.tsx
  mobile/src/containers/MenuView/index.tsx
Due: none

refac(front): #1942.12 upgrade i18n
  mobile/package.json
  mobile/src/app.tsx
  mobile/src/containers/LoginView/index.tsx
  mobile/src/containers/MenuView/index.tsx
  mobile/src/containers/WelcomeView/index.tsx
  mobile/src/utils/translations/en.ts
  mobile/src/utils/translations/translate.ts
Due: none

perf(back): #1635 improve dataloaders
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/dataloaders/event.py
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
  django-apps/integrates-back-async/backend/api/dataloaders/vulnerability.py
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/report.py
  django-apps/integrates-back-async/backend/domain/event.py
  django-apps/integrates-back-async/backend/domain/finding.py
  django-apps/integrates-back-async/backend/domain/vulnerability.py
Due: shellcheck, pylint, flake8

refac(conf): #646.1 migrate exps with reason
  tests/test_cli.py
Due: pylint, flake8

feat(back): #646.3 linter
  toolbox/drills/push_repos.py
  toolbox/forces/lint.py
Due: pylint, flake8

feat(doc): #3135.6 merge fins 067 and 092
  content/pages/findings/security/067/index.adoc
  content/pages/findings/security/092/index.adoc
  content/pages/rules/architecture/072/index.adoc
  content/pages/rules/source/158/index.adoc
  content/pages/rules/source/164/index.adoc
  content/pages/rules/source/173/index.adoc
Due: none

refac(back): #657.1 no more boto three
  tests/test_drills_push_repos.py
  toolbox/drills/push_repos.py
Due: pylint, flake8

refac(back): #657.2 handle empty returns
  toolbox/drills/push_repos.py
Due: pylint, flake8

feat(cross): #646.4 linter, config, deploy, all
  tests/test_cli.py
  tests/test_toolbox.py
  toolbox/analytics/logs.py
  toolbox/api/asserts.py
  toolbox/cli/__init__.py
  toolbox/forces/lint.py
  toolbox/forces/sync.py
  toolbox/reports.py
  toolbox/toolbox.py
  toolbox/utils/forces.py
Due: pylint, flake8

feat(back): #931 allow adding trusted hosts
  fluidasserts/proto/http.py
Due: pylint, flake8

feat(front): #1952 add chat widget
  app/templates/app.html
  review-apps/ingress.yaml
Due: html-tidy

refac(back): #657.3 remove unused code
  toolbox/resources.py
Due: pylint, flake8

refac(infra): #440 allow zendesk widget
  infrastructure/eks/manifests/ingress/external.yaml
  infrastructure/eks/manifests/ingress/main-domains.yaml
Due: none

feat(front): #441.1 let us see the output
  analytics/git/clone_them.py
Due: pylint, flake8

feat(back): #1905 notify when manager changes
  django-apps/integrates-back-async/backend/domain/vulnerability.py
  django-apps/integrates-back-async/backend/mailer.py
Due: pylint, flake8

feat(doc): #2994.86 add reference for rule 302
  content/pages/rules/source/302/index.adoc
Due: none

feat(back): #1478 non blocking trigger
  deploy/containers/deps-app/requirements.txt
  django-apps/integrates-back-async/backend/util.py
Due: pylint, flake8

feat(job): #443.1 rename flag
  analytics/git/clone_them.py
  build/shell.sh
Due: shellcheck, pylint, flake8

feat(back): #916.1 charset is defined in meta
  fluidasserts/lang/html.py
  test/static/lang/html/content_type_safe.html
  test/static/lang/html/content_type_weak.html
  test/test_lang_html.py
Due: pylint, flake8, html-tidy

feat(back): #1869 add attr when updating tags
  django-apps/integrates-back-async/backend/dal/tag.py
  django-apps/integrates-back-async/backend/domain/tag.py
  fluidintegrates/settings.py
  test_async/domain_test/test_tag.py
Due: pylint, flake8

refac(doc): #3140 fix-searching-history
  content/blog/searching-history/index.adoc
Due: none

refac(back): #765 vulnerability.py typed
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/dataloaders/vulnerability.py
  django-apps/integrates-back-async/backend/api/resolvers/__init__.py
Due: shellcheck, pylint, flake8

fix(front): #3137 add padding in copyright
  new/theme/2020/templates/footer.html
Due: html-tidy

feat(build): #1921.7 infra_cache
  build.sh
  build/provisioners/infra_cache_db_deploy.nix
  build/provisioners/infra_cache_db_test.nix
Due: shellcheck

refac(back): #1949 remove unused code
  django-apps/integrates-back-async/backend/utils/authorization.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

fix(front): #3138 add padding in submenus
  new/theme/2020/templates/menu.html
Due: html-tidy

feat(cross): #1957.1 rename columns
  django-apps/integrates-back-async/backend/api/resolvers/forces.py
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  front/src/scenes/Dashboard/containers/ForcesIndicatorsView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ForcesIndicatorsView/index.tsx
  front/src/scenes/Dashboard/containers/ForcesIndicatorsView/queries.ts
  front/src/scenes/Dashboard/containers/ForcesIndicatorsView/types.ts
  front/src/scenes/Dashboard/containers/ProjectForcesView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectForcesView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectForcesView/queries.ts
  test_async/dynamo_data/bb_executions.json
  test_async/entity_test/test_forces.py
Due: pylint, flake8

refac(back): #765 decorators typing
  django-apps/integrates-back-async/backend/decorators.py
Due: pylint, flake8

feat(doc): #3135.7 merge fins 056 and 0057
  content/pages/findings/security/047/index.adoc
  content/pages/findings/security/056/index.adoc
  content/pages/findings/security/057/index.adoc
  content/pages/rules/architecture/266/index.adoc
  content/pages/rules/authentication/264/index.adoc
  content/pages/rules/services/265/index.adoc
Due: none
