Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

feat(back): #445.10 generic commig msg lint
  setup.py
  tests/test_generic_commit.py
  toolbox/cli/misc.py
  toolbox/generic/__init__.py
  toolbox/generic/commit.py
Due: pylint, flake8

feat(cross): #1922 enable request verification
  authorization/group_level.conf
  django-apps/integrates-back/backend/utils/authorization.py
  front/package.json
  front/src/scenes/Dashboard/components/Vulnerabilities/index.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/ActionButtons/index.spec.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/ActionButtons/index.tsx
  test/util_test/test_abac.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

feat(doc): #3088.10 add fins 008-010
  content/pages/findings/security/0008/index.adoc
  content/pages/findings/security/0009/index.adoc
  content/pages/findings/security/0010/index.adoc
  content/pages/rules/session/029/index.adoc
  content/pages/rules/source/156/index.adoc
  content/pages/rules/source/173/index.adoc
Due: none

refac(back): #765 some types
  app/documentator/pdf.py
  django-apps/integrates-back/backend/utils/reports.py
Due: pylint, flake8

refac(back): #1905 report generation refac
  django-apps/integrates-back-async/backend/api/resolvers/report.py
  django-apps/integrates-back/backend/dal/report.py
  django-apps/integrates-back/backend/domain/report.py
Due: pylint, flake8

feat(back): #511 migrated queries
  tests/test_api_integrates.py
  toolbox/api/integrates.py
Due: pylint, flake8

feat(back): #511 migrated mutations
  tests/test_api_integrates.py
  toolbox/api/integrates.py
  toolbox/helper/integrates.py
Due: pylint, flake8

feat(doc): #494 update documentation
  doc/conf.py
  doc/env.rst
  doc/index.rst
  doc/secrets.rst
  toolbox/cli/drills.py
Due: pylint, flake8

refac(job): #425 rename fluid cli flags
  analytics/git/clone_them.py
Due: pylint, flake8

refac(front): #490 rename flags
  tests/test_cli.py
  toolbox/cli/__init__.py
Due: pylint, flake8

feat(doc): #3088.11 add fins 011-012
  content/pages/findings/security/0011/index.adoc
  content/pages/findings/security/0012/index.adoc
  content/pages/rules/authentication/264/index.adoc
  content/pages/rules/services/262/index.adoc
Due: none

feat(back): #511 migration to apiv2
  toolbox/api/integrates.py
  toolbox/helper/integrates.py
Due: pylint, flake8

feat(doc): #490 rename fluid cli flags
  doc/index.rst
Due: none

feat(doc): #3088.12 add fins 013-014
  content/pages/findings/security/0013/index.adoc
  content/pages/findings/security/0014/index.adoc
  content/pages/rules/architecture/266/index.adoc
  content/pages/rules/data/176/index.adoc
Due: none

feat(build): #929 update dependencies
  build/python-requirements/test.lst
  requirements.txt
Due: none

feat(back): #445.11 drills commit msg validator
  tests/test_drills_commit.py
  toolbox/drills/commit.py
  toolbox/generic/commit.py
Due: pylint, flake8

feat(cross): #445.12 upgrade dps and rename
  requirements.txt
  tests/test_drills_commit.py
  tests/test_forces_commit.py
  tests/test_generic_commit.py
  toolbox/cli/misc.py
  toolbox/drills/commit.py
  toolbox/forces/commit.py
  toolbox/generic/commit.py
Due: pylint, flake8

feat(back): #1869 add open_finding attr
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  django-apps/integrates-back/backend/domain/project.py
  test_async/entity_test/test_project.py
Due: pylint, flake8

feat(front): #1869 add findings by project
  ephemeral_tests.py
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.spec.tsx
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.tsx
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/queries.ts
  front/src/utils/translations/en.ts
Due: pylint, flake8

feat(front): #2985.6 thank you page
  new/content/pages/contact-us/thank-you/index.adoc
  new/theme/2020/static/images/contact-us/bg-thank-you-page.png
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/thank-you.html
Due: html-tidy

feat(front): #2985.7 enable navigation
  new/theme/2020/templates/footer.html
  new/theme/2020/templates/landing.html
  new/theme/2020/templates/menu.html
  new/theme/2020/templates/products/drills.html
  new/theme/2020/templates/products/forces.html
  new/theme/2020/templates/products/integrates.html
  new/theme/2020/templates/use-cases/continuous.html
  new/theme/2020/templates/use-cases/one-shot.html
Due: html-tidy

refac(back): #511 removed unused code
  toolbox/api/integrates.py
Due: pylint, flake8

feat(doc): #3088.13 add fins 016-017
  content/pages/findings/security/0016/index.adoc
  content/pages/findings/security/0017/index.adoc
  content/pages/rules/architecture/266/index.adoc
  content/pages/rules/cryptography/145/index.adoc
  content/pages/rules/data/181/index.adoc
  content/pages/rules/session/032/index.adoc
  content/pages/rules/source/156/index.adoc
Due: none

feat(back): #387.4 get wheres data from integrates
  toolbox/api/integrates.py
  toolbox/sorts/get_data.py
Due: pylint, flake8

test(back): #1372 increase coverage
  test/test_util.py
Due: pylint, flake8

feat(infra): #431 integrates-async
  infrastructure/eks/manifests/ingress/main-domains.yaml
Due: none

feat(infra): #1635 apiv2 is now the default
  review-apps/ingress.yaml
Due: none

feat(cross): #445.13 add to the ci
  tests/test_forces_commit.py
  tests/test_generic_commit.py
  toolbox/cli/__init__.py
  toolbox/cli/drills.py
  toolbox/cli/misc.py
  toolbox/forces/commit.py
  toolbox/generic/commit.py
  toolbox/toolbox.py
  toolbox/utils.py
Due: pylint, flake8

style(front): #1918 change lax for tolerant
  front/src/scenes/Dashboard/containers/ProjectForcesView/index.tsx
  front/src/utils/translations/en.ts
Due: none

test(back): #1918 missing test for lax strictness
  front/src/scenes/Dashboard/containers/ProjectForcesView/index.tsx
  front/src/utils/translations/en.ts
  test/dynamo_data/bb_executions.json
Due: none

feat(doc): #3088.14 add fins 020, 022, 023
  content/pages/findings/security/0020/index.adoc
  content/pages/findings/security/0022/index.adoc
  content/pages/findings/security/0023/index.adoc
  content/pages/rules/data/181/index.adoc
  content/pages/rules/data/185/index.adoc
  content/pages/rules/source/173/index.adoc
Due: none

feat(front): #1905 enable new report delivery
  front/src/scenes/Dashboard/containers/ProjectFindingsView/index.tsx
  front/src/utils/translations/en.ts
Due: none

refac(front): #1837.8 migrate to abac
  front/src/scenes/Dashboard/containers/ProjectEventsView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectEventsView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Files/index.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Portfolio/index.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/index.tsx
Due: none

feat(back): #511.1 update integrates url
  toolbox/api/integrates.py
Due: pylint, flake8

feat(doc): #3088.15 add fins 024, 026, 027
  content/pages/findings/security/0024/index.adoc
  content/pages/findings/security/0026/index.adoc
  content/pages/findings/security/0027/index.adoc
  content/pages/rules/authentication/225/index.adoc
  content/pages/rules/files/040/index.adoc
  content/pages/rules/files/041/index.adoc
  content/pages/rules/networks/255/index.adoc
Due: none

refac(front): #1635 apiv2 is now api
  front/src/utils/apollo.ts
Due: none

fix(back): #1635 cache on complex fields
  django-apps/integrates-back-async/backend/api/resolvers/project.py
Due: pylint, flake8

feat(doc): #3088.16 add fins 029, 030
  content/pages/findings/security/0026/index.adoc
  content/pages/findings/security/0029/index.adoc
  content/pages/findings/security/0030/index.adoc
  content/pages/rules/data/181/index.adoc
  content/pages/rules/files/039/index.adoc
  content/pages/rules/session/032/index.adoc
Due: none

fix(front): #3091 fixes in contact page
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/contact-us.html
Due: html-tidy

feat(doc): #3090 new-post-rules
  content/blog/rules-new-standard/cover.png
  content/blog/rules-new-standard/index.adoc
  content/blog/rules-new-standard/standards.png
Due: none

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
