Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

feat(back): #445.23 hundred deltas limit
  tests/test_generic_commit.py
  tests/test_utils_generic.py
  toolbox/generic/commit.py
  toolbox/utils/generic.py
Due: pylint, flake8

feat(cross): #445.24 add to ci and ignore rule
  tests/test_generic_commit.py
  toolbox/cli/misc.py
  toolbox/generic/commit.py
Due: pylint, flake8

feat(doc): #3088.19 add fins 033, 034, 035
  content/pages/findings/security/033/index.adoc
  content/pages/findings/security/034/index.adoc
  content/pages/findings/security/035/index.adoc
  content/pages/rules/authentication/238/index.adoc
  content/pages/rules/credentials/132/index.adoc
  content/pages/rules/credentials/133/index.adoc
  content/pages/rules/credentials/134/index.adoc
  content/pages/rules/credentials/135/index.adoc
  content/pages/rules/credentials/139/index.adoc
  content/pages/rules/cryptography/223/index.adoc
  content/pages/rules/cryptography/224/index.adoc
Due: none

refac(back): #521.8 pull repos
  tests/test_drills_pull_repos.py
  toolbox/cli/__init__.py
  toolbox/drills/__init__.py
  toolbox/drills/cli.py
  toolbox/drills/pull_repos.py
  toolbox/resources.py
  toolbox/utils/does_subs_exist.py
  toolbox/utils/generic.py
Due: pylint, flake8

refac(back): #521.9 rmtree
  tests/test_drills_pull_repos.py
Due: pylint, flake8

refac(front): #1837.12 migrate to abac
  front/src/scenes/Dashboard/components/FindingActions/index.spec.tsx
  front/src/scenes/Dashboard/components/FindingActions/index.tsx
  front/src/scenes/Dashboard/components/UpdateVerificationModal/index.spec.tsx
  front/src/scenes/Dashboard/components/UpdateVerificationModal/index.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/uploadFile.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.spec.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.tsx
  front/src/scenes/Dashboard/containers/FindingContent/queries.ts
  front/src/scenes/Dashboard/containers/SeverityView/index.tsx
Due: none

refac(job): #1635 one app serve job
  build/include/jobs.sh
  front/src/utils/apollo.ts
Due: shellcheck

refac(front): #1837.13 migrate to abac
  front/src/scenes/Dashboard/components/RemoveProjectModal/index.tsx
  front/src/scenes/Dashboard/containers/ProjectUsersView/index.tsx
Due: none

refac(back): #765 resolvers/project.py typing
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
  django-apps/integrates-back-async/backend/api/dataloaders/user.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/typing.py
  django-apps/integrates-back-async/backend/util.py
Due: pylint, flake8

feat(front): #1869 add open findings indicator
  ephemeral_tests.py
  front/src/components/ScrollUpButton/index.tsx
  front/src/scenes/Dashboard/components/IndicatorStack/index.css
  front/src/scenes/Dashboard/components/Navbar/index.tsx
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.tsx
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/queries.ts
  front/src/scenes/Dashboard/index.tsx
  front/src/styles/global.css
  front/src/utils/translations/en.ts
Due: pylint, flake8

refac(back): #1635 removed old authz files
  authorization/group_level.conf
  authorization/user_level.conf
  django-apps/integrates-back-async/backend/decorators.py
  django-apps/integrates-back-async/backend/utils/authorization.py
Due: pylint, flake8

feat(back): #1905 report name randomly generated
  app/documentator/pdf.py
  app/techdoc/it_report.py
  django-apps/integrates-back-async/backend/domain/report.py
Due: pylint, flake8

refac(back): #526.1 remove unneeded code
  toolbox/forces/sync.py
Due: pylint, flake8

feat(front): #526.2 rm and add msg
  toolbox/forces/sync.py
  toolbox/generic/commit.py
Due: pylint, flake8

feat(cross): #562.3 rm more deadweight
  tests/test_forces_lint.py
  toolbox/forces/lint.py
  toolbox/forces/sync.py
Due: pylint, flake8

fix(back): #1635 enforce resolver
  django-apps/integrates-back-async/backend/api/resolvers/project.py
Due: pylint, flake8

refac(back): #435.1 update commands
  analytics/git/clone_them.py
  build/include/helpers.sh
  services/user-provision/continuous/dev/terraform/policy-continuous-dev.tf
Due: shellcheck, pylint, flake8

refac(back): #1635 delete unused code
  app/urls.py
  build/dependencies/requirements-async.nix
  build/dependencies/requirements-async.txt
  build/include/jobs.sh
  build/provisioners/full.nix
  build/provisioners/test.nix
  django-apps/integrates-back-async/backend/decorators.py
  django-apps/integrates-back-async/backend/util.py
  fluidintegrates/asgi.py
Due: shellcheck, pylint, flake8

refac(back): #765 resolvers/project.py typed
  django-apps/integrates-back-async/backend/api/resolvers/project.py
Due: pylint, flake8

feat(back): #542.1 add retrial mechanism
  toolbox/api/integrates.py
  toolbox/reports.py
Due: pylint, flake8

feat(back): #1905 random uploaded report name
  django-apps/integrates-back-async/backend/utils/reports.py
Due: pylint, flake8

refac(back): #765 missing return type
  django-apps/integrates-back-async/backend/domain/report.py
Due: pylint, flake8

refac(back): #765 resolvers/report.py typed
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/resolvers/report.py
Due: shellcheck, pylint, flake8

test(back): #1372 increase coverage
  test_async/domain_test/test_project.py
Due: pylint, flake8

feat(back): #1905 seconds removed from mail ctx
  django-apps/integrates-back-async/backend/utils/reports.py
Due: pylint, flake8

feat(infra): #436.1 add sagemaker permissions
  services/user-provision/continuous/prod/terraform/policy-continuous-prod.tf
Due: none

fix(back): #543.1 path and missing check
  toolbox/resources.py
  toolbox/rules.def
Due: pylint, flake8

feat(doc): #3088.20 add fins 038, 039, 040
  content/pages/findings/security/035/index.adoc
  content/pages/findings/security/038/index.adoc
  content/pages/findings/security/039/index.adoc
  content/pages/findings/security/040/index.adoc
  content/pages/rules/architecture/320/index.adoc
  content/pages/rules/authorization/096/index.adoc
  content/pages/rules/data/176/index.adoc
  content/pages/rules/data/177/index.adoc
  content/pages/rules/data/300/index.adoc
  content/pages/rules/services/265/index.adoc
Due: none

feat(job): #432 escape single quotes
  analytics/singer/target_redshift/target_redshift/__init__.py
Due: pylint, flake8

feat(doc): #3088.21 add fins 041, 042, 045
  content/pages/findings/security/041/index.adoc
  content/pages/findings/security/042/index.adoc
  content/pages/findings/security/045/index.adoc
  content/pages/rules/credentials/142/index.adoc
  content/pages/rules/session/029/index.adoc
  content/pages/rules/source/173/index.adoc
Due: none

fix(infra): #436.2 widen sagemaker permission
  services/user-provision/continuous/prod/terraform/policy-continuous-prod.tf
Due: none

feat(back): #1924 add filters to findings
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  django-apps/integrates-back-async/backend/util.py
  test_async/entity_test/test_project.py
Due: pylint, flake8

feat(back): #521.10 add helpers
  toolbox/drills/push_repos.py
Due: pylint, flake8

refac(cross): #1837.14 migrate to abac
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
  django-apps/integrates-back-async/backend/utils/authorization.py
  front/src/scenes/Dashboard/components/Vulnerabilities/index.spec.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/index.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/queries.ts
  front/src/scenes/Dashboard/components/Vulnerabilities/types.ts
  front/src/scenes/Dashboard/components/Vulnerabilities/updateTreatment.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/uploadFile.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/index.tsx
  front/src/scenes/Dashboard/containers/TrackingView/index.spec.tsx
  front/src/scenes/Dashboard/containers/TrackingView/index.tsx
  test_async/util_test/test_abac.py
Due: pylint, flake8

feat(cross): #548.1 missing validation
  toolbox/forces/sync.py
Due: pylint, flake8

feat(back): #549.1 handle content type error
  toolbox/api/integrates.py
Due: pylint, flake8

refac(back): #765 resolvers/resource.py typing
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/resolvers/resource.py
  django-apps/integrates-back-async/backend/typing.py
Due: shellcheck, pylint, flake8

feat(doc): #3088.22 add fins 047-049
  content/pages/findings/security/033/index.adoc
  content/pages/findings/security/034/index.adoc
  content/pages/findings/security/035/index.adoc
  content/pages/findings/security/038/index.adoc
  content/pages/findings/security/039/index.adoc
  content/pages/findings/security/040/index.adoc
  content/pages/findings/security/041/index.adoc
  content/pages/findings/security/042/index.adoc
  content/pages/findings/security/047/index.adoc
  content/pages/findings/security/048/index.adoc
  content/pages/findings/security/049/index.adoc
  content/pages/rules/architecture/263/index.adoc
  content/pages/rules/architecture/266/index.adoc
  content/pages/rules/certificates/089/index.adoc
  content/pages/rules/certificates/090/index.adoc
  content/pages/rules/certificates/091/index.adoc
  content/pages/rules/certificates/092/index.adoc
  content/pages/rules/certificates/093/index.adoc
Due: none

feat(back): #521.11 add helpers
  toolbox/drills/push_repos.py
Due: pylint, flake8

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
