Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

feat(build): #1921.8 infra jobs
  build.sh
  build/provisioners/infra_django_db_deploy.nix
  build/provisioners/infra_django_db_test.nix
  build/provisioners/infra_resources_deploy.nix
  build/provisioners/infra_resources_test.nix
  build/provisioners/infra_secret_management_deploy.nix
  build/provisioners/infra_secret_management_test.nix
Due: shellcheck

fix(front): #3139 prevent location from wrapping
  new/theme/2020/templates/location.html
Due: html-tidy

feat(conf): #444 add form to formstack etl
  analytics/conf/formstack.json
Due: none

test(back): #1372 test update all pending vulns
  test_async/domain_test/test_vulnerability.py
  test_async/entity_test/test_project.py
Due: pylint, flake8

feat(cross): #650.1 rename subscription to group
  tests/conftest.py
  tests/test_api_asserts.py
  tests/test_cli.py
  tests/test_drills_push_repos.py
  tests/test_resources.py
  tests/test_toolbox.py
  tests/test_utils_forces.py
  toolbox/analytics/logs.py
  toolbox/cli/__init__.py
  toolbox/cli/misc.py
  toolbox/drills/__init__.py
  toolbox/drills/cli.py
  toolbox/drills/commit.py
  toolbox/drills/generate_commit_msg.py
  toolbox/drills/pull_repos.py
  toolbox/drills/push_repos.py
  toolbox/drills/take_group_snapshot.py
  toolbox/drills/to_reattack.py
  toolbox/drills/update_lines.py
  toolbox/drills/upload_history.py
  toolbox/forces/commit.py
  toolbox/forces/lint.py
  toolbox/forces/secrets.py
  toolbox/forces/sync.py
  toolbox/reports.py
  toolbox/resources.py
  toolbox/sorts/get_data.py
  toolbox/toolbox.py
  toolbox/utils/cli.py
  toolbox/utils/does_subs_exist.py
  toolbox/utils/forces.py
  toolbox/utils/generic.py
  toolbox/utils/get_commit_subs.py
  toolbox/utils/integrates.py
  vpns/include/generic.sh
Due: shellcheck, pylint, flake8

feat(build): #1921.9 parallelize build caches
  .gitlab-ci.yml
  build/Dockerfile
  build/include/helpers.sh
  build/include/jobs.sh
  build/provisioners/build_nix_caches.nix
Due: shellcheck

fix(front): #3141 change sizes and color of titles
  new/theme/2020/templates/landing.html
Due: html-tidy

refac(cross): #445.1 repo structure rename
  analytics/continuous/streamer_toe.py
  analytics/git/clone_them.py
  analytics/git/generate_config.py
  analytics/git/generate_stats.py
  analytics/git/taint.py
  analytics/git/taint_all.sh
  build/include/helpers.sh
Due: shellcheck, pylint, flake8

perf(back): #1635 project dataloader
  django-apps/integrates-back-async/backend/api/dataloaders/project.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/resolvers/report.py
  django-apps/integrates-back-async/backend/api/view.py
  django-apps/integrates-back-async/backend/util.py
  test_async/entity_test/test_project.py
  test_async/entity_test/test_report.py
  test_async/entity_test/test_tag.py
  test_async/test_util.py
Due: pylint, flake8

refac(front): #1952 remove intercom prod secrets
  secrets-production.yaml
Due: none

feat(cross): #1952 delete intercom chat
  __init__.py
  app/pipeline/intercom_custom_data.py
  app/templates/app.html
  app/views.py
  ci-scripts/helpers/sops.sh
  deploy/containers/deps-app/requirements.txt
  fluidintegrates/settings.py
  review-apps/ingress.yaml
  secrets-development.yaml
Due: shellcheck, pylint, flake8, html-tidy

feat(doc): #3135.8 merge fins 032 and 094
  content/pages/findings/hygiene/037/index.adoc
  content/pages/findings/hygiene/058/index.adoc
  content/pages/findings/hygiene/113/index.adoc
  content/pages/findings/security/032/index.adoc
  content/pages/findings/security/094/index.adoc
  content/pages/rules/architecture/320/index.adoc
  content/pages/rules/authorization/035/index.adoc
  content/pages/rules/authorization/096/index.adoc
  content/pages/rules/data/176/index.adoc
  content/pages/rules/logs/077/index.adoc
  content/pages/rules/services/265/index.adoc
  content/pages/rules/source/164/index.adoc
  content/pages/rules/source/173/index.adoc
Due: none

refac(back): #765 decorators typed
  django-apps/integrates-back-async/backend/decorators.py
Due: pylint, flake8

fix(front): #3142 more padding for demo button
  new/theme/2020/templates/landing.html
Due: html-tidy

test(front): #1942.13 multiplatform tests
  mobile/jest.config.js
  mobile/jestSetup.ts
  mobile/package.json
  mobile/src/app.tsx
  mobile/src/components/Preloader/index.spec.tsx
  mobile/src/components/Preloader/index.tsx
  mobile/src/containers/LoginView/index.spec.android.tsx
  mobile/src/containers/LoginView/index.spec.tsx
  mobile/src/containers/LoginView/index.tsx
  mobile/src/containers/MenuView/index.spec.tsx
Due: none

fix(front): #3143 less padding in use cases button
  new/theme/2020/templates/landing.html
Due: html-tidy

refac(back): #494.8 delete unused code
  tests/test_api_integrates.py
  toolbox/api/integrates.py
Due: pylint, flake8

fix(back): #1905 ensure project name
  django-apps/integrates-back-async/backend/api/resolvers/report.py
Due: pylint, flake8

feat(back): #521.15 to-reattack summary
  tests/test_drills_to_reattack.py
  toolbox/drills/to_reattack.py
Due: pylint, flake8

refac(build): #1921.10 build caches schedule
  .gitlab-ci.yml
  build.sh
Due: shellcheck

feat(doc): #3135.9 merge fins 006 and 012
  content/pages/findings/security/006/index.adoc
  content/pages/findings/security/012/index.adoc
  content/pages/rules/authentication/264/index.adoc
Due: none

feat(infra): #1635 increase timeout
  build/include/jobs.sh
  deploy/containers/common/vars/run.sh
Due: shellcheck

refac(job): #295 reduce parallel jobs
  .gitlab-ci.yml
Due: none

fix(build): #1959 pin subdependency
  front/npm-shrinkwrap.json
Due: none

refac(back): #1911 vulns domain refactored
  django-apps/integrates-back-async/backend/domain/finding.py
  django-apps/integrates-back-async/backend/domain/vulnerability.py
  django-apps/integrates-back-async/backend/utils/vulnerabilities.py
  test_async/domain_test/test_vulnerability.py
Due: pylint, flake8

feat(back): #1869 filter out tags
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/api/resolvers/tag.py
  django-apps/integrates-back-async/backend/dal/project.py
  django-apps/integrates-back-async/backend/domain/tag.py
  django-apps/integrates-back-async/backend/domain/user.py
  ephemeral_tests.py
  test_async/domain_test/test_project.py
  test_async/dynamo_data/FI_projects.json
  test_async/dynamo_data/fi_portfolios.json
  test_async/entity_test/test_me.py
  test_async/entity_test/test_project.py
  test_async/entity_test/test_tag.py
Due: pylint, flake8

fix(job): #678.1 rename group to subscription
  toolbox/forces/sync.py
Due: pylint, flake8

feat(back): #1635 use dataloader
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/domain/vulnerability.py
Due: pylint, flake8

feat(front): #521.14 add request age to output
  toolbox/drills/to_reattack.py
Due: pylint, flake8

feat(back): #1911 mail sending enabled
  django-apps/integrates-back-async/backend/domain/vulnerability.py
Due: pylint, flake8

refac(back): #765 util.py typed
  django-apps/integrates-back-async/backend/util.py
Due: pylint, flake8

fix(doc): #3070.1 minor typo in blog
  content/blog/infinite-monkey-fuzzer/index.adoc
Due: none

feat(back): #399.1 add api functions
  tests/test_api_integrates.py
  toolbox/api/integrates.py
Due: pylint, flake8

fix(back): #1204.5 set transaction names
  django-apps/integrates-back-async/backend/api/view.py
Due: pylint, flake8

perf(back): #1635 del pointless calls
  django-apps/integrates-back-async/backend/api/resolvers/project.py
Due: pylint, flake8

feat(back): #399.2 spool file wrapper
  tests/test_api_integrates.py
  toolbox/utils/__init__.py
  toolbox/utils/tempfile.py
Due: pylint, flake8

test(back): #1372 test update vuln state
  test_async/domain_test/test_vulnerability.py
  test_async/entity_test/test_project.py
Due: pylint, flake8

fix(front): #3144 remove white line on big screens
  new/theme/2020/templates/landing.html
Due: html-tidy

feat(back): #399.3 group exps uploader
  toolbox/forces/__init__.py
  toolbox/forces/upload.py
Due: pylint, flake8

feat(build): #1921.11 infra provisioners
  .gitlab-ci.yml
  build/dependencies/requirements.txt
  build/provisioners/deploy-front.nix
  build/provisioners/full.nix
  build/provisioners/selenium.nix
  build/provisioners/test.nix
Due: none

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
