Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

refac(front): #2009.4 update phone input dep
  front/package.json
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.spec.tsx
  front/src/utils/forms/fields.tsx
  front/src/utils/forms/index.css
Due: none

refac(front): #2008 change fluid integrates logo
  front/src/resources/integrates.png
  front/src/resources/integrates.svg
  front/src/scenes/Dashboard/components/Sidebar/index.css
  front/src/scenes/Dashboard/components/Sidebar/index.tsx
  front/src/scenes/Login/containers/Access/index.css
  front/src/scenes/Login/containers/Access/index.tsx
Due: none

refac(front): #2009.5 update apollo deps
  front/package.json
  front/src/app.tsx
  front/src/utils/apollo.ts
  mobile/package.json
Due: none

refac(front): #2009.6 update typescript
  front/package.json
  front/src/scenes/Dashboard/containers/ProjectDraftsView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectUsersView/index.tsx
  mobile/package.json
Due: none

feat(build): #938.2 api_cloud_aws_cloudformation
  .envrc.public
  .gitignore
  .gitlab-ci.yml
  build2.sh
  build2/Dockerfile
  build2/builders/python-package-local/default.nix
  build2/dependencies/tests.lst
  build2/include/cli.sh
  build2/include/generic/shell-options.sh
  build2/include/helpers.sh
  build2/include/jobs.sh
  build2/provisioners/test_asserts_api_cloud_aws_cloudformation.nix
Due: shellcheck

feat(back): #936.15 add funcs to load resources
  fluidasserts/cloud/aws/cloudformation/graph.py
Due: pylint, flake8

fix(front): #3234 line height of paragraphs
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/article.html
Due: html-tidy

fix(front): #3233 fix white spaces in the banner
  new/theme/2020/static/scss/base.scss
Due: none

feat(job): #457.1 forward and backward index
  analytics/singer/tap_awsdynamodb/tap_awsdynamodb/__init__.py
Due: pylint, flake8

feat(back): #458.1 positive index
  analytics/singer/tap_awsdynamodb/tap_awsdynamodb/__init__.py
Due: pylint, flake8

refac(back): #2011.3 split actions
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/authz/__init__.py
  django-apps/integrates-back-async/backend/authz/boundary.py
  django-apps/integrates-back-async/backend/authz/enforcer.py
  django-apps/integrates-back-async/backend/authz/model.py
  django-apps/integrates-back-async/backend/domain/user.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

refac(front): #2009.7 update some other deps
  front/package.json
  front/src/scenes/Dashboard/containers/FindingContent/index.spec.tsx
  front/src/utils/translations/translate.ts
  mobile/package.json
  mobile/src/containers/LoginView/index.spec.android.tsx
  mobile/src/containers/WelcomeView/index.tsx
Due: none

fix(front): #3237 fix style for links
  new/theme/2020/static/scss/base.scss
Due: none

feat(build): #938.3 nixify asserts dependencies
  .gitlab-ci.yml
  build2/Dockerfile
  build2/builders/python-requirements/default.nix
  build2/include/env.sh
  build2/include/jobs.sh
  build2/provisioners/test_asserts_api_cloud_aws_terraform.nix
  build2/provisioners/test_asserts_api_cloud_gcp.nix
  default.nix
  setup.nix.sh
Due: shellcheck

fix(back): #2019 add first tag to project
  django-apps/integrates-back-async/backend/api/resolvers/project.py
Due: pylint, flake8

fix(front): #3238 reduce horizontal padding
  new/theme/2020/templates/article.html
  new/theme/2020/templates/page.html
Due: html-tidy

style(front): #1997 indent code
  front/src/utils/apollo.ts
Due: none

feat(doc): #2994.95 add epr ref for rules 176
  content/pages/rules/data/176/index.adoc
Due: none

refac(cross): #2021 remove push notifications
  deploy/containers/app/requirements.txt
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/api/schemas/mutations.graphql
  django-apps/integrates-back-async/backend/domain/vulnerability.py
  django-apps/integrates-back-async/backend/utils/notifications.py
  fluidintegrates/settings.py
  fluidintegrates/translations/en.json
  mobile/src/containers/LoginView/index.tsx
  mobile/src/containers/WelcomeView/index.tsx
  mobile/src/containers/WelcomeView/queries.ts
  mobile/src/containers/WelcomeView/types.ts
  mobile/src/utils/notifications.ts
  test_async/entity_test/test_me.py
Due: pylint, flake8

feat(back): #2011.4 more with less
  django-apps/integrates-back-async/backend/authz/__init__.py
  django-apps/integrates-back-async/backend/authz/model.py
  django-apps/integrates-back-async/backend/authz/policy.py
  django-apps/integrates-back-async/backend/domain/user.py
  test_async/authz_test/test_enforcer.py
  test_async/authz_test/test_model.py
  test_async/domain_test/test_user.py
Due: pylint, flake8

test(back): #2011.6 add more tests
  test_async/authz_test/test_enforcer.py
  test_async/authz_test/test_policy.py
Due: pylint, flake8

feat(build): #938.4 cloud azure test
  .gitlab-ci.yml
  build2/include/env.sh
  build2/provisioners/test_asserts_api_cloud_azure.nix
Due: shellcheck

feat(back): #835 elb listeneers use https
  fluidasserts/cloud/aws/elb2.py
  test/test_cloud_aws_elb2.py
Due: pylint, flake8

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/containers/ProjectUsersView/index.spec.tsx
Due: none

feat(front): #1965 tags extra validations
  front/src/utils/forms/fields.tsx
Due: none

test(back): #2011.5 remove old tests
  test_async/util_test/test_abac.py
Due: pylint, flake8

feat(doc): #2994.96 add epr ref for r176 and r320
  content/pages/rules/architecture/320/index.adoc
  content/pages/rules/data/176/index.adoc
  content/pages/rules/services/265/index.adoc
Due: none

fix(front): #2022 keep recods value if 0
  front/src/scenes/Dashboard/components/EditableField/index.tsx
  front/src/utils/formatHelpers.ts
Due: none

feat(build): #938.5 tests
  .gitlab-ci.yml
  build2/include/jobs.sh
  build2/provisioners/test_asserts_api_cloud_aws_terraform.nix
  build2/provisioners/test_asserts_api_cloud_gcp.nix
  build2/provisioners/test_asserts_api_cloud_kubernetes.nix
  build2/provisioners/test_asserts_api_db_mssql.nix
  build2/provisioners/test_asserts_api_db_mysql.nix
  test/provision/mssql/hard/commands.sh
Due: shellcheck

fix(front): #3235 center images in blogs
  new/theme/2020/static/scss/base.scss
Due: none

refac(front): #2009.8 update some deps
  front/package.json
  mobile/package.json
Due: none

refac(front): #1942.14 enable fast refresh
  mobile/appEntry.ts
  mobile/package.json
  mobile/src/app.tsx
Due: none

refac(front): #2008 change fluid integrates logo
  app/documentator/resources/themes/background.jpg
  app/documentator/resources/themes/background.png
  app/documentator/resources/themes/fluid-theme.yml
  front/src/scenes/Registration/containers/WelcomeView/index.tsx
Due: none

fix(front): #3239 styles for images footer
  new/theme/2020/static/scss/base.scss
Due: none

refac(back): #2011.7 centralize code
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/authz/__init__.py
  django-apps/integrates-back-async/backend/authz/boundary.py
  ephemeral_tests.py
  test_async/authz_test/test_boundary.py
Due: pylint, flake8

fix(front): #3240 style for quoted text
  new/theme/2020/static/scss/base.scss
Due: none

refac(back): #936.16 optimize some statements
  fluidasserts/cloud/aws/cloudformation/graph.py
Due: pylint, flake8

fix(front): #3236 style for tables
  new/theme/2020/static/scss/base.scss
Due: none

feat(build): #938.6 tests
  .gitlab-ci.yml
  build2/include/jobs.sh
  build2/provisioners/test_asserts_api_db_postgres.nix
  build2/provisioners/test_asserts_api_format.nix
  build2/provisioners/test_asserts_api_helper.nix
  build2/provisioners/test_asserts_api_iot.nix
Due: shellcheck

feat(front): #2027 show error in tag validations
  front/src/utils/forms/fields.tsx
Due: none

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
