Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

perf(back): #1635 free resources
  django-apps/integrates-back-async/backend/util.py
Due: pylint, flake8

feat(back): #1965 project fields validation
  django-apps/integrates-back-async/backend/domain/project.py
  django-apps/integrates-back-async/backend/utils/validations.py
Due: pylint, flake8

feat(back): #1965 extended validations coverage
  django-apps/integrates-back-async/backend/utils/validations.py
Due: pylint, flake8

feat(back): #835 alarm on cloudtrail changes
  fluidasserts/cloud/aws/cloudwatch.py
  test/test_cloud_aws_cloudwatch.py
Due: pylint, flake8

test(back): #1372 test validate evidence exploit
  test_async/domain_test/test_finding.py
  test_async/mock/test-exploit.py
Due: pylint, flake8

fix(job): #450.1 use base error classes
  analytics/singer/tap_awsdynamodb/tap_awsdynamodb/__init__.py
Due: pylint, flake8

feat(back): #835 alarm on console login fail
  fluidasserts/cloud/aws/cloudwatch.py
  test/test_cloud_aws_cloudwatch.py
Due: pylint, flake8

refac(back): #1776 use base url constant
  __init__.py
  app/documentator/pdf.py
  app/views.py
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/domain/event.py
  django-apps/integrates-back-async/backend/domain/resources.py
  django-apps/integrates-back-async/backend/domain/vulnerability.py
  django-apps/integrates-back-async/backend/mailer.py
  django-apps/integrates-back-async/backend/scheduler.py
  django-apps/integrates-back-async/backend/utils/findings.py
  ephemeral_tests.py
  fluidintegrates/settings.py
Due: pylint, flake8

feat(cross): #725.1 email in coverage exclutions
  toolbox/drills/count_toe.py
  toolbox/drills/pull_repos.py
Due: pylint, flake8

feat(infra): #1969.2 increase pod replica number
  deploy/integrates-k8s.yaml
Due: none

fix(back): #1972 fix deleting vulns
  django-apps/integrates-back-async/backend/api/resolvers/vulnerability.py
Due: pylint, flake8

feat(cross): #1973 replace graphql exceptions
  django-apps/integrates-back-async/backend/exceptions.py
  django-apps/integrates-back-async/backend/utils/validations.py
  front/src/scenes/Dashboard/containers/DescriptionView/TreatmentView/index.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Environments/index.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Files/index.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Repositories/index.tsx
  front/src/scenes/Dashboard/containers/ProjectUsersView/index.tsx
  front/src/utils/translations/en.ts
Due: pylint, flake8

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/components/AddRepositoriesModal/index.spec.tsx
Due: none

feat(back): #835 alarm on ec2 instance changes
  fluidasserts/cloud/aws/cloudwatch.py
  test/test_cloud_aws_cloudwatch.py
Due: pylint, flake8

test(back): #1372 test validate evidence records
  test_async/domain_test/test_finding.py
  test_async/mock/test-file-records.csv
Due: pylint, flake8

refac(cross): #535.2 update references
  toolbox/utils/generic.py
Due: pylint, flake8

refac(cross): #535.3 update references
  tests/conftest.py
  tests/test_api_asserts.py
  tests/test_forces_commit.py
  toolbox/resources.py
Due: pylint, flake8

feat(doc): #3157.1 specify headers for api servers
  content/pages/findings/hygiene/043/index.adoc
Due: none

feat(back): #1503 updated prod deps
  deploy/containers/app/requirements.txt
Due: none

test(back): #1965 validations tests
  test_async/test_validations.py
Due: pylint, flake8

refac(cross): #451.1 rename continuous to services
  .gitlab-ci.yml
  analytics/git/clone_them.py
  analytics/git/clone_us.py
  analytics/git/generate_config.py
  analytics/git/generate_stats.py
  analytics/git/taint_all.sh
  analytics/services/streamer_toe.py
  build/dependencies/default.nix
  build/include/cli.sh
  build/include/helpers.sh
  build/include/jobs.sh
  build/shell.nix
  services/user-provision/services/dev/terraform/continuous-dev.tf
  services/user-provision/services/dev/terraform/main.tf
  services/user-provision/services/dev/terraform/outputs.tf
  services/user-provision/services/dev/terraform/policy-continuous-dev.tf
  services/user-provision/services/dev/terraform/variables.tf
  services/user-provision/services/prod/terraform/continuous-prod.tf
  services/user-provision/services/prod/terraform/main.tf
  services/user-provision/services/prod/terraform/outputs.tf
  services/user-provision/services/prod/terraform/policy-continuous-prod.tf
  services/user-provision/services/prod/terraform/policy-dynamo.tf
  services/user-provision/services/prod/terraform/variables.tf
Due: shellcheck, pylint, flake8

feat(back): #936.4 load template conditions
  fluidasserts/cloud/aws/cloudformation/graph.py
  fluidasserts/helper/aws.py
Due: pylint, flake8

fix(back): #731.1 inputs file changed its headers
  toolbox/drills/generate_commit_msg.py
Due: pylint, flake8

refac(infra): #452.1 delete unused code
  analytics/infrastructure/env.tfvars
  analytics/infrastructure/iam.tf
  analytics/infrastructure/output.tf
  analytics/infrastructure/vars.tf
Due: none

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/components/FileInput/index.spec.tsx
Due: none

fix(infra): #1943.2 allow prod role to use key
  deploy/secret-management/terraform/key-prod.tf
Due: none

feat(back): #835 alarm on iam policy changes
  fluidasserts/cloud/aws/cloudwatch.py
  test/test_cloud_aws_cloudwatch.py
Due: pylint, flake8

feat(front): #3147.4 add content for careers
  build/include/helpers-deploy.sh
  content/pages/careers/index.adoc
  new/content/pages/careers/index.adoc
  new/theme/2020/templates/page.html
Due: shellcheck, html-tidy

fix(back): #1976 async close resource
  django-apps/integrates-back-async/backend/util.py
Due: pylint, flake8

test(back): #1372 get finding historic treatment
  test_async/domain_test/test_finding.py
Due: pylint, flake8

feat(infra): #453.1 grant terraform access
  services/user-provision/services/dev/terraform/policy-continuous-dev.tf
Due: none

rever(infra): #1932 timeout to original value
  build/include/helpers.sh
  deploy/containers/common/vars/run.sh
Due: shellcheck

feat(back): #835 alarm on gateway changes
  fluidasserts/cloud/aws/cloudwatch.py
  test/test_cloud_aws_cloudwatch.py
Due: pylint, flake8

refac(build): #1961.7 improve mobile build
  build/builders/turtle-shell/builder.sh
  build/builders/turtle-shell/default.nix
  build/include/generic/dir-structure.sh
  build/provisioners/build_mobile.nix
Due: shellcheck

feat(back): #936.5 allow funcs use lists of funcs
  fluidasserts/cloud/aws/cloudformation/graph.py
Due: pylint, flake8

feat(infra): #453.2 grant test_toolbox access
  services/user-provision/services/dev/terraform/policy-continuous-dev.tf
Due: none

feat(back): #835 alarm on network acl changes
  fluidasserts/cloud/aws/cloudwatch.py
  test/test_cloud_aws_cloudwatch.py
Due: pylint, flake8

feat(front): #1965 resources fields length limit
  front/src/scenes/Dashboard/components/AddEnvironmentsModal/index.tsx
  front/src/scenes/Dashboard/components/AddRepositoriesModal/index.tsx
  front/src/utils/translations/en.ts
  front/src/utils/validations.ts
Due: none

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/components/AddTagsModal/index.spec.tsx
Due: none

feat(cross): #3147.5 added content to format page
  build/include/helpers-deploy.sh
  new/theme/2020/templates/page.html
Due: shellcheck, html-tidy

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
