Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

feat(doc): #2994.59 add references for rule 229
  content/pages/rules/authentication/229/index.adoc
Due: none

feat(doc): #2994.60 add references for rule 227
  content/pages/rules/authentication/227/index.adoc
Due: none

feat(build): #1905 reports bucket added to envs
  __init__.py
Due: pylint, flake8

feat(back): #423 add more flags to cli
  setup.py
  toolbox/new_cli.py
Due: pylint, flake8

feat(cross): #1635 subscriptions stub
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/api/schemas/subscriptions.graphql
  django-apps/integrates-back-async/backend/api/subscription.py
  fluidintegrates/asgi.py
  front/package.json
  front/src/utils/apollo.ts
Due: shellcheck, pylint, flake8

fix(back): #1635 type mismatch
  django-apps/integrates-back/backend/domain/finding.py
Due: pylint, flake8

feat(job): #425 historical fields
  toolbox/analytics/logs.py
Due: pylint, flake8

feat(cross): #1635 subscriptions
  authorization/user_level_async.conf
  build/dependencies/requirements-async.txt
  deploy/containers/app-async/Dockerfile
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/api/resolvers/subscription.py
  django-apps/integrates-back-async/backend/api/schema.py
  django-apps/integrates-back-async/backend/api/schemas/mutations.graphql
  django-apps/integrates-back-async/backend/api/schemas/subscriptions.graphql
  django-apps/integrates-back-async/backend/api/subscription.py
  django-apps/integrates-back-async/setup.cfg
  fluidintegrates/asgi.py
  front/src/utils/apollo.ts
  test_async/entity_test/test_resource.py
  test_async/entity_test/test_subscription.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

fix(front): #3035 padding in sub navbar
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/use-cases/feature.html
Due: html-tidy

fix(front): #3036 line height in feature title
  new/theme/2020/templates/use-cases/feature.html
Due: html-tidy

feat(doc): #2994.61 create rule 319
  content/pages/rules/authentication/319/index.adoc
Due: none

feat(conf): #414 bb_executions fields
  analytics/conf/awsdynamodb.json
Due: none

fix(build): #1905 reports bucket policy
  deploy/terraform-resources/cloudfront/s3.tf
Due: none

fix(front): #3038 image size for products
  new/content/pages/products/index.adoc
  new/theme/2020/static/scss/base.scss
Due: none

refac(back): #1909 remove continuous mail
  django-apps/integrates-back/backend/scheduler.py
Due: pylint, flake8

fix(front): #3040 font size for products
  new/theme/2020/static/js/dynClasses.ts
Due: none

test(back): #1635 ws subscription test
  test_async/entity_test/test_subscription.py
Due: pylint, flake8

feat(build): #1905 expiration for reports bucket
  deploy/terraform-resources/cloudfront/s3.tf
Due: none

feat(doc): #2994.62 create rule 320
  content/pages/rules/architecture/320/index.adoc
Due: none

fix(front): #1906 change selected vuln are handle
  front/src/scenes/Dashboard/components/Vulnerabilities/index.tsx
Due: none

feat(doc): #2994.63 add references for rule 186
  content/pages/rules/data/186/index.adoc
Due: none

feat(back): #1905 save pdf file when requested
  app/views.py
  django-apps/integrates-back/backend/utils/reports.py
Due: pylint, flake8

feat(doc): #2994.64 add references for rule 320
  content/pages/rules/architecture/320/index.adoc
Due: none

feat(job): #425 undo changes
  toolbox/analytics/logs.py
Due: pylint, flake8

refac(front): #1705.36 improve treatment
  front/package.json
  front/src/scenes/Dashboard/components/Vulnerabilities/updateTreatment.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/TreatmentView/index.tsx
  front/src/utils/apollo.ts
Due: none

test(front): #1826 increase delay
  front/src/scenes/Dashboard/containers/FindingContent/index.spec.tsx
Due: none

refac(back): #765 resolvers/user.py typing
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/typing.py
  django-apps/integrates-back/backend/typing.py
Due: shellcheck, pylint, flake8

feat(front): #1635 subscriptions
  front/src/scenes/Dashboard/index.tsx
  front/src/scenes/Dashboard/queries.ts
  front/src/utils/apollo.ts
Due: none

feat(doc): #2994.65 add references for rule 176
  content/pages/rules/data/176/index.adoc
Due: none

test(front): #1705.37 increase coverage
  front/src/scenes/Dashboard/containers/DescriptionView/ActionButtons/index.spec.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/index.spec.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/index.tsx
Due: none

feat(back): #1905 report file name
  django-apps/integrates-back/backend/utils/reports.py
Due: pylint, flake8

test(back): #1906 add additional mock data
  test/domain_test/test_vulnerability.py
  test/dynamo_data/FI_projects.json
  test/dynamo_data/fi_vulnerabilities.json
  test_async/entity_test/test_project.py
Due: pylint, flake8

feat(doc): #2994.66 create rule 321
  content/pages/rules/data/176/index.adoc
  content/pages/rules/data/321/index.adoc
Due: none

test(front): #1705.38 increase coverage
  front/src/scenes/Dashboard/containers/DescriptionView/TreatmentView/index.spec.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/TreatmentView/index.tsx
Due: none

fix(back): #1635 settings file upload
  django-apps/integrates-back/backend/domain/resources.py
Due: pylint, flake8

refac(back): #765 resolvers/user.py typed
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/typing.py
  django-apps/integrates-back/backend/typing.py
Due: pylint, flake8

feat(back): #1635 subscriptions
  django-apps/integrates-back-async/backend/api/resolvers/subscription.py
  django-apps/integrates-back/backend/util.py
  fluidintegrates/asgi.py
Due: pylint, flake8

feat(back): #423 add possible tests to the new cli
  tests/test_cli.py
  toolbox/new_cli.py
Due: pylint, flake8

fix(back): #1835 event comments
  django-apps/integrates-back/backend/entity/event.py
Due: pylint, flake8

refac(back): #415 disable courses ingress
  infrastructure/eks/manifests/ingress/autonomic.yaml
Due: none

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
