Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

refac(doc): #3157.2 add tag for inner links
  content/pages/findings/hygiene/043/index.adoc
Due: none

perf(back): #1835.74 native aio group access nfrcr
  django-apps/integrates-back-async/backend/decorators.py
  django-apps/integrates-back-async/backend/utils/authorization.py
  fluidintegrates/settings.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

refac(front): #3158.9 provacy section
  content/pages/security/index.adoc
Due: none

test(back): #1372 test handle acceptation
  test_async/dynamo_data/FI_findings.json
  test_async/entity_test/test_finding.py
Due: pylint, flake8

feat(back): #1965 enum to repo protocol
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  test_async/domain_test/test_resources.py
  test_async/entity_test/test_resource.py
Due: pylint, flake8

test(back): #1406 new mock data
  test_async/dynamo_data/FI_projects.json
Due: none

feat(front): #3158.10 new sections
  build/include/jobs.sh
  content/pages/security/index.adoc
Due: shellcheck

refac(conf): #1835.75 rm unused perm metamodels
  authorization/group_level_async.conf
  authorization/project_access.conf
  authorization/user_level_async.conf
Due: none

fix(front): #3161 link of the banner button
  new/theme/2020/templates/landing.html
Due: html-tidy

feat(back): #1965 backend field limit validations
  django-apps/integrates-back-async/backend/domain/resources.py
  django-apps/integrates-back-async/backend/exceptions.py
  django-apps/integrates-back-async/backend/utils/validations.py
Due: pylint, flake8

fix(front): #3162 link of the about us section
  new/theme/2020/templates/landing.html
Due: html-tidy

feat(back): #835 alarm on security group changes
  fluidasserts/cloud/aws/cloudwatch.py
  setup.cfg
  test/test_cloud_aws_cloudwatch.py
Due: pylint, flake8

feat(front): #3158.11 resilency section
  content/pages/security/index.adoc
Due: none

feat(back): #835 alarm on vpc changes
  fluidasserts/cloud/aws/cloudwatch.py
  test/test_cloud_aws_cloudwatch.py
Due: pylint, flake8

feat(front): #3158.12 transparency section
  content/pages/security/index.adoc
Due: none

feat(front): #3158.13 rules links
  content/pages/security/index.adoc
Due: none

refac(doc): #3169 fix-devops-concept-ii
  content/blog/devops-concept/index.adoc
Due: none

fix(front): #3163 links of the menu
  new/theme/2020/templates/menu.html
Due: html-tidy

refac(back): #1835.76 rm unused code
  django-apps/integrates-back-async/backend/utils/authorization.py
Due: pylint, flake8

feat(doc): #3135.22 add rule for sri
  content/pages/findings/security/086/index.adoc
  content/pages/rules/services/330/index.adoc
Due: none

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/components/AddProjectModal/index.spec.tsx
Due: none

test(back): #1372 test get resources
  test_async/entity_test/test_resource.py
Due: pylint, flake8

refac(back): #1835.77 rm unraised exception
  django-apps/integrates-back-async/backend/decorators.py
Due: pylint, flake8

feat(back): #1965 back field limit validations
  django-apps/integrates-back-async/backend/domain/project.py
  django-apps/integrates-back-async/backend/domain/resources.py
Due: pylint, flake8

feat(cross): #3147.8 add blogs
  build/include/helpers-deploy.sh
  new/pelicanconf.py
  new/theme/2020/templates/article.html
  new/theme/2020/templates/default.html
Due: shellcheck, pylint, flake8, html-tidy

feat(front): #1988 project name
  front/src/scenes/Dashboard/components/AddProjectModal/index.tsx
Due: none

feat(front): #3158.14 access revocation
  build/include/jobs.sh
  content/pages/security/index.adoc
Due: shellcheck

test(back): #1372 test create event file image
  test_async/domain_test/test_event.py
  test_async/entity_test/test_project.py
Due: pylint, flake8

feat(doc): #3135.22 add references for rule 178
  content/pages/findings/security/086/index.adoc
  content/pages/findings/security/103/index.adoc
  content/pages/rules/data/178/index.adoc
Due: none

feat(build): #1835.78 rm casbin
  build/include/helpers.sh
  build/include/jobs.sh
  build/provisioners/lint_back.nix
  build/provisioners/serve_back_dev.nix
  build/provisioners/test_back.nix
  deploy/containers/app/requirements.txt
  deploy/containers/app/requirements_local_async.txt
  django-apps/casbin-in-memory-adapter/README.rst
  django-apps/casbin-in-memory-adapter/casbin_in_memory_adapter/__init__.py
  django-apps/casbin-in-memory-adapter/casbin_in_memory_adapter/adapter.py
  django-apps/casbin-in-memory-adapter/setup.cfg
  django-apps/casbin-in-memory-adapter/setup.py
Due: shellcheck, pylint, flake8

feat(back): #1835.79 does_group_has_drills func
  django-apps/integrates-back-async/backend/domain/project.py
  test_async/domain_test/test_project.py
Due: pylint, flake8

feat(back): #1988 validation of name
  django-apps/integrates-back-async/backend/domain/project.py
Due: pylint, flake8

feat(back): #1835.80 business logic
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/exceptions.py
  test_async/entity_test/test_user.py
Due: pylint, flake8

refac(doc): #3174 fix-partners-terms
  content/pages/partners/terms/index.adoc
Due: none

feat(cross): #3147.9 add blog index page
  new/pelicanconf.py
  new/theme/2020/templates/article.html
  new/theme/2020/templates/default.html
  new/theme/2020/templates/index.html
  new/theme/2020/templates/page.html
Due: pylint, flake8, html-tidy

refac(back): #1990.1 typo
  django-apps/integrates-back-async/backend/api/resolvers/event.py
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/resolvers/report.py
  django-apps/integrates-back-async/backend/api/resolvers/resource.py
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/api/resolvers/vulnerability.py
  django-apps/integrates-back-async/backend/domain/vulnerability.py
Due: pylint, flake8

feat(front): #3158.15 new sections
  content/pages/security/index.adoc
Due: none

feat(back): #936.7 load intrinsic func
  fluidasserts/__init__.py
  fluidasserts/cloud/aws/cloudformation/graph.py
Due: pylint, flake8

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
