Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

.pre-commit-config.yaml:

fail_fast: false
repos:
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    files: \.(sh)$
    args: [ "--external-sources", "--exclude=SC1090,SC2016,SC2153,SC2154" ]
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    files: \.(py)$
    args: []
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    files: \.(py)$
    args: []
  - id: html-tidy
    name: tidy
    entry: tidy
    language: system
    files: \.(html)$
    args: []

refac(back): #1905 xls generated by threading
  django-apps/integrates-back-async/backend/api/resolvers/report.py
  django-apps/integrates-back/backend/domain/report.py
Due: pylint, flake8

feat(front): #1905 close mdl after request report
  front/src/scenes/Dashboard/containers/ProjectFindingsView/index.tsx
Due: none

feat(cross): #445.15 mr-time validations
  tests/conftest.py
  tests/test_cli.py
  tests/test_forces_commit.py
  tests/test_toolbox.py
  toolbox/cli/__init__.py
  toolbox/cli/drills.py
  toolbox/cli/misc.py
  toolbox/forces/commit.py
  toolbox/resources.py
Due: pylint, flake8

feat(build): #445.16 whitelist variable
  tests/conftest.py
Due: pylint, flake8

perf(build): #445.17 split jobs
  toolbox/resources.py
Due: pylint, flake8

perf(build): #445.18 pythonic and parallel
  toolbox/resources.py
Due: pylint, flake8

perf(build): #445.19 conditional exec
  tests/test_toolbox.py
  toolbox/cli/__init__.py
  toolbox/toolbox.py
Due: pylint, flake8

fix(build): #445.20 optional issue
  toolbox/toolbox.py
Due: pylint, flake8

feat(back): #521.1 findings to verify
  tests/test_drills_findings_pending_to_verify.py
  toolbox/api/integrates.py
  toolbox/cli/drills.py
  toolbox/drills/__init__.py
  toolbox/drills/findings_pending_to_verify.py
Due: pylint, flake8

fix(back): #511.1 high level async execution
  toolbox/api/integrates.py
Due: pylint, flake8

fix(infra): #1926 allocate more resources
  deploy/integrates-k8s.yaml
Due: none

refac(back): #1905 remove unused views code
  app/urls.py
  app/views.py
Due: pylint, flake8

refac(infra): #1635 removed old api deploy
  deploy/integrates-k8s.yaml
  review-apps/deploy-integrates.yaml
  review-apps/ingress.yaml
Due: none

test(back): #1905 report unittest
  test_async/entity_test/test_report.py
Due: pylint, flake8

refac(back): #1905 remove unused views code
  app/views.py
Due: pylint, flake8

refac(infra): #431 integrates services
  infrastructure/eks/manifests/ingress/main-domains.yaml
Due: none

fix(build): #1826 improve react tests
  front/package.json
  front/src/scenes/Dashboard/containers/ProjectDraftsView/index.spec.tsx
Due: none

refac(front): #1837.9 migrate to abac
  front/package.json
  front/src/scenes/Dashboard/containers/HomeView/index.spec.tsx
  front/src/scenes/Dashboard/containers/HomeView/index.tsx
Due: none

feat(front): #2989.1 create careers page
  new/content/pages/careers/index.adoc
  new/theme/2020/static/images/careers/hero-main-1.png
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/careers/careers.html
Due: html-tidy

refac(back): #521.2 to_reattack
  tests/test_drills_to_reattack.py
  toolbox/cli/drills.py
  toolbox/drills/__init__.py
  toolbox/drills/to_reattack.py
Due: pylint, flake8

refac(front): #1837.10 migrate to abac
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Environments/index.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Repositories/index.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/queries.ts
Due: none

refac(doc): #3100 fix-sast-sca-kiuwan
  content/blog/sast-sca-kiuwan/index.adoc
Due: none

test(back): #1372 increase coverage
  test/domain_test/test_project.py
  test/domain_test/test_user.py
  test/test_util.py
Due: pylint, flake8

fix(job): #432 fix problem calculating size
  analytics/singer/target_redshift/target_redshift/__init__.py
Due: pylint, flake8

fix(doc): #3088.18 fix broken links
  content/pages/findings/security/001/index.adoc
  content/pages/rules/architecture/072/index.adoc
  content/pages/rules/architecture/266/index.adoc
  content/pages/rules/authentication/225/index.adoc
  content/pages/rules/authentication/227/index.adoc
  content/pages/rules/authentication/228/index.adoc
  content/pages/rules/authentication/229/index.adoc
  content/pages/rules/authentication/231/index.adoc
  content/pages/rules/authentication/235/index.adoc
  content/pages/rules/authentication/264/index.adoc
  content/pages/rules/authentication/319/index.adoc
  content/pages/rules/authorization/035/index.adoc
  content/pages/rules/cryptography/145/index.adoc
  content/pages/rules/data/176/index.adoc
  content/pages/rules/data/181/index.adoc
  content/pages/rules/data/185/index.adoc
  content/pages/rules/files/039/index.adoc
  content/pages/rules/files/040/index.adoc
  content/pages/rules/files/041/index.adoc
  content/pages/rules/networks/255/index.adoc
  content/pages/rules/services/262/index.adoc
  content/pages/rules/services/265/index.adoc
  content/pages/rules/session/029/index.adoc
  content/pages/rules/session/032/index.adoc
  content/pages/rules/source/156/index.adoc
  content/pages/rules/source/169/index.adoc
  content/pages/rules/source/173/index.adoc
  content/pages/rules/source/174/index.adoc
Due: none

refac(back): #1905 remove unused statement
  django-apps/integrates-back-async/backend/api/resolvers/report.py
Due: pylint, flake8

test(back): #1905 xls test added
  test_async/entity_test/test_report.py
Due: pylint, flake8

refac(doc): #3101 ceo-to-cto
  content/blog/rules-new-standard/index.adoc
Due: none

fix(cross): #1920 what field only in front
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  django-apps/integrates-back/backend/entity/forces.py
  front/src/scenes/Dashboard/containers/ProjectForcesView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectForcesView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectForcesView/queries.ts
  test/dynamo_data/bb_executions.json
  test/entity_test/test_forces.py
  test_async/entity_test/test_forces.py
Due: pylint, flake8

feat(cross): #445.21 single exploit linter
  tests/test_cli.py
  tests/test_forces_lint.py
  tests/test_toolbox.py
  toolbox/cli/__init__.py
  toolbox/cli/misc.py
  toolbox/forces/__init__.py
  toolbox/forces/lint.py
  toolbox/forces/sync.py
  toolbox/resources.py
  toolbox/toolbox.py
  toolbox/utils.py
Due: pylint, flake8

feat(front): #2989.2 add menu for careers
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/careers/careers.html
Due: html-tidy

test(front): #1837.11 prepare finding header
  front/src/scenes/Dashboard/components/FindingActions/index.spec.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.spec.tsx
Due: none

feat(back): #387.5 pin boto and botocore deps
  requirements.txt
Due: none

refac(back): #521.4 utils submodule
  setup.py
  tests/test_cli.py
  tests/test_toolbox.py
  toolbox/analytics/logs.py
  toolbox/cli/__init__.py
  toolbox/cli/drills.py
  toolbox/cli/misc.py
  toolbox/drills/to_reattack.py
  toolbox/forces/lint.py
  toolbox/forces/sync.py
  toolbox/reports.py
  toolbox/resources.py
  toolbox/toolbox.py
  toolbox/utils.py
  toolbox/utils/__init__.py
  toolbox/utils/cli.py
  toolbox/utils/does_subs_exist.py
  toolbox/utils/generic.py
  toolbox/utils/get_commit_subs.py
  toolbox/utils/vpn.py
Due: pylint, flake8

feat(infra): #434.1 add sv
  infrastructure/dns/campaigns.tf
Due: none

refac(back): #521.5 vpn to drills
  toolbox/cli/__init__.py
  toolbox/drills/__init__.py
  toolbox/drills/cli.py
  toolbox/drills/vpn.py
  toolbox/utils/__init__.py
  toolbox/utils/cli.py
Due: pylint, flake8

feat(cross): #445.22 lint line length
  tests/test_generic_commit.py
  toolbox/cli/misc.py
  toolbox/generic/commit.py
  toolbox/utils/generic.py
Due: pylint, flake8

feat(job): #425 add gcc to ld path
  build/shell.nix
Due: none
