Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

fix(job): #1791 codecov on master
  .gitlab-ci.yml
Due: none

fix(front): #3131 reduce line height
  new/theme/2020/templates/landing.html
Due: html-tidy

refac(front): #1938 admin option only in sidebar
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.tsx
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/types.ts
  front/src/scenes/Dashboard/containers/ProjectUsersView/index.tsx
  front/src/scenes/Dashboard/index.tsx
Due: none

fix(front): #3127 align text and image in products
  new/theme/2020/templates/landing.html
Due: html-tidy

refac(build): #1921.3 remove centralized deps
  build/provisioners/alpha.nix
  build/provisioners/build-and-docker.nix
  build/provisioners/build.nix
  build/provisioners/deploy-front.nix
  build/provisioners/deploy-mobile.nix
  build/provisioners/docker.nix
  build/provisioners/full.nix
  build/provisioners/infra.nix
  build/provisioners/selenium.nix
  build/provisioners/test.nix
Due: none

feat(cross): #1853 delete individual tag
  django-apps/integrates-back-async/backend/api/resolvers/vulnerability.py
  django-apps/integrates-back-async/backend/api/schemas/mutations.graphql
  django-apps/integrates-back-async/backend/domain/vulnerability.py
  front/src/scenes/Dashboard/components/Vulnerabilities/index.spec.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/queries.ts
  front/src/scenes/Dashboard/components/Vulnerabilities/types.ts
  front/src/scenes/Dashboard/components/Vulnerabilities/updateTreatment.tsx
  front/src/utils/forms/fields.tsx
Due: pylint, flake8

feat(doc): #3088.41 add fins 60, 61, 62, 64, 66
  content/pages/findings/hygiene/060/index.adoc
  content/pages/findings/hygiene/061/index.adoc
  content/pages/findings/hygiene/062/index.adoc
  content/pages/findings/hygiene/064/index.adoc
  content/pages/findings/hygiene/066/index.adoc
  content/pages/rules/architecture/320/index.adoc
  content/pages/rules/logs/075/index.adoc
  content/pages/rules/session/025/index.adoc
  content/pages/rules/source/159/index.adoc
  content/pages/rules/source/161/index.adoc
  content/pages/rules/source/173/index.adoc
Due: none

refac(back): #765 dataloaders/finding.py typing
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
  django-apps/integrates-back-async/backend/typing.py
Due: shellcheck, pylint, flake8

fix(back): #649.1 admin login
  toolbox/utils/generic.py
Due: pylint, flake8

feat(cross): #896 update dependencies
  requirements.txt
  sphinx/source/dev.rst
Due: none

fix(back): #1951 add decorator download_vulns
  app/views.py
Due: pylint, flake8

fix(job): #1791 coverage at the end
  .codecov.yml
  .gitlab-ci.yml
Due: none

refac(build): #1921.4 remove centralized deps
  build/builders/python-package-local/default.nix
  build/dependencies/infra.nix
  build/dependencies/python-with-tools.nix
  build/dependencies/python.nix
  build/dependencies/requirements.nix
  build/dependencies/ruby.nix
  build/dependencies/secret-management.nix
  build/dependencies/selenium.nix
  build/dependencies/tools.nix
  build/dependencies/version-control.nix
  build/provisioners/build-and-docker.nix
  build/provisioners/deploy-front.nix
  build/provisioners/full.nix
  build/provisioners/requirements.txt
  build/provisioners/selenium.nix
  build/provisioners/test.nix
Due: none

feat(doc): #3088.42 add fins 68, 70, 72, 73, 74
  content/pages/findings/hygiene/068/index.adoc
  content/pages/findings/hygiene/070/index.adoc
  content/pages/findings/hygiene/072/index.adoc
  content/pages/findings/hygiene/073/index.adoc
  content/pages/findings/hygiene/074/index.adoc
  content/pages/rules/session/023/index.adoc
  content/pages/rules/source/158/index.adoc
  content/pages/rules/source/161/index.adoc
  content/pages/rules/source/162/index.adoc
  content/pages/rules/source/171/index.adoc
Due: none

fix(job): #1635 codecov
  .gitlab-ci.yml
Due: none

feat(doc): #3088.43 add fins 79,109, 112, 113, 117
  content/pages/findings/hygiene/079/index.adoc
  content/pages/findings/hygiene/109/index.adoc
  content/pages/findings/hygiene/112/index.adoc
  content/pages/findings/hygiene/113/index.adoc
  content/pages/findings/hygiene/117/index.adoc
  content/pages/rules/architecture/051/index.adoc
  content/pages/rules/source/164/index.adoc
  content/pages/rules/source/302/index.adoc
  content/pages/rules/source/323/index.adoc
Due: none

fix(job): #1791 codecov
  codecov.yml
Due: none

feat(back): #653.1 proxy and file descriptor
  toolbox/api/integrates.py
Due: pylint, flake8

refac(front): #1941 show compromised records
  front/src/scenes/Dashboard/containers/DescriptionView/index.tsx
  front/src/utils/formatHelpers.ts
Due: none

feat(build): #1921.5 deploy_container_deps_mobile
  build.sh
  build/provisioners/deploy_container_deps_mobile.nix
Due: shellcheck

refac(cross): #1942.6 improve mobile tests
  .gitignore
  .gitlab-ci.yml
  build/include/jobs.sh
  mobile/jest.config.js
  mobile/jestSetup.ts
  mobile/package.json
  mobile/src/containers/LoginView/index.spec.tsx
  mobile/src/containers/LoginView/index.tsx
  mobile/src/containers/MenuView/index.spec.tsx
  mobile/src/index.spec.tsx
Due: shellcheck

fix(front): #3130 center location section
  new/theme/2020/templates/location.html
Due: html-tidy

feat(front): #933.1 override print function
  fluidasserts/utils/cli.py
Due: pylint, flake8

feat(back): #920.1 pass request through a proxy
  fluidasserts/helper/http.py
  fluidasserts/proto/rest.py
Due: pylint, flake8

refac(back): #765 dataloaders/finding.py typing
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
Due: pylint, flake8

feat(back): #655.1 dal static getter
  tests/test_utils_integrates.py
  toolbox/utils/integrates.py
Due: pylint, flake8

feat(cross): #3135.1 move physical to out of scope
  content/pages/rules/out-of-scope/physical/203/index.adoc
  content/pages/rules/out-of-scope/physical/204/index.adoc
  theme/2014/templates/rules.html
Due: html-tidy

feat(back): #1635 logs as queue of tasks
  django-apps/integrates-back-async/backend/api/resolvers/alert.py
  django-apps/integrates-back-async/backend/api/resolvers/cache.py
  django-apps/integrates-back-async/backend/api/resolvers/event.py
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/resolvers/report.py
  django-apps/integrates-back-async/backend/api/resolvers/resource.py
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/api/resolvers/vulnerability.py
  django-apps/integrates-back-async/backend/decorators.py
  django-apps/integrates-back-async/backend/domain/finding.py
  django-apps/integrates-back-async/backend/domain/vulnerability.py
  django-apps/integrates-back-async/backend/util.py
Due: pylint, flake8

fix(front): #3132 align title with text
  new/theme/2020/templates/landing.html
Due: html-tidy

fix(front): #3133 pentest title size
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/landing.html
Due: html-tidy

feat(cross): #655.2 diff exploit and integrates
  toolbox/forces/sync.py
  toolbox/utils/integrates.py
Due: pylint, flake8

refac(front): #1942.7 remove redux
  mobile/package.json
  mobile/src/app.tsx
  mobile/src/containers/LoginView/actions.ts
  mobile/src/containers/LoginView/reducer.ts
  mobile/src/containers/WelcomeView/types.ts
  mobile/src/store/index.ts
  mobile/src/store/rootReducer.ts
Due: none

feat(front): #934.1 convert lines in a set
  fluidasserts/helper/lang.py
Due: pylint, flake8

feat(build): #1921.6 infra_backup
  build.sh
  build/provisioners/infra_backup_deploy.nix
  build/provisioners/infra_backup_test.nix
Due: shellcheck

feat(doc): #3135.2 unify obfuscation fins
  content/pages/findings/hygiene/046/index.adoc
  content/pages/findings/hygiene/066/index.adoc
  content/pages/rules/source/159/index.adoc
Due: none

refac(back): #1905 refactored reports
  django-apps/integrates-back-async/backend/api/resolvers/report.py
  django-apps/integrates-back-async/backend/util.py
Due: pylint, flake8

refac(back): #765 dataloaders/finding.py typed
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
Due: pylint, flake8

feat(doc): #3135.3 remove fin 109
  content/pages/findings/hygiene/109/index.adoc
  content/pages/rules/architecture/051/index.adoc
  content/pages/rules/source/323/index.adoc
Due: none

feat(front): #655.4 gracefully handle newlines
  toolbox/forces/sync.py
Due: pylint, flake8

style(front): #1942.8 indent code
  mobile/src/app.tsx
  mobile/src/utils/apollo.ts
Due: none

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
