Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

.pre-commit-config.yaml:

fail_fast: false
repos:
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    files: \.(sh)$
    args: [ "--external-sources", "--exclude=SC1090,SC2016,SC2153,SC2154" ]
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    files: \.(py)$
    args: []
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    files: \.(py)$
    args: []
  - id: html-tidy
    name: tidy
    entry: tidy
    language: system
    files: \.(html)$
    args: []

feat(doc): #2994.55 add reference for rule 318
  content/pages/rules/privacy/318/index.adoc
Due: none

feat(back): #1835.63 del code and tune minor thngs
  .gitignore
  build/dependencies/requirements-async.nix
  build/dependencies/requirements.nix
  build/include/jobs.sh
  ci-scripts/helpers/sops.sh
  deploy/containers/common/vars/provision_local_db.sh
  deploy/containers/deps-app/requirements_local.txt
  deploy/containers/deps-app/requirements_local_async.txt
  django-apps/casbin-dynamodb-adapter/README.rst
  django-apps/casbin-dynamodb-adapter/casbin_dynamodb_adapter/__init__.py
  django-apps/casbin-dynamodb-adapter/casbin_dynamodb_adapter/adapter.py
  django-apps/casbin-dynamodb-adapter/setup.cfg
  django-apps/casbin-dynamodb-adapter/setup.py
  django-apps/integrates-back/backend/domain/user.py
  django-apps/integrates-back/backend/utils/authorization.py
  fluidintegrates/settings.py
  secrets-development.yaml
  secrets-production.yaml
  test/domain_test/test_user.py
  test/dynamo_data/fi_authorization.json
Due: shellcheck, pylint, flake8

refac(front): #1904 change assumed text
  front/src/scenes/Dashboard/components/IndicatorChart/index.tsx
  front/src/utils/translations/en.ts
Due: none

refac(back): #765 resolvers/cache.py typed
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/resolvers/cache.py
Due: shellcheck, pylint, flake8

fix(front): #1880 enable vuln analyst field
  front/src/scenes/Dashboard/components/UpdateVerificationModal/index.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/index.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/updateTreatment.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/uploadFile.tsx
Due: none

test(front): #1705.34 increase coverage
  front/src/scenes/Dashboard/containers/DescriptionView/ActionButtons/index.spec.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/ActionButtons/index.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/index.tsx
Due: none

refac(front): #1535 update rbt2 dependencies
  front/package.json
  front/src/scenes/Dashboard/components/Vulnerabilities/index.tsx
  front/src/scenes/Dashboard/containers/ProjectDraftsView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectEventsView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectFindingsView/index.tsx
Due: none

refac(back): #1905 cloudfront dal
  django-apps/integrates-back/backend/dal/cloudfront.py
  django-apps/integrates-back/backend/domain/event.py
  django-apps/integrates-back/backend/domain/resources.py
Due: pylint, flake8

fix(back): #1635 field aliases resolving
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
  django-apps/integrates-back-async/backend/api/query.py
  django-apps/integrates-back/backend/util.py
Due: pylint, flake8

refac(doc): #3045 fix-chat-correa
  content/blog/chat-with-correa/index.adoc
Due: none

perf(back): #1635 async me mutations
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/resolvers/me.py
Due: pylint, flake8

feat(conf): #414 add bb_executions table
  analytics/conf/awsdynamodb.json
Due: none

fix(front): #3027 more space in footer menu
  new/theme/2020/templates/footer.html
Due: html-tidy

feat(job): #399 reduce length of statement
  analytics/singer/target_redshift/target_redshift/__init__.py
Due: pylint, flake8

fix(back): #1635 fix ariadne bug
  deploy/containers/app-async/Dockerfile
  django-apps/integrates-back-async/setup.cfg
Due: none

fix(front): #3028 menu changes
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/menu.html
Due: html-tidy

feat(cross): #1835.64 resolve user role
  django-apps/integrates-back-async/backend/api/dataloaders/user.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  front/src/utils/translations/en.ts
  test/dynamo_data/FI_users.json
  test_async/entity_test/test_project.py
Due: pylint, flake8

feat(back): #400 aws login by role
  toolbox/resources.py
Due: pylint, flake8

feat(doc): #2994.56 add reference for rule 186
  content/pages/rules/data/186/index.adoc
Due: none

refac(back): #3046 change mandrill api key
  secrets-prod.yaml
Due: none

fix(front): #3029 align logo in the navbar
  new/theme/2020/templates/menu.html
Due: html-tidy

refac(job): #408 add recursive flag in command
  build/include/helpers.sh
Due: shellcheck

refac(back): #1905 cloudfront calls refac
  django-apps/integrates-back/backend/dal/event.py
  django-apps/integrates-back/backend/dal/helpers/cloudfront.py
  django-apps/integrates-back/backend/dal/resources.py
  django-apps/integrates-back/backend/domain/event.py
  django-apps/integrates-back/backend/domain/resources.py
Due: pylint, flake8

refac(back): #1872 allow managers access pending
  django-apps/integrates-back/backend/api/query.py
  django-apps/integrates-back/backend/dal/project.py
  django-apps/integrates-back/backend/domain/project.py
  django-apps/integrates-back/backend/domain/user.py
  ephemeral_tests.py
  test/dynamo_data/FI_projects.json
Due: pylint, flake8

fix(front): #3031 change banner sizes
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/products/drills.html
  new/theme/2020/templates/products/forces.html
  new/theme/2020/templates/products/integrates.html
  new/theme/2020/templates/products/products.html
  new/theme/2020/templates/use-cases/continuous.html
  new/theme/2020/templates/use-cases/one-shot.html
Due: html-tidy

feat(back): #423 add new commands and flags
  toolbox/new_cli.py
Due: pylint, flake8

perf(back): #1635 async vuln mutations
  authorization/group_level_async.conf
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/resolvers/vulnerability.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

feat(doc): #2994.57 add references for rule 096
  content/pages/rules/authorization/096/index.adoc
Due: none

test(front): #1705.35 increase coverage
  ephemeral_tests.py
  front/package.json
  front/src/scenes/Dashboard/containers/DescriptionView/ActionButtons/index.spec.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/ActionButtons/index.tsx
Due: pylint, flake8

style(front): #1765 filter name typo
  front/src/scenes/Dashboard/containers/ProjectDraftsView/index.tsx
Due: none

refac(front): #867 improve error handling
  front/src/utils/apollo.ts
Due: none

feat(build): #1905 new reports bucket
  deploy/terraform-resources/cloudfront/s3.tf
  deploy/terraform-resources/main.tf
Due: none

fix(front): #3032 change border color
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/products/drills.html
  new/theme/2020/templates/products/forces.html
  new/theme/2020/templates/products/integrates.html
  new/theme/2020/templates/use-cases/continuous.html
  new/theme/2020/templates/use-cases/one-shot.html
Due: html-tidy

fix(front): #1835.65 proper translation
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.tsx
Due: none

fix(front): #3033 padding from the navbar
  new/theme/2020/templates/base.html
Due: html-tidy

perf(back): #1635 async resource mutations
  authorization/group_level_async.conf
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/resolvers/resource.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

feat(doc): #2994.58 add references for rule 176
  content/pages/rules/authorization/096/index.adoc
  content/pages/rules/data/176/index.adoc
Due: none

perf(back): #1635 async logs
  django-apps/integrates-back-async/backend/api/resolvers/event.py
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back/backend/util.py
Due: pylint, flake8

feat(doc): #3047 pii-leakage-post
  content/blog/pii-leakage-whitehat/cover.png
  content/blog/pii-leakage-whitehat/index.adoc
  content/blog/pii-leakage-whitehat/owners.png
Due: none

fix(front): #3034 line height in features
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/use-cases/feature.html
Due: html-tidy
