Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

test(back): #1635 increase coverage
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/resolvers/resource.py
  test_async/entity_test/test_alert.py
  test_async/entity_test/test_event.py
  test_async/entity_test/test_finding.py
  test_async/entity_test/test_forces.py
  test_async/entity_test/test_internal_project.py
  test_async/entity_test/test_me.py
  test_async/entity_test/test_project.py
  test_async/entity_test/test_resource.py
  test_async/entity_test/test_tag.py
  test_async/entity_test/test_user.py
  test_async/entity_test/test_vulnerability.py
Due: pylint, flake8

feat(doc): #2994.75 add references for rule 224
  content/pages/rules/cryptography/145/index.adoc
  content/pages/rules/cryptography/147/index.adoc
  content/pages/rules/cryptography/224/index.adoc
Due: none

feat(build): #424 deploy_toolbox
  deploy.sh
  tox.ini
Due: shellcheck

feat(doc): #2994.76 add references for rule 223
  content/pages/rules/cryptography/223/index.adoc
Due: none

feat(job): #422 rename filed inside sops secret
  secrets-prod.yaml
Due: none

fix(front): #3081 carousel mobile view
  new/theme/2020/templates/products/drills.html
  new/theme/2020/templates/products/forces.html
  new/theme/2020/templates/products/integrates.html
Due: html-tidy

feat(job): #422 get worklogs and computer act
  build/include/jobs.sh
Due: shellcheck

fix(job): #422 path reference
  analytics/singer/tap_timedoctor/tap_timedoctor/__init__.py
  build/include/jobs.sh
Due: shellcheck, pylint, flake8

feat(doc): #3086 kiuwan-post
  content/blog/sast-sca-kiuwan/cover.png
  content/blog/sast-sca-kiuwan/index.adoc
Due: none

feat(back): #1835.69 comments and observations
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back/backend/decorators.py
  django-apps/integrates-back/backend/domain/comment.py
  django-apps/integrates-back/backend/domain/project.py
  django-apps/integrates-back/backend/entity/event.py
  django-apps/integrates-back/backend/entity/finding.py
  django-apps/integrates-back/backend/entity/project.py
  test/domain_test/test_comment.py
  test/domain_test/test_project.py
Due: pylint, flake8

feat(doc): #2994.77 update ref for some rules
  content/pages/rules/cryptography/146/index.adoc
  content/pages/rules/cryptography/148/index.adoc
  content/pages/rules/cryptography/149/index.adoc
  content/pages/rules/cryptography/150/index.adoc
  content/pages/rules/cryptography/151/index.adoc
Due: none

fix(job): #422 parse user_id as string
  analytics/singer/tap_timedoctor/tap_timedoctor/__init__.py
Due: pylint, flake8

feat(back): #1835.70 get_managers function
  django-apps/integrates-back/backend/domain/project.py
Due: pylint, flake8

feat(job): #424 whitelist gitlab vars
  build/shell.sh
Due: shellcheck

feat(build): #424 test_toolbox
  tox.ini
Due: none

feat(back): #1837.2 permissions resolver
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  django-apps/integrates-back/backend/entity/me.py
Due: pylint, flake8

refac(back): #1837 programatic matchers
  authorization/user_level_async.conf
  django-apps/integrates-back/backend/decorators.py
  django-apps/integrates-back/backend/utils/authorization.py
  test/util_test/test_abac.py
  test_async/entity_test/test_project.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

rever(build): #365 revert last feature
  toolbox/toolbox.py
Due: pylint, flake8

refac(back): #765 resolvers/event.py typing
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/resolvers/event.py
Due: shellcheck, pylint, flake8

feat(back): #263 expose resources folder
  toolbox/toolbox.py
Due: pylint, flake8

feat(job): #436 add date to stream record
  toolbox/toolbox.py
Due: pylint, flake8

refac(back): #1837.3 programatic matchers
  authorization/group_level_async.conf
  django-apps/integrates-back/backend/utils/authorization.py
  test_async/entity_test/test_alert.py
Due: pylint, flake8

feat(front): #1869 add horizontal bar
  front/src/scenes/Dashboard/components/HorizontalBarIndicator/index.css
  front/src/scenes/Dashboard/components/HorizontalBarIndicator/index.spec.tsx
  front/src/scenes/Dashboard/components/HorizontalBarIndicator/index.tsx
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.tsx
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/queries.ts
  front/src/utils/translations/en.ts
  test/dynamo_data/FI_project_access.json
Due: none

feat(job): #436 add new files
  toolbox/toolbox.py
Due: pylint, flake8

fix(back): #924 do what the check promises
  .gitlab-ci.yml
  build/main.nix
  fluidasserts/proto/http.py
  fluidasserts/proto/rest.py
  secrets/README.md
  test/mock/http_server.py
  test/test_proto_http_open.py
  test/test_proto_rest.py
Due: pylint, flake8

feat(back): #365 allow add_finding only once
  toolbox/toolbox.py
Due: pylint, flake8

feat(job): #445.1 remove coverage check
  tests/test_toolbox.py
  toolbox/cli.py
  toolbox/new_cli.py
  toolbox/toolbox.py
Due: pylint, flake8

feat(doc): #2994.78 add reference for rule 075
  content/pages/rules/logs/075/index.adoc
  content/pages/rules/logs/079/index.adoc
  content/pages/rules/logs/080/index.adoc
Due: none

feat(doc): #2994.79 add reference for rule 079
  content/pages/rules/logs/079/index.adoc
Due: none

refac(back): #1635 refactored event query
  django-apps/integrates-back-async/backend/api/resolvers/event.py
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  front/src/utils/apollo.ts
  test_async/entity_test/test_event.py
Due: pylint, flake8

feat(front): #2985 create contact page
  new/content/pages/contact-us/index.adoc
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/contact-us.html
  new/theme/2020/templates/landing.html
  new/theme/2020/templates/location.html
Due: html-tidy

test(front): #1869 add tag_content base tests
  front/src/scenes/Dashboard/containers/TagContent/index.spec.tsx
Due: none

refac(back): #923.1 use latest cpe uri version
  fluidasserts/helper/sca.py
Due: pylint, flake8

feat(doc): #2994.80 add reference for rule 083
  content/pages/rules/logs/083/index.adoc
Due: none

refac(front): #1867 error msg typo
  front/src/scenes/Dashboard/containers/CommentsView/index.tsx
  front/src/scenes/Dashboard/containers/EventCommentsView/index.tsx
Due: none

feat(front): #1837.4 setup casl abac
  front/package.json
  front/src/app.tsx
  front/src/scenes/Dashboard/components/Sidebar/index.tsx
  front/src/scenes/Dashboard/index.tsx
  front/src/scenes/Dashboard/queries.ts
  front/src/utils/authz/can.ts
  front/src/utils/formatHelpers.ts
Due: none

perf(back): #1635 cache forces indicators
  django-apps/integrates-back-async/backend/api/resolvers/forces.py
  django-apps/integrates-back/backend/decorators.py
Due: pylint, flake8

feat(front): #2985.2 contact form
  new/content/pages/contact-us/index.adoc
  new/theme/2020/templates/contact-us.html
Due: html-tidy

feat(doc): #2994.81 add references for rule 237
  content/pages/rules/authentication/237/index.adoc
Due: none

feat(doc): #2994.82 create rule 322
  content/pages/rules/logs/083/index.adoc
  content/pages/rules/logs/322/index.adoc
Due: none

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
