Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

.pre-commit-config.yaml:

fail_fast: false
repos:
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    files: \.(sh)$
    args: [ "--external-sources", "--exclude=SC1090,SC2016,SC2153,SC2154" ]
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    files: \.(py)$
    args: []
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    files: \.(py)$
    args: []
  - id: html-tidy
    name: tidy
    entry: tidy
    language: system
    files: \.(html)$
    args: []

feat(doc): #3041 trends-2020-ii
  content/blog/trends-2020-ii/cover.png
  content/blog/trends-2020-ii/hiring.png
  content/blog/trends-2020-ii/index.adoc
  content/blog/trends-2020-ii/report.png
Due: none

feat(back): #1204.4 report api v2 performance
  django-apps/integrates-back-async/backend/api/view.py
Due: pylint, flake8

feat(back): #1835.59 grant roles
  django-apps/integrates-back/backend/dal/user.py
  django-apps/integrates-back/backend/domain/user.py
  test/domain_test/test_user.py
Due: pylint, flake8

feat(front): #2972.6 initial content for forces
  new/content/pages/products/forces/index.adoc
  new/content/pages/products/index.adoc
  new/theme/2020/static/images/products/forces/datasheet-forces.png
  new/theme/2020/static/images/products/forces/forces-1.png
  new/theme/2020/static/images/products/forces/forces-2.png
  new/theme/2020/static/images/products/forces/forces-3.png
  new/theme/2020/static/images/products/forces/forces-4.png
  new/theme/2020/static/images/products/forces/forces-5.png
  new/theme/2020/static/images/products/forces/forces-cover.png
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/footer.html
  new/theme/2020/templates/products/forces.html
  new/theme/2020/templates/products/integrates.html
Due: html-tidy

fix(build): #1895 add missing deps
  lambda/send_mail_notification/requirements.txt
Due: none

feat(back): #1835.60 revoke roles
  django-apps/integrates-back/backend/dal/user.py
  django-apps/integrates-back/backend/domain/user.py
  django-apps/integrates-back/backend/utils/authorization.py
  test/domain_test/test_user.py
Due: pylint, flake8

fix(front): #3042 tipuesearch
  build/include/jobs.sh
  pelicanconf.py
  theme/2014/templates/search.html
Due: shellcheck, pylint, flake8, html-tidy

perf(back): #1635 performant functions
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  django-apps/integrates-back/backend/domain/finding.py
Due: pylint, flake8

feat(job): #408 copy repos from fusion to git fold
  build/include/helpers.sh
Due: shellcheck

refac(back): #765 resolvers/vulnerability.py typed
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/resolvers/vulnerability.py
Due: shellcheck, pylint, flake8

feat(front): #2972.7 content for forces
  new/content/pages/products/forces/index.adoc
  new/theme/2020/static/js/dynClasses.ts
  new/theme/2020/templates/products/forces.html
Due: html-tidy

feat(cross): #1635 migrated operation
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  front/src/utils/apollo.ts
Due: none

fix(job): #408 add asterisk in copy root
  build/include/helpers.sh
Due: shellcheck

feat(back): #410 increase session time
  services/aws-sso/terraform/role-serves-admin.tf
Due: none

feat(back): #423 initialize cli structure
  toolbox/new_cli.py
Due: pylint, flake8

feat(back): #3043 increase session time
  deploy/secret-management/terraform/role-web-admin.tf
Due: none

feat(conf): #1835.61 add 1200 mock users
  deploy/containers/common/vars/provision_local_db.sh
Due: shellcheck

fix(front): #3010 fix in products section in home
  new/theme/2020/static/scss/base.scss
Due: none

fix(front): #3020 border color for button
  new/theme/2020/static/scss/base.scss
Due: none

feat(back): #1899 increase session time
  deploy/secret-management/terraform/role-integrates-dev.tf
Due: none

refac(back): #765 resolvers/alert.py typed
  django-apps/integrates-back-async/backend/api/resolvers/alert.py
  django-apps/integrates-back-async/backend/typing.py
  django-apps/integrates-back/backend/typing.py
Due: pylint, flake8

fix(front): #3021 padding in location section
  new/theme/2020/templates/landing.html
Due: html-tidy

refac(back): #1862.2 remove vulns treatment
  django-apps/integrates-back-async/backend/api/dataloaders/vulnerability.py
  django-apps/integrates-back-async/backend/api/schemas/mutations.graphql
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  django-apps/integrates-back/backend/api/dataloaders/vulnerability.py
  django-apps/integrates-back/backend/domain/vulnerability.py
  django-apps/integrates-back/backend/entity/vulnerability.py
  django-apps/integrates-back/backend/utils/vulnerabilities.py
  test/entity_test/test_vulnerability.py
  test_async/entity_test/test_vulnerability.py
Due: pylint, flake8

fix(front): #3022 styles to the text
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/landing.html
Due: html-tidy

feat(doc): #2994.51 add reference for rule 314
  content/pages/rules/privacy/314/index.adoc
Due: none

fix(job): #1791.2 coverage_report
  build/include/jobs.sh
Due: shellcheck

fix(front): #3023 adjust location section
  new/theme/2020/templates/landing.html
Due: html-tidy

feat(doc): #2994.52 add references for rule 315
  content/pages/rules/privacy/315/index.adoc
Due: none

perf(back): #1635 async event mutations
  authorization/group_level_async.conf
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/resolvers/event.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

feat(back): #412 unbounce domains
  infrastructure/dns/campaigns.tf
Due: none

refac(conf): #400 add permissions to s3
  toolbox/resources.py
Due: pylint, flake8

rever(back): #1635 migrated operation
  front/src/utils/apollo.ts
Due: none

fix(front): #3025 alignment of the logo
  new/theme/2020/templates/footer.html
Due: html-tidy

refac(back): #1901 replace mandrill key
  secrets-production.yaml
Due: none

fix(doc): #2994.53 made exceptions clearer
  content/pages/rules/privacy/314/index.adoc
  content/pages/rules/privacy/315/index.adoc
Due: none

feat(cross): #1835.62 switch data source
  django-apps/integrates-back/backend/domain/user.py
  django-apps/integrates-back/backend/utils/authorization.py
  test/domain_test/test_user.py
  test/util_test/test_abac.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

refac(front): #1903 change accepted naming
  front/src/utils/translations/en.ts
Due: none

fix(front): #3026 align content in the footer
  new/theme/2020/templates/footer.html
Due: html-tidy

feat(doc): #2994.54 add references for rule 316
  content/pages/rules/privacy/316/index.adoc
Due: none

refac(doc): #3044 fix-trends-post
  content/blog/trends-2020/index.adoc
  content/blog/trends-2020/report.png
Due: none
