Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

.pre-commit-config.yaml:

fail_fast: false
repos:
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    files: \.(sh)$
    args: [ "--external-sources", "--exclude=SC1090,SC2016,SC2153,SC2154" ]
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    files: \.(py)$
    args: []
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    files: \.(py)$
    args: []
  - id: html-tidy
    name: tidy
    entry: tidy
    language: system
    files: \.(html)$
    args: []

test(front): #1372 increase coverage
  front/src/components/ConfirmDialog/index.spec.tsx
Due: none

feat(front): #3158.24 ssl
  content/pages/security/index.adoc
Due: none

feat(cross): #2004.1 backend controlled proj names
  django-apps/integrates-back-async/backend/dal/internal_project.py
  django-apps/integrates-back-async/backend/domain/internal_project.py
  django-apps/integrates-back-async/backend/domain/project.py
  django-apps/integrates-back-async/backend/exceptions.py
  front/src/scenes/Dashboard/components/AddProjectModal/index.tsx
  front/src/utils/formatHelpers.ts
  front/src/utils/translations/en.ts
  test_async/domain_test/test_project.py
Due: pylint, flake8

fix(front): #3229 fix title sizes
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/page.html
Due: html-tidy

fix(back): #777.1 logs kind
  toolbox/analytics/logs.py
Due: pylint, flake8

refac(back): #193.4 hsts default max age
  infrastructure/eks/manifests/helm/nginx.yaml
Due: none

fix(job): #456.1 dont upload non-cloned subs
  analytics/git/clone_them.py
Due: pylint, flake8

fix(build): #2009 audit deps prod
  front/npm-shrinkwrap.json
  front/package.json
Due: none

fix(front): #3158.25 internal links
  content/pages/security/index.adoc
Due: none

feat(back): #835 s3 authenticated access
  fluidasserts/cloud/aws/s3.py
  fluidasserts/helper/aws.py
  test/test_cloud_aws_s3.py
Due: pylint, flake8

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/containers/ProjectUsersView/index.spec.tsx
Due: none

feat(cross): #2994.92 create rule for legal reqs
  content/pages/findings/hygiene/088/index.adoc
  content/pages/findings/hygiene/118/index.adoc
  content/pages/rules/legal/331/index.adoc
  content/pages/rules/privacy/189/index.adoc
  content/pages/rules/privacy/310/index.adoc
  content/pages/rules/privacy/311/index.adoc
  content/pages/rules/privacy/312/index.adoc
  content/pages/rules/privacy/313/index.adoc
  content/pages/rules/privacy/314/index.adoc
  content/pages/rules/privacy/315/index.adoc
  content/pages/rules/privacy/316/index.adoc
  content/pages/rules/privacy/317/index.adoc
  content/pages/rules/privacy/318/index.adoc
  theme/2014/templates/rules.html
Due: html-tidy

feat(back): #1835.87 descend roles
  django-apps/integrates-back-async/backend/utils/authorization.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

test(back): #1835.86 fix wrong enforcer
  test_async/util_test/test_abac.py
Due: pylint, flake8

feat(doc): #3230 devsecops-post
  content/blog/devsecops-concept/ah.png
  content/blog/devsecops-concept/build.png
  content/blog/devsecops-concept/cover.png
  content/blog/devsecops-concept/devsecops.png
  content/blog/devsecops-concept/index.adoc
Due: none

fix(front): #3231 change font sizes
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/page.html
Due: html-tidy

refac(back): #2011.1 move authz into its own modul
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/authz/__init__.py
  django-apps/integrates-back-async/backend/decorators.py
  django-apps/integrates-back-async/backend/domain/user.py
  django-apps/integrates-back-async/backend/utils/validations.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

feat(build): #938.1 add build2
  build2.sh
  build2/Dockerfile
  build2/builders/python-package-local/builder.sh
  build2/builders/python-package-local/default.nix
  build2/builders/python-package/builder.sh
  build2/builders/python-package/default.nix
  build2/builders/python-requirements/builder.sh
  build2/builders/python-requirements/default.nix
  build2/include/cli.sh
  build2/include/env.sh
  build2/include/generic/dir-structure.sh
  build2/include/generic/shell-options.sh
  build2/include/helpers.sh
  build2/include/jobs.sh
  build2/lambdas/string-to-derivation-name/default.nix
  build2/pkgs/fetch-src.nix
  build2/pkgs/stable-src.nix
  build2/pkgs/stable.nix
  build2/provisioners/build_nix_caches.nix
  build2/src/basic.nix
Due: shellcheck

feat(doc): #2994.93 add references for rule 045
  content/pages/findings/hygiene/119/index.adoc
  content/pages/rules/files/045/index.adoc
Due: none

fix(front): #3183 styles for monospace
  new/theme/2020/static/scss/base.scss
Due: none

feat(front): #2013.1 case confusion
  front/src/scenes/Dashboard/components/RemoveProjectModal/index.tsx
  front/src/utils/translations/en.ts
Due: none

fix(front): #3232 line height of titles
  new/theme/2020/static/scss/base.scss
Due: none

feat(build): #1961.12 deploy to google play
  .gitlab-ci.yml
  build/include/jobs.sh
  build/provisioners/deploy_mobile_ota.nix
  build/provisioners/deploy_mobile_playstore.nix
  mobile/Gemfile
  mobile/app.json
Due: shellcheck

feat(cross): #1985.1 mypy in all files
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/dataloaders/event.py
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
Due: shellcheck, pylint, flake8

feat(back): #2016 improve selenium login
  ephemeral_tests.py
Due: pylint, flake8

fix(back): #2015 allow roles to view evidences
  app/views.py
Due: pylint, flake8

fix(build): #1961.13 add missing dep
  build/provisioners/deploy_mobile_playstore.nix
  mobile/app.json
Due: none

feat(back): #1996 setting default contenttype
  app/urls.py
Due: pylint, flake8

feat(back): #835 s3 is object lock disabled
  fluidasserts/cloud/aws/s3.py
  test/test_cloud_aws_s3.py
Due: pylint, flake8

refac(build): #1961.14 deploy to production
  build/include/jobs.sh
  mobile/app.json
Due: shellcheck

feat(doc): #2994.94 add refs for rules 177 and 329
  content/pages/rules/data/177/index.adoc
  content/pages/rules/data/329/index.adoc
Due: none

feat(infra): #2017 do not cache error responses
  deploy/terraform-resources/cloudfront/distribution.tf
Due: none

feat(front): #1965 extra finding desc validations
  front/src/scenes/Dashboard/containers/DescriptionView/index.tsx
Due: none

refac(back): #2011.2 split logic
  django-apps/integrates-back-async/backend/authz/__init__.py
  django-apps/integrates-back-async/backend/authz/boundary.py
  django-apps/integrates-back-async/backend/authz/enforcer.py
  django-apps/integrates-back-async/backend/authz/model.py
  django-apps/integrates-back-async/backend/authz/policy.py
Due: pylint, flake8

feat(front): #1996 setting apollo default headers
  front/src/utils/apollo.ts
Due: none

feat(back): #2003 reviewer actions
  django-apps/integrates-back-async/backend/authz/model.py
  django-apps/integrates-back-async/backend/domain/user.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

refac(front): #2009.3 update circular-progressbar
  front/package.json
  front/src/scenes/Dashboard/components/FindingHeader/index.tsx
Due: none

refac(front): #2009.2 update charts dep
  front/package.json
  front/src/scenes/Dashboard/components/IndicatorChart/index.spec.tsx
  front/src/scenes/Dashboard/components/IndicatorChart/index.tsx
  front/src/scenes/Dashboard/containers/IndicatorsView/index.tsx
Due: none
