Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

fix(front): #3103 landscape menu
  new/theme/2020/templates/menu.html
Due: html-tidy

feat(doc): #3088.23 add fins 050-053
  content/pages/findings/security/050/index.adoc
  content/pages/findings/security/051/index.adoc
  content/pages/findings/security/052/index.adoc
  content/pages/findings/security/053/index.adoc
  content/pages/rules/architecture/263/index.adoc
  content/pages/rules/authentication/237/index.adoc
  content/pages/rules/credentials/132/index.adoc
  content/pages/rules/credentials/133/index.adoc
  content/pages/rules/credentials/134/index.adoc
  content/pages/rules/credentials/135/index.adoc
  content/pages/rules/credentials/139/index.adoc
  content/pages/rules/cryptography/148/index.adoc
  content/pages/rules/cryptography/149/index.adoc
  content/pages/rules/cryptography/150/index.adoc
  content/pages/rules/data/181/index.adoc
Due: none

feat(job): #551.1 async thread safety
  tests/test_api_integrates.py
  toolbox/analytics/logs.py
  toolbox/api/integrates.py
  toolbox/reports.py
  toolbox/utils/generic.py
Due: pylint, flake8

feat(doc): #3088.24 add fins 054, 055, 059
  content/pages/findings/security/054/index.adoc
  content/pages/findings/security/055/index.adoc
  content/pages/findings/security/059/index.adoc
  content/pages/rules/architecture/266/index.adoc
  content/pages/rules/authorization/033/index.adoc
  content/pages/rules/logs/083/index.adoc
Due: none

feat(doc): #3104 triage-synopsys-post
  content/blog/vulns-triage-synopsys/cover.png
  content/blog/vulns-triage-synopsys/cvss.png
  content/blog/vulns-triage-synopsys/duck.png
  content/blog/vulns-triage-synopsys/index.adoc
  content/blog/vulns-triage-synopsys/integrates.png
  content/blog/vulns-triage-synopsys/sea.png
Due: none

fix(back): #1905 reports access control
  django-apps/integrates-back-async/backend/api/resolvers/report.py
Due: pylint, flake8

refac(cross): #1837.15 migrate to abac
  front/src/scenes/Dashboard/containers/RecordsView/index.spec.tsx
  front/src/scenes/Dashboard/containers/RecordsView/index.tsx
  front/src/scenes/Dashboard/containers/SeverityView/index.spec.tsx
  front/src/scenes/Dashboard/containers/SeverityView/index.tsx
Due: none

refac(back): #1635 removed unused tests
  .gitignore
  app/templates/graphiql.html
  test/__init__.py
  test/conftest.py
  test/entity_test/__init__.py
  test/entity_test/test_alert.py
  test/entity_test/test_cache.py
  test/entity_test/test_events.py
  test/entity_test/test_finding.py
  test/entity_test/test_forces.py
  test/entity_test/test_me.py
  test/entity_test/test_project.py
  test/entity_test/test_resource.py
  test/entity_test/test_tags.py
  test/entity_test/test_user.py
  test/entity_test/test_utils.py
  test/entity_test/test_vulnerability.py
  test/functional/.gitignore
  test/util_test/__init__.py
  test/util_test/test_abac.py
Due: pylint, flake8, html-tidy

refac(cross): #1837.16 migrate to abac
  front/src/scenes/Dashboard/components/UpdateVerificationModal/index.tsx
  front/src/scenes/Dashboard/containers/EvidenceView/index.tsx
  front/src/scenes/Dashboard/containers/ExploitView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ExploitView/index.tsx
Due: none

refac(back): #765 resolvers/resource.py typed
  django-apps/integrates-back-async/backend/api/resolvers/resource.py
Due: pylint, flake8

refac(cross): #1637 remove unused mutation
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  django-apps/integrates-back-async/backend/api/schemas/mutations.graphql
  django-apps/integrates-back-async/backend/domain/finding.py
  django-apps/integrates-back-async/backend/utils/authorization.py
  front/src/scenes/Dashboard/containers/DescriptionView/queries.ts
  front/src/scenes/Dashboard/containers/DescriptionView/types.ts
  test_async/entity_test/test_finding.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

refac(back): #526.3 split the monolith
  toolbox/forces/sync.py
Due: pylint, flake8

refac(back): #765 resolvers/tag.py typed
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/resolvers/tag.py
  django-apps/integrates-back-async/backend/typing.py
Due: shellcheck, pylint, flake8

refac(back): #521.12 amazon bucket rm
  toolbox/drills/push_repos.py
Due: pylint, flake8

feat(front): #1869 add open_vulns indicators
  ephemeral_tests.py
  front/src/scenes/Dashboard/components/IndicatorGraph/index.tsx
  front/src/scenes/Dashboard/containers/IndicatorsView/index.css
  front/src/scenes/Dashboard/containers/IndicatorsView/index.tsx
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.spec.tsx
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.tsx
  front/src/utils/translations/en.ts
Due: pylint, flake8

feat(back): #522.1 toolbox as nix env pkg
  pip-install-hook.sh
  setup.nix
Due: shellcheck

refac(front): #1837.17 migrate to abac
  front/src/scenes/Dashboard/containers/DescriptionView/ActionButtons/index.spec.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/ActionButtons/index.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/TreatmentView/index.spec.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/TreatmentView/index.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/index.tsx
Due: none

refac(back): #526.4 split dynamic monolith
  toolbox/forces/sync.py
Due: pylint, flake8

test(back): #526.5 bb was role arns getter
  tests/test_forces_sync.py
Due: pylint, flake8

feat(back): #1635 project mutations
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/utils/authorization.py
  front/src/scenes/Dashboard/containers/HomeView/index.spec.tsx
  front/src/scenes/Dashboard/containers/HomeView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/index.tsx
  test_async/entity_test/test_project.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

fix(front): #3049.1 add arrow icons
  new/theme/2020/static/images/arrow-down.svg
  new/theme/2020/templates/menu.html
Due: html-tidy

feat(back): #1905 pdf custom footer
  app/documentator/resources/themes/fluid-theme.yml
  app/documentator/secure_pdf.py
  deploy/containers/deps-app/requirements.txt
  django-apps/integrates-back-async/backend/domain/report.py
Due: pylint, flake8

feat(doc): #3088.25 add fins 063, 065, 069
  content/pages/findings/security/038/index.adoc
  content/pages/findings/security/063/index.adoc
  content/pages/findings/security/065/index.adoc
  content/pages/findings/security/069/index.adoc
  content/pages/rules/architecture/320/index.adoc
  content/pages/rules/authentication/237/index.adoc
  content/pages/rules/data/177/index.adoc
  content/pages/rules/source/173/index.adoc
Due: none

style(front): #1837.18 indent code
  front/src/scenes/Dashboard/containers/DescriptionView/TreatmentView/index.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/index.tsx
Due: none

test(back): #1372 increase coverage
  test_async/domain_test/test_alert.py
Due: pylint, flake8

feat(back): #1931.1 trigger forces deployment
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/vulnerability.py
  django-apps/integrates-back-async/backend/util.py
Due: pylint, flake8

perf(back): #521.13 use filters
  toolbox/api/integrates.py
  toolbox/drills/to_reattack.py
Due: pylint, flake8

feat(back): #1905 cloudfront link life reduced
  django-apps/integrates-back-async/backend/dal/report.py
Due: pylint, flake8

refac(back): #1905 modified xls path name
  app/techdoc/it_report.py
Due: pylint, flake8

refac(back): #765 resolvers/me.py typed
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/typing.py
Due: pylint, flake8

feat(back): #1635 project mutations
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/utils/authorization.py
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Portfolio/index.tsx
  test_async/entity_test/test_project.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

feat(back): #923.2 target software and keywords
  fluidasserts/helper/sca.py
  fluidasserts/sca/npm.py
  test/test_sca.py
Due: pylint, flake8

feat(doc): #3088.26 add fins 075, 076, 078
  content/pages/findings/security/006/index.adoc
  content/pages/findings/security/075/index.adoc
  content/pages/findings/security/076/index.adoc
  content/pages/findings/security/078/index.adoc
  content/pages/rules/architecture/320/index.adoc
  content/pages/rules/authentication/264/index.adoc
  content/pages/rules/authorization/096/index.adoc
  content/pages/rules/credentials/141/index.adoc
  content/pages/rules/cryptography/224/index.adoc
  content/pages/rules/data/176/index.adoc
  content/pages/rules/session/030/index.adoc
  content/pages/rules/session/031/index.adoc
Due: none

fix(cross): #1928 identifier field
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  front/src/scenes/Dashboard/containers/ProjectForcesView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectForcesView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectForcesView/queries.ts
  test_async/dynamo_data/bb_executions.json.now
  test_async/entity_test/test_forces.py
Due: pylint, flake8

feat(back): #1635 user mutations
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/utils/authorization.py
  front/src/scenes/Dashboard/components/Sidebar/index.tsx
  front/src/scenes/Dashboard/containers/ProjectUsersView/index.tsx
  test_async/entity_test/test_project.py
  test_async/entity_test/test_user.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

refac(back): #765 resolvers/alert.py typed
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/resolvers/alert.py
Due: shellcheck, pylint, flake8

refac(cross): #1837.19 migrate to abac
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/api/schemas/mutations.graphql
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  django-apps/integrates-back-async/backend/api/typesdef.py
  django-apps/integrates-back-async/backend/utils/authorization.py
  front/src/scenes/Dashboard/containers/DescriptionView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectContent/queries.ts
  front/src/scenes/Dashboard/containers/ProjectSettingsView/types.ts
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.tsx
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/types.ts
  front/src/scenes/Dashboard/containers/ProjectUsersView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectUsersView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectUsersView/queries.ts
  front/src/scenes/Dashboard/containers/ProjectUsersView/types.ts
  front/src/scenes/Dashboard/index.tsx
  front/src/scenes/Dashboard/queries.ts
  test_async/entity_test/test_user.py
Due: pylint, flake8

feat(doc): #3088.27 add fins 081, 083, 085
  content/pages/findings/security/081/index.adoc
  content/pages/findings/security/083/index.adoc
  content/pages/findings/security/085/index.adoc
  content/pages/rules/authentication/229/index.adoc
  content/pages/rules/authentication/231/index.adoc
  content/pages/rules/authentication/264/index.adoc
  content/pages/rules/authentication/319/index.adoc
  content/pages/rules/data/177/index.adoc
  content/pages/rules/source/173/index.adoc
Due: none

feat(back): #524.1 does_fusion_exist
  toolbox/utils/generic.py
Due: pylint, flake8

feat(back): #524.2 include
  toolbox/drills/__init__.py
Due: pylint, flake8

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
