Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

.pre-commit-config.yaml:

fail_fast: false
repos:
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    files: \.(sh)$
    args: [ "--external-sources", "--exclude=SC1090,SC2016,SC2153,SC2154" ]
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    files: \.(py)$
    args: []
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    files: \.(py)$
    args: []
  - id: html-tidy
    name: tidy
    entry: tidy
    language: system
    files: \.(html)$
    args: []

feat(doc): #2994.70 add references for rule 265
  content/pages/rules/services/265/index.adoc
Due: none

refac(build): #1916 sort secrets files
  __init__.py
  ci-scripts/helpers/sops.sh
  fluidintegrates/settings.py
  secrets-development.yaml
  secrets-production.yaml
Due: shellcheck, pylint, flake8

fix(front): #3062 fixes in the home page
  new/theme/2020/templates/footer.html
  new/theme/2020/templates/landing.html
Due: html-tidy

fix(back): #1863.5 handle empty company
  django-apps/integrates-back/backend/dal/alert.py
Due: pylint, flake8

refac(front): #1863.4 add missing handler
  front/src/scenes/Dashboard/containers/FindingContent/index.tsx
Due: none

perf(back): #1835.68 get_item instead of query
  django-apps/integrates-back/backend/dal/user.py
  django-apps/integrates-back/backend/domain/user.py
Due: pylint, flake8

feat(back): #1905 include cloudfront url in mail
  app/views.py
  django-apps/integrates-back/backend/utils/reports.py
Due: pylint, flake8

feat(doc): #2994.71 add references for rule 160
  content/pages/rules/architecture/320/index.adoc
  content/pages/rules/authentication/227/index.adoc
  content/pages/rules/authentication/229/index.adoc
  content/pages/rules/authentication/319/index.adoc
  content/pages/rules/authorization/033/index.adoc
  content/pages/rules/authorization/096/index.adoc
  content/pages/rules/data/176/index.adoc
  content/pages/rules/data/186/index.adoc
  content/pages/rules/data/321/index.adoc
  content/pages/rules/logs/075/index.adoc
  content/pages/rules/logs/079/index.adoc
  content/pages/rules/logs/083/index.adoc
  content/pages/rules/services/265/index.adoc
  content/pages/rules/source/160/index.adoc
  content/pages/rules/source/173/index.adoc
Due: none

test(back): #1372 test registered user
  test/test_services.py
Due: pylint, flake8

feat(doc): #2994.72 remove wikipedia references
  content/pages/rules/credentials/132/index.adoc
  content/pages/rules/out-of-scope/assets/005/index.adoc
  content/pages/rules/session/029/index.adoc
Due: none

proj(lines): monchau - 50.44%, 74098 el, 0 ei
  toolbox/rules.def
Due: none

feat(front): #1869 add treatmentless indicator
  ephemeral_tests.py
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.tsx
  front/src/utils/translations/en.ts
Due: pylint, flake8

feat(back): #429 allow specify find or local
  toolbox/new_cli.py
  toolbox/toolbox.py
Due: pylint, flake8

test(back): #1635 async tests
  django-apps/integrates-back-async/backend/api/resolvers/alert.py
  django-apps/integrates-back/backend/util.py
  test_async/entity_test/test_alert.py
  test_async/entity_test/test_event.py
  test_async/entity_test/test_finding.py
  test_async/entity_test/test_internal_project.py
  test_async/entity_test/test_me.py
  test_async/entity_test/test_project.py
  test_async/entity_test/test_resource.py
  test_async/entity_test/test_subscription.py
  test_async/entity_test/test_user.py
  test_async/entity_test/test_vulnerability.py
Due: pylint, flake8

refac(back): #1709 rename report mail funct
  django-apps/integrates-back/backend/mailer.py
  django-apps/integrates-back/backend/utils/reports.py
Due: pylint, flake8

refac(back): #765 resolvers/finding.py typed
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  django-apps/integrates-back-async/backend/typing.py
  django-apps/integrates-back/backend/typing.py
Due: pylint, flake8

fix(front): #1869 add empty data indication
  ephemeral_tests.py
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.tsx
  test/dynamo_data/fi_authz.json
Due: pylint, flake8

feat(job): #365 check title match
  toolbox/toolbox.py
Due: pylint, flake8

feat(doc): #2994.73 add references for rule 145
  content/pages/rules/cryptography/145/index.adoc
Due: none

feat(back): #421.1 logs metadata
  toolbox/analytics/logs.py
Due: pylint, flake8

feat(doc): #2994.74 update references for rule 147
  content/pages/rules/cryptography/145/index.adoc
  content/pages/rules/cryptography/147/index.adoc
Due: none

test(back): #1372 test service
  test/test_services.py
Due: pylint, flake8

refac(build): #1917 update local dynamodb data
  test/dynamo_data/FI_findings.json
  test/dynamo_data/fi_authz.json
  test_async/entity_test/test_finding.py
Due: pylint, flake8

feat(cross): #431.2 data collection campaign
  setup.py
  toolbox/analytics/logs.py
  toolbox/utils.py
Due: pylint, flake8

feat(back): #387.1 gather project data script
  setup.py
  toolbox/sorts/get_data.py
Due: pylint, flake8

feat(cross): #431.3 cummulated tunes
  tests/test_cli.py
Due: pylint, flake8

feat(back): #431.4 build trigger source
  toolbox/analytics/logs.py
Due: pylint, flake8

feat(cross): #1635 migrated operation
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/schemas/mutations.graphql
  django-apps/integrates-back/backend/domain/project.py
  front/src/scenes/Dashboard/containers/ProjectCommentsView/queries.ts
  front/src/utils/apollo.ts
  test_async/entity_test/test_project.py
Due: pylint, flake8

feat(cross): #1635 migrated operation
  authorization/group_level_async.conf
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  django-apps/integrates-back/backend/dal/comment.py
  django-apps/integrates-back/backend/domain/finding.py
  front/src/scenes/Dashboard/containers/CommentsView/queries.ts
  front/src/utils/apollo.ts
  test_async/entity_test/test_finding.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

refac(back): #1905 move function to its domain
  app/views.py
  django-apps/integrates-back/backend/domain/finding.py
  django-apps/integrates-back/backend/domain/vulnerability.py
Due: pylint, flake8

test(back): #1635 increase coverage
  django-apps/integrates-back-async/backend/api/resolvers/alert.py
  django-apps/integrates-back-async/backend/api/resolvers/cache.py
  django-apps/integrates-back-async/backend/api/resolvers/event.py
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/api/resolvers/vulnerability.py
Due: pylint, flake8

feat(job): #365 allow add_finding without generic
  toolbox/toolbox.py
Due: pylint, flake8

feat(back): #1869 add additional data
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  django-apps/integrates-back/backend/domain/project.py
  django-apps/integrates-back/backend/scheduler.py
  test/domain_test/test_project.py
  test/dynamo_data/FI_projects.json
  test/dynamo_data/fi_vulnerabilities.json
  test/test_scheduler.py
  test_async/entity_test/test_project.py
Due: pylint, flake8

feat(job): #422 update tap_timedoctor cli
  analytics/singer/tap_timedoctor/tap_timedoctor/__init__.py
  analytics/singer/tap_timedoctor/tap_timedoctor/api_timedoctor.py
Due: pylint, flake8

refac(back): #1905 new reports entity
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/resolvers/report.py
  django-apps/integrates-back-async/backend/api/schemas/mutations.graphql
Due: pylint, flake8

fix(job): #433 scanner error
  toolbox/analytics/logs.py
Due: pylint, flake8

fix(front): #3071 products fixes
  new/content/pages/products/drills/index.adoc
  new/content/pages/products/forces/index.adoc
  new/content/pages/products/index.adoc
  new/content/pages/products/integrates/index.adoc
  new/theme/2020/static/js/dynClasses.ts
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/base.html
  new/theme/2020/templates/menu.html
  new/theme/2020/templates/products/drills.html
  new/theme/2020/templates/products/forces.html
  new/theme/2020/templates/products/integrates.html
Due: html-tidy

feat(cross): #421 fields and rate limit
  analytics/conf/awsdynamodb.json
  analytics/singer/tap_awsdynamodb/tap_awsdynamodb/__init__.py
Due: pylint, flake8

feat(job): #422 add schedule backup timedoctor
  .gitlab-ci.yml
  build/include/jobs.sh
  secrets-prod.yaml
Due: shellcheck

feat(back): #365 allow add_finding only once
  toolbox/toolbox.py
Due: pylint, flake8
