Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

feat(build): #938.7 caches
  .gitlab-ci.yml
  build2/include/jobs.sh
Due: shellcheck

feat(cross): #2003 reviewer role
  app/views.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  django-apps/integrates-back-async/backend/api/typesdef.py
  django-apps/integrates-back-async/backend/authz/model.py
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.tsx
  front/src/utils/translations/en.ts
Due: pylint, flake8

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.spec.tsx
Due: none

feat(build): #938.8 tests
  .gitlab-ci.yml
  build2/include/helpers.sh
  build2/include/jobs.sh
  build2/provisioners/test_asserts_api_lang_core.nix
  build2/provisioners/test_asserts_api_lang_csharp.nix
  build2/provisioners/test_asserts_api_lang_docker.nix
  build2/provisioners/test_asserts_api_lang_dotnetconfig.nix
Due: shellcheck

refac(back): #2011.8 centralize code
  app/pipeline/user.py
  app/views.py
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/api/resolvers/vulnerability.py
  django-apps/integrates-back-async/backend/authz/__init__.py
  django-apps/integrates-back-async/backend/authz/policy.py
  django-apps/integrates-back-async/backend/dal/project.py
  django-apps/integrates-back-async/backend/decorators.py
  django-apps/integrates-back-async/backend/domain/comment.py
  django-apps/integrates-back-async/backend/domain/event.py
  django-apps/integrates-back-async/backend/domain/finding.py
  django-apps/integrates-back-async/backend/domain/project.py
  django-apps/integrates-back-async/backend/domain/user.py
  django-apps/integrates-back-async/backend/domain/vulnerability.py
  django-apps/integrates-back-async/backend/mailer.py
  django-apps/integrates-back-async/backend/services.py
  test_async/authz_test/test_boundary.py
  test_async/authz_test/test_enforcer.py
  test_async/authz_test/test_policy.py
  test_async/conftest.py
  test_async/domain_test/test_user.py
Due: pylint, flake8

feat(front): #2023 drawer menu base
  mobile/package.json
  mobile/src/app.tsx
  mobile/src/containers/MenuView/Sidebar/index.tsx
  mobile/src/containers/MenuView/Sidebar/styles.ts
  mobile/src/containers/MenuView/index.tsx
  mobile/tslint.json
Due: none

fix(front): #3241 pre tags style
  new/theme/2020/static/scss/base.scss
Due: none

feat(build): #938.9 tests
  .gitlab-ci.yml
  build2/include/helpers.sh
  build2/include/jobs.sh
  build2/provisioners/test_asserts_api_lang_html.nix
  build2/provisioners/test_asserts_api_lang_java.nix
  build2/provisioners/test_asserts_api_lang_javascript.nix
  build2/provisioners/test_asserts_api_lang_php.nix
Due: shellcheck

refac(build): #2010 audit all deps
  front/package.json
Due: none

feat(build): #938.10 tests
  .gitlab-ci.yml
  build2/include/jobs.sh
  build2/provisioners/test_asserts_api_lang_python.nix
  build2/provisioners/test_asserts_api_lang_rpgle.nix
  build2/provisioners/test_asserts_api_lang_times.nix
  build2/provisioners/test_asserts_api_ot.nix
  build2/provisioners/test_asserts_api_proto_dns.nix
Due: shellcheck

feat(back): #1965 extra back validations
  django-apps/integrates-back-async/backend/domain/event.py
  django-apps/integrates-back-async/backend/domain/finding.py
Due: pylint, flake8

feat(front): #1965 extra validations
  front/src/scenes/Dashboard/containers/DescriptionView/TreatmentView/index.tsx
Due: none

feat(cross): #2025.1 increase validations
  django-apps/integrates-back-async/backend/domain/project.py
  django-apps/integrates-back-async/backend/exceptions.py
  django-apps/integrates-back-async/backend/utils/validations.py
  front/src/scenes/Dashboard/components/Vulnerabilities/uploadFile.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/TreatmentView/index.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/index.tsx
  front/src/scenes/Dashboard/containers/EvidenceView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Environments/index.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Files/index.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Repositories/index.tsx
  front/src/scenes/Dashboard/containers/ProjectUsersView/index.tsx
  front/src/utils/translations/en.ts
  front/src/utils/validations.ts
  test_async/test_validations.py
Due: pylint, flake8

fix(front): #3243 cover images for blogs
  new/theme/2020/templates/article.html
Due: html-tidy

feat(build): #938.11 tests
  .gitlab-ci.yml
  build2/include/jobs.sh
  build2/provisioners/test_asserts_api_proto_ftp.nix
  build2/provisioners/test_asserts_api_proto_git.nix
  build2/provisioners/test_asserts_api_proto_graphql.nix
  build2/provisioners/test_asserts_api_proto_http.nix
  build2/provisioners/test_asserts_api_proto_ldap.nix
Due: shellcheck

feat(front): #2023.2 implement logout
  mobile/src/containers/MenuView/Sidebar/index.tsx
  mobile/src/containers/MenuView/Sidebar/styles.ts
  mobile/src/containers/WelcomeView/index.tsx
  mobile/src/utils/translations/en.ts
Due: none

feat(back): #835 elb insecure ssl proto
  fluidasserts/cloud/aws/elb2.py
  test/test_cloud_aws_elb2.py
Due: pylint, flake8

feat(back): #835 elb insecure ssl cipher
  fluidasserts/cloud/aws/elb2.py
  test/test_cloud_aws_elb2.py
Due: pylint, flake8

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/containers/ProjectUsersView/index.spec.tsx
Due: none

feat(front): #2012.1 handle errors
  front/src/scenes/Dashboard/containers/ProjectUsersView/index.tsx
  front/src/utils/translations/en.ts
Due: none

feat(doc): #2994.97 add epr ref to some rules
  content/pages/rules/data/177/index.adoc
  content/pages/rules/data/181/index.adoc
  content/pages/rules/data/183/index.adoc
  content/pages/rules/data/185/index.adoc
  content/pages/rules/data/300/index.adoc
  content/pages/rules/data/329/index.adoc
  content/pages/rules/legal/331/index.adoc
Due: none

feat(front): #2023.3 open menu button
  mobile/src/containers/MenuView/index.tsx
Due: none

feat(build): #938.12 tests
  .gitlab-ci.yml
  build2/include/jobs.sh
  build2/provisioners/test_asserts_api_proto_rest.nix
  build2/provisioners/test_asserts_api_proto_smb.nix
  build2/provisioners/test_asserts_api_proto_smtp.nix
  build2/provisioners/test_asserts_api_proto_ssh.nix
  build2/provisioners/test_asserts_api_proto_ssl.nix
Due: shellcheck

feat(back): #936.17 allow refs beetwen resources
  fluidasserts/cloud/aws/cloudformation/graph.py
Due: pylint, flake8

feat(back): #2014.1 show analysts
  django-apps/integrates-back-async/backend/api/resolvers/project.py
Due: pylint, flake8

feat(doc): #2994.98 add epr ref to some rules
  content/pages/rules/authorization/033/index.adoc
  content/pages/rules/data/181/index.adoc
  content/pages/rules/logs/083/index.adoc
  content/pages/rules/social/261/index.adoc
  content/pages/rules/source/156/index.adoc
Due: none

test(back): #1965 validate field length test
  test_async/test_validations.py
Due: pylint, flake8

refac(build): #1961.15 improve android build
  build/include/jobs.sh
  mobile/app.json
Due: shellcheck

fix(build): #2030 update codecov
  build/dependencies/requirements.txt
  build/provisioners/coverage_report.nix
Due: none

feat(build): #938.13 commitlint
  .gitlab-ci.yml
  build2/include/jobs.sh
  build2/provisioners/test_commit_message.nix
  ci-scripts/commitlint-conf.sh
  package.json
Due: shellcheck

refac(doc): #3242 add-info-forces
  new/content/pages/products/index.adoc
Due: none

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Files/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Files/index.tsx
Due: none

feat(build): #938.14 tests
  .gitlab-ci.yml
  build2/Dockerfile
  build2/include/jobs.sh
  build2/provisioners/test_asserts_api_cloud_aws_api.nix
  build2/provisioners/test_asserts_api_proto_tcp.nix
  build2/provisioners/test_asserts_api_sca.nix
  build2/provisioners/test_asserts_api_syst.nix
  build2/provisioners/test_asserts_api_utils.nix
Due: shellcheck

feat(back): #936.18 allow depnds between resources
  fluidasserts/cloud/aws/cloudformation/graph.py
Due: pylint, flake8

feat(back): #1965 validate field len greater/less
  django-apps/integrates-back-async/backend/utils/validations.py
Due: pylint, flake8

fix(front): #3236 fix styles for tables
  new/theme/2020/static/scss/base.scss
Due: none

test(front): #2023.4 increase coverage
  mobile/src/containers/MenuView/Sidebar/index.spec.tsx
  mobile/src/containers/MenuView/Sidebar/index.tsx
  mobile/src/containers/MenuView/index.spec.tsx
  mobile/src/containers/MenuView/index.tsx
Due: none

feat(back): #835 elb insecure security policy
  fluidasserts/cloud/aws/elb2.py
  test/test_cloud_aws_elb2.py
Due: pylint, flake8

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Files/index.spec.tsx
Due: none

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
