Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

.pre-commit-config.yaml:

fail_fast: false
repos:
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    files: \.(sh)$
    args: [ "--external-sources", "--exclude=SC1090,SC2016,SC2153,SC2154" ]
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    files: \.(py)$
    args: []
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    files: \.(py)$
    args: []
  - id: html-tidy
    name: tidy
    entry: tidy
    language: system
    files: \.(html)$
    args: []

refac(back): #1204.2 handle unnamed operations
  django-apps/integrates-back/backend/api/view.py
Due: pylint, flake8

refac(cross): #1705.24 switch to new description
  build/include/jobs.sh
  ephemeral_tests.py
  front/src/scenes/Dashboard/containers/DescriptionView/newIndex.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.tsx
  front/src/utils/apollo.ts
Due: shellcheck, pylint, flake8

refac(job): #2974 compile site
  .pre-commit-config.yaml
  build/include/helpers-deploy.sh
  build/include/jobs.sh
  build/provisioners/deploy_local.nix
  new/pelicanconf.py
  pelicanconf.py
  theme/2014/templates/base.html
  theme/2014/templates/contact.html
Due: shellcheck, pylint, flake8, html-tidy

refac(back): #765 resolvers/me.py fully typed
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/typing.py
  django-apps/integrates-back/backend/typing.py
Due: shellcheck, pylint, flake8

feat(back): #1635 allow fields with args
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
  django-apps/integrates-back-async/backend/api/query.py
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/api/schema.py
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  django-apps/integrates-back/backend/util.py
Due: pylint, flake8

feat(job): #2974 send_new_release_mail
  .envrc.public
  .gitlab-ci.yml
  .pre-commit-config.yaml
  build/include/jobs.sh
  build/provisioners/build_nix_caches.nix
  build/provisioners/deploy_ephemeral.nix
  build/provisioners/deploy_local.nix
  build/provisioners/deploy_production.nix
  build/provisioners/deploy_stop_ephemeral.nix
  build/provisioners/infra_ephemeral_apply.nix
  build/provisioners/infra_production_apply.nix
  build/provisioners/infra_production_test.nix
  build/provisioners/infra_secret_management_apply.nix
  build/provisioners/infra_secret_management_test.nix
  build/provisioners/send_new_release_email.nix
  build/provisioners/test_blog.nix
  build/provisioners/test_defends.nix
  build/provisioners/test_generic.nix
  build/provisioners/test_images.nix
  build/provisioners/test_pre_commit.nix
  build/src/external.nix
  pelicanconf.py
Due: shellcheck, pylint, flake8

feat(cross): #1635 finding operations
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  front/src/utils/apollo.ts
Due: pylint, flake8

perf(job): #2974 optipng for touched images
  .gitlab-ci.yml
  build/include/jobs.sh
  build/src/external.nix
Due: shellcheck

refac(front): #1862 remove vulns treatment
  front/src/scenes/Dashboard/components/Vulnerabilities/index.spec.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/index.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/queries.ts
  front/src/scenes/Dashboard/components/Vulnerabilities/types.ts
  front/src/scenes/Dashboard/components/Vulnerabilities/updateTreatment.tsx
Due: none

feat(doc): #2994.46 add reference for rule 191
  content/pages/rules/out-of-scope/data/191/index.adoc
Due: none

feat(front): #2972.2 integrates initial content
  new/content/pages/products/integrates/index.adoc
  new/theme/2020/static/images/products/integrates/integrates-1.png
  new/theme/2020/static/images/products/integrates/integrates-2.png
  new/theme/2020/static/images/products/integrates/integrates-3.png
  new/theme/2020/static/images/products/integrates/integrates-4.png
  new/theme/2020/static/images/products/integrates/integrates-5.png
  new/theme/2020/static/images/products/integrates/integrates-6.png
  new/theme/2020/static/images/products/integrates/integrates-7.png
  new/theme/2020/static/images/products/integrates/integrates-cover.png
  new/theme/2020/templates/products/integrates.html
Due: html-tidy

feat(job): #2974 test_lint_code
  .gitlab-ci.yml
  build/include/jobs.sh
  build/provisioners/postdeploy_release_email.nix
  build/provisioners/test_lint_code.nix
Due: shellcheck

refac(job): #2974 clean da house 2
  ci-scripts/build-builder.sh
  ci-scripts/helpers/others.sh
  deploy/builder/Dockerfile
  deploy/builder/js-files.txt
  deploy/builder/plugin_list.txt
Due: shellcheck

fix(back): #1835.51 resolve_add_user
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back/backend/domain/user.py
Due: pylint, flake8

feat(job): #419 add schedule to gen exps report
  toolbox/reports.py
Due: pylint, flake8

refac(doc): #2974 update readme
  README.adoc
Due: none

feat(doc): #2994.47 add reference for rule 176
  content/pages/rules/data/176/index.adoc
Due: none

feat(doc): #3017 respond-the-name
  content/blog/respond-the-name/cover.png
  content/blog/respond-the-name/index.adoc
  content/blog/respond-the-name/vulnerability.png
Due: none

feat(doc): #2994.48 add reference for rule 097
  content/pages/rules/out-of-scope/authorization/097/index.adoc
Due: none

refac(back): #1895 rename send mail lambda funct
  build/include/jobs.sh
  deploy/terraform-resources/lambda/send_mail_new_vulnerabilities.tf
  deploy/terraform-resources/lambda/send_mail_notification.tf
  lambda/send_mail_notification/lambda_send_mail_notification.py
  lambda/send_mail_notification/requirements.txt
Due: shellcheck, pylint, flake8

feat(doc): #2994.49 add reference for rule 058
  content/pages/rules/out-of-scope/architecture/058/index.adoc
Due: none

fix(job): #1791.1 coverage_report
  .gitlab-ci.yml
Due: none

feat(doc): #3018 fuzzing-post
  content/blog/fuzzing-forallsecure/corners.png
  content/blog/fuzzing-forallsecure/cover.png
  content/blog/fuzzing-forallsecure/index.adoc
Due: none

refac(cross): #409 remove vault
  build/include/jobs.sh
  infrastructure/eks/roles.tf
  infrastructure/eks/vault.tf
  infrastructure/main.tf
  infrastructure/terraform.sh
  infrastructure/terraform.tfvars
  infrastructure/vars.tf
Due: shellcheck

feat(back): #1835.52 prepare gsi
  ci-scripts/helpers/sops.sh
  django-apps/casbin-dynamodb-adapter/casbin_dynamodb_adapter/adapter.py
  secrets-development.yaml
  secrets-production.yaml
  test/dynamo_data/fi_authorization.json
Due: shellcheck, pylint, flake8

perf(job): #1896.1 infra image
  .gitlab-ci.yml
Due: none

fix(job): #1897.1 missing lambda zip
  .gitlab-ci.yml
Due: none

refac(front): #1705.25 massive description cleanup
  front/src/scenes/Dashboard/components/treatmentFields/index.spec.tsx
  front/src/scenes/Dashboard/components/treatmentFields/index.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/actionTypes.ts
  front/src/scenes/Dashboard/containers/DescriptionView/actions.ts
  front/src/scenes/Dashboard/containers/DescriptionView/formStructure.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/index.spec.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/index.tsx
  front/src/scenes/Dashboard/reducer.ts
Due: none

feat(cross): #1635 implement include directive
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
  django-apps/integrates-back/backend/util.py
  front/src/scenes/Dashboard/containers/FindingContent/index.spec.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.tsx
  front/src/scenes/Dashboard/containers/FindingContent/queries.ts
Due: pylint, flake8

feat(cross): #1635 migrated operations
  django-apps/integrates-back/backend/util.py
  front/src/utils/apollo.ts
Due: pylint, flake8

refac(back): #1895 rename missing lambda call
  lambda/project_to_pdf/lambda_project_to_pdf.py
Due: pylint, flake8

fix(back): #921 solve false positive in switch
  fluidasserts/lang/core.py
Due: pylint, flake8

feat(doc): #2994.50 add reference for rule 075
  content/pages/rules/logs/075/index.adoc
Due: none

refac(cross): #1890.1 limit portfolio access
  authorization/user_level.conf
  authorization/user_level_async.conf
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back/backend/api/query.py
  django-apps/integrates-back/backend/decorators.py
  front/src/scenes/Dashboard/components/RemoveProjectModal/index.spec.tsx
  front/src/scenes/Dashboard/components/RemoveProjectModal/index.tsx
  front/src/scenes/Dashboard/containers/HomeView/index.tsx
  front/src/scenes/Dashboard/containers/HomeView/queries.ts
  test/util_test/test_abac.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

perf(back): #1635 async heaven
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/alert.py
  django-apps/integrates-back-async/backend/api/resolvers/forces.py
  django-apps/integrates-back-async/backend/api/resolvers/internal_project.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/resolvers/resource.py
  django-apps/integrates-back-async/backend/api/view.py
  django-apps/integrates-back/backend/util.py
  test_async/entity_test/test_finding.py
  test_async/entity_test/test_project.py
Due: pylint, flake8

feat(back): #419 add mock exps to report
  toolbox/reports.py
  toolbox/utils.py
Due: pylint, flake8

feat(job): #408 generate file with empty subs
  analytics/git/generate_stats.py
Due: pylint, flake8

fix(build): #1826 increase delay
  front/src/scenes/Dashboard/containers/FindingContent/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectSettingsView/index.spec.tsx
Due: none
