Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

.pre-commit-config.yaml:

fail_fast: false
repos:
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    files: \.(sh)$
    args: [ "--external-sources", "--exclude=SC1090,SC2016,SC2153,SC2154" ]
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    files: \.(py)$
    args: []
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    files: \.(py)$
    args: []
  - id: html-tidy
    name: tidy
    entry: tidy
    language: system
    files: \.(html)$
    args: []

perf(back): #1835 async enforcers
  django-apps/integrates-back-async/backend/api/resolvers/user.py
Due: pylint, flake8

feat(front): #3158.1 security page
  content/pages/security/index.adoc
Due: none

refac(doc): #3159 fix-oss-ii
  content/blog/look-inside-oss/index.adoc
Due: none

feat(front): #3147.6 add pages content
  build/include/helpers-deploy.sh
  build/provisioners/deploy_ephemeral.nix
  build/provisioners/deploy_local.nix
  build/provisioners/deploy_production.nix
  new/theme/2020/static/scss/base.scss
Due: shellcheck

feat(front): #2967.1 add toggle all option
  theme/2014/static/js/rules.ts
  theme/2014/templates/rules.html
Due: html-tidy

refac(back): #1869 filter out tags
  django-apps/integrates-back-async/backend/domain/tag.py
Due: pylint, flake8

refac(front): #3158.2 remove providers
  content/pages/security/index.adoc
Due: none

refac(front): #1965 mutation typo
  front/src/scenes/Dashboard/containers/ProjectSettingsView/queries.ts
Due: none

feat(back): #835 alarm on root account usage
  fluidasserts/cloud/aws/cloudwatch.py
  test/test_cloud_aws_cloudwatch.py
Due: pylint, flake8

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/components/AddRepositoriesModal/index.spec.tsx
Due: none

feat(front): #1965 limit some fields length
  front/src/scenes/Dashboard/components/AddFilesModal/index.tsx
  front/src/scenes/Dashboard/components/AddProjectModal/index.tsx
  front/src/scenes/Dashboard/components/AddRepositoriesModal/index.tsx
Due: none

feat(back): #936.6 add to graph map vars
  fluidasserts/cloud/aws/cloudformation/graph.py
Due: pylint, flake8

test(back): #1372 test update evidence
  test_async/domain_test/test_event.py
Due: pylint, flake8

refac(front): #1869 change border_width
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.spec.tsx
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.tsx
Due: none

feat(back): #1937 projects filters
  django-apps/integrates-back-async/backend/api/query.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/schemas/query.graphql
  django-apps/integrates-back-async/backend/util.py
  test_async/domain_test/test_project.py
  test_async/entity_test/test_project.py
Due: pylint, flake8

feat(front): #3158.3 pseudonyms
  build/include/jobs.sh
  content/pages/security/index.adoc
Due: shellcheck

fix(front): #3158.4 links
  content/pages/security/index.adoc
Due: none

feat(back): #737.3 update references
  tests/conftest.py
  tests/test_cli.py
  toolbox/cli/__init__.py
  toolbox/forces/secrets.py
  toolbox/forces/sync.py
  toolbox/resources.py
  toolbox/toolbox.py
  vpns/include/generic.sh
Due: shellcheck, pylint, flake8

feat(front): #2967.2 extend toggle option to fins
  theme/2014/static/js/rules.ts
  theme/2014/templates/findings.html
  theme/2014/templates/rules.html
Due: html-tidy

fix(front): #3160.1 add links to the footer
  new/theme/2020/templates/footer.html
Due: html-tidy

feat(conf): #1982.1 set up codewoners
  CODEOWNERS
Due: none

feat(cross): #1949 add group level role
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  django-apps/integrates-back-async/backend/api/typesdef.py
  django-apps/integrates-back-async/backend/domain/project.py
  django-apps/integrates-back-async/backend/domain/user.py
  django-apps/integrates-back-async/backend/utils/authorization.py
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.tsx
  front/src/utils/translations/en.ts
  test_async/util_test/test_abac.py
Due: pylint, flake8

test(back): #1372 validate evidence invalid image
  test_async/domain_test/test_event.py
  test_async/domain_test/test_project.py
Due: pylint, flake8

feat(front): #3158.5 certifications
  build/include/jobs.sh
  content/pages/security/index.adoc
Due: shellcheck

refac(back): #835 metamethod for alarm checking
  fluidasserts/cloud/aws/cloudwatch.py
  test/test_cloud_aws_cloudwatch.py
Due: pylint, flake8

perf(back): #1936 async domain calls
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
Due: pylint, flake8

refac(front): #3158.6 neutralize language
  content/pages/security/index.adoc
Due: none

feat(front): #3147.7 careers and service subpages
  build/include/helpers-deploy.sh
Due: shellcheck

feat(front): #3158.7 mobile enroll policy
  content/pages/security/index.adoc
Due: none

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/components/AddProjectModal/index.spec.tsx
Due: none

refac(doc): #3167 fix-understanding-ssrf
  content/blog/understanding-ssrf/index.adoc
Due: none

feat(back): #835 alarm on s3 bucket changes
  fluidasserts/cloud/aws/cloudwatch.py
  test/test_cloud_aws_cloudwatch.py
Due: pylint, flake8

feat(back): #1911 finding name instead of id
  django-apps/integrates-back-async/backend/domain/vulnerability.py
Due: pylint, flake8

feat(front): #3160.2 links to more pages
  new/theme/2020/templates/footer.html
Due: html-tidy

feat(doc): #3168 resources-section-i
  new/content/pages/resources/index.adoc
Due: none

test(back): #1372 test approve draft
  test_async/domain_test/test_finding.py
  test_async/domain_test/test_project.py
  test_async/dynamo_data/FI_findings.json
  test_async/entity_test/test_project.py
Due: pylint, flake8

feat(front): #3158.8 non-repudiation
  content/pages/security/index.adoc
Due: none

perf(back): #1835.72 native async group lvl enfrcr
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/decorators.py
  django-apps/integrates-back-async/backend/utils/authorization.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

perf(back): #1835.73 native async user lvl enfrcr
  django-apps/integrates-back-async/backend/decorators.py
  test_async/util_test/test_abac.py
Due: pylint, flake8
