Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

.pre-commit-config.yaml:

fail_fast: false
repos:
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    files: \.(sh)$
    args: [ "--external-sources", "--exclude=SC1090,SC2016,SC2153,SC2154" ]
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    files: \.(py)$
    args: []
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    files: \.(py)$
    args: []
  - id: html-tidy
    name: tidy
    entry: tidy
    language: system
    files: \.(html)$
    args: []

feat(build): #938.15 send_new_release_email
  .gitlab-ci.yml
  build2.sh
  build2/include/jobs.sh
  build2/provisioners/send_new_release_email.nix
Due: shellcheck

fix(front): #3236 align columns to the top
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/article.html
  new/theme/2020/templates/page.html
Due: html-tidy

feat(cross): #2029.1 zendesk notification
  __init__.py
  build/include/helpers.sh
  deploy/containers/app/requirements.txt
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/dal/notifications.py
  django-apps/integrates-back-async/backend/domain/notifications.py
  django-apps/integrates-back-async/backend/domain/project.py
  secrets-development.yaml
  secrets-production.yaml
Due: shellcheck, pylint, flake8

feat(cross): #1965 add $ to whitelist
  django-apps/integrates-back-async/backend/utils/validations.py
  front/src/utils/validations.ts
Due: pylint, flake8

feat(cross): #1965 add # to whitelist
  django-apps/integrates-back-async/backend/utils/validations.py
  front/src/utils/validations.ts
Due: pylint, flake8

test(front): #2031.1 keep errors updated
  front/src/scenes/Dashboard/containers/ProjectUsersView/index.spec.tsx
Due: none

feat(build): #938.16 linters
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .pylintrc
  build.sh
  build2/config/README.rst
  build2/dependencies/lint_asserts.lst
  build2/include/helpers.sh
  build2/include/jobs.sh
  build2/pkgs/stable-src.nix
  build2/provisioners/lint_asserts.nix
  build2/provisioners/lint_commit_message.nix
  build2/provisioners/lint_nix.nix
  build2/provisioners/lint_shell.nix
Due: shellcheck

feat(front): #1965 finding desc fields len limits
  front/src/scenes/Dashboard/containers/DescriptionView/index.tsx
Due: none

feat(doc): #2994.99 add epr ref to rule 183
  content/pages/rules/data/183/index.adoc
Due: none

feat(build): #938.17 linters
  .gitlab-ci.yml
  build.sh
  build2/include/jobs.sh
  build2/provisioners/lint_asserts_bandit.nix
  build2/provisioners/lint_asserts_tests.nix
Due: shellcheck

test(front): #1372 increase coverage
  front/src/scenes/Dashboard/containers/ProjectSettingsView/Files/index.spec.tsx
Due: none

feat(doc): #2994.100 add epr ref to rule 312
  content/pages/rules/privacy/312/index.adoc
Due: none

test(front): #1372 increase coverage
  mobile/src/containers/LoginView/index.spec.android.tsx
  mobile/src/containers/LoginView/index.tsx
Due: none

fix(front): #3252 fix navigation
  new/theme/2020/templates/article.html
  new/theme/2020/templates/footer.html
Due: html-tidy

feat(back): #2029.2 edit group domain
  django-apps/integrates-back-async/backend/dal/project.py
  django-apps/integrates-back-async/backend/domain/project.py
  test_async/domain_test/test_project.py
Due: pylint, flake8

feat(back): #387.6 svm predictor
  MANIFEST.in
  requirements.txt
  tests/test_drills_to_reattack.py
  toolbox/cli/__init__.py
  toolbox/sorts/__init__.py
  toolbox/sorts/predict.py
  toolbox/sorts/svm.pickle
Due: pylint, flake8

test(front): #1372 increase coverage
  mobile/src/containers/LoginView/index.spec.tsx
Due: none

feat(build): #938.18 deploys
  .gitlab-ci.yml
  build2/include/helpers.sh
  build2/include/jobs.sh
  build2/provisioners/build_asserts.nix
  build2/provisioners/release_to_docker_hub.nix
  build2/provisioners/release_to_pypi.nix
Due: shellcheck

feat(back): #2029.3 template msgs
  django-apps/integrates-back-async/backend/domain/notifications.py
  django-apps/integrates-back-async/backend/domain/project.py
Due: pylint, flake8

refac(front): #1965 finding reqs max length
  front/src/scenes/Dashboard/containers/DescriptionView/index.tsx
Due: none

refac(infra): #2005 add historic_state to gsi
  deploy/containers/common/vars/provision_local_db.sh
  deploy/terraform-resources/dynamodb/dynamo-tables.tf
Due: shellcheck

perf(back): #2005 change how fins are validated
  django-apps/integrates-back-async/backend/api/dataloaders/vulnerability.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/dal/project.py
  django-apps/integrates-back-async/backend/decorators.py
  django-apps/integrates-back-async/backend/domain/finding.py
  django-apps/integrates-back-async/backend/domain/project.py
  django-apps/integrates-back-async/backend/domain/tag.py
  django-apps/integrates-back-async/backend/scheduler.py
Due: pylint, flake8

feat(back): #936.19 func to load outputs
  .pre-commit-config.yaml
  fluidasserts/cloud/aws/cloudformation/graph.py
Due: pylint, flake8

feat(back): #2035 drafts allowed roles
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
Due: pylint, flake8

fix(back): #2033 repositories migration
  app/migrations/0002-add-protocol-field-to-all-repos.py
Due: pylint, flake8

refac(doc): #3249 fix-security-section
  content/pages/security/index.adoc
Due: none

feat(back): #2029.4 expose resolver
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/schemas/mutations.graphql
  django-apps/integrates-back-async/backend/authz/model.py
  django-apps/integrates-back-async/backend/decorators.py
  test_async/entity_test/test_project.py
Due: pylint, flake8

fix(infra): #1779 reordering of attrs
  deploy/terraform-resources/dynamodb/dynamo-tables.tf
Due: none

feat(back): #835 sns can anyone publish
  fluidasserts/cloud/aws/sns.py
  test/test_cloud_aws_sns.py
Due: pylint, flake8

refac(cross): #2029.5 remove options
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  django-apps/integrates-back-async/backend/api/typesdef.py
  django-apps/integrates-back-async/backend/domain/event.py
  front/src/scenes/Dashboard/containers/ProjectEventsView/index.tsx
  front/src/utils/formatHelpers.ts
  front/src/utils/translations/en.ts
Due: pylint, flake8

refac(back): #903.1 rename attributes
  fluidasserts/cloud/aws/cloudformation/graph.py
  fluidasserts/helper/aws.py
  fluidasserts/utils/parsers/json.py
Due: pylint, flake8

feat(back): #835 sns topic public subscription
  fluidasserts/cloud/aws/sns.py
  test/test_cloud_aws_sns.py
Due: pylint, flake8

fix(back): #387.7 add forgotten stuff, minor fixes
  MANIFEST.in
  toolbox/sorts/model_parameters.json
  toolbox/sorts/predict.py
Due: pylint, flake8

feat(doc): #3253 sqli-manual-bypass
  content/blog/sqli-manual-bypass/cover.png
  content/blog/sqli-manual-bypass/index.adoc
  content/images/authors/johna.png
Due: none

fix(front): #3255 center image captions
  new/theme/2020/static/scss/base.scss
Due: none

refac(back): #1965 customized validations
  django-apps/integrates-back-async/backend/domain/resources.py
  django-apps/integrates-back-async/backend/utils/validations.py
Due: pylint, flake8
