Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

test(back): #526.15 asserts api tests
  tests/test_api_asserts.py
Due: pylint, flake8

feat(doc): #3088.34 add fins 108, 110
  content/pages/findings/security/108/index.adoc
  content/pages/findings/security/110/index.adoc
  content/pages/rules/architecture/062/index.adoc
  content/pages/rules/architecture/072/index.adoc
  content/pages/rules/architecture/266/index.adoc
  content/pages/rules/source/173/index.adoc
Due: none

feat(front): #526.16 little description
  toolbox/forces/sync.py
Due: pylint, flake8

feat(cross): #526.17 change static equation
  toolbox/forces/sync.py
Due: pylint, flake8

refac(back): #1635 removed unused code
  django-apps/integrates-back-async/backend/util.py
Due: pylint, flake8

feat(cross): #526.18 change dynamic equaion
  toolbox/api/asserts.py
  toolbox/forces/sync.py
Due: pylint, flake8

feat(back): #526.19 better typing
  toolbox/forces/sync.py
Due: pylint, flake8

feat(infra): #1635 serve with gunicorn
  build/dependencies/requirements.txt
  build/include/jobs.sh
  deploy/containers/common/vars/run.sh
  deploy/containers/deps-app/requirements.txt
  fluidintegrates/asgi.py
Due: shellcheck, pylint, flake8

fix(infra): #1635 newrelic and gunicorn
  fluidintegrates/asgi.py
  newrelic.ini
Due: pylint, flake8

refac(back): #1837.22 restrict admin actions
  django-apps/integrates-back-async/backend/utils/authorization.py
  test_async/entity_test/test_finding.py
  test_async/entity_test/test_vulnerability.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

refac(front): #1635 apollo cleanup
  front/src/utils/apollo.ts
  front/src/utils/environment.ts
  front/src/utils/rollbar.ts
Due: none

refac(build): #1620 load svgs locally
  front/package.json
  front/webpack.common.config.ts
  front/webpack.dev.config.ts
  front/webpack.prod.config.ts
Due: none

fix(job): #425 solve problem running command
  analytics/git/clone_them.py
Due: pylint, flake8

feat(infra): #1635 gunicorn workers
  build/include/jobs.sh
  deploy/containers/common/vars/run.sh
Due: shellcheck

feat(infra): #1905 tf new domain certificate
  deploy/terraform-resources/cloudfront/certificate.tf
  deploy/terraform-resources/cloudfront/distribution.tf
Due: none

refac(front): #494.5 delete option from cli
  toolbox/cli/__init__.py
Due: pylint, flake8

perf(infra): #1926 increase resources
  deploy/containers/common/vars/run.sh
  deploy/integrates-k8s.yaml
  review-apps/deploy-integrates.yaml
Due: shellcheck

feat(job): #425 rename fluid cli option
  analytics/git/clone_them.py
Due: pylint, flake8

test(back): #524.6 push repos tests
  tests/conftest.py
  tests/test_drills_push_repos.py
Due: pylint, flake8

fix(back): #526.20 test_kind availability
  toolbox/api/asserts.py
Due: pylint, flake8

feat(back): #1869 add update_tags_indicators
  deploy/backup/terraform/variables.tf
  deploy/containers/common/vars/provision_local_db.sh
  deploy/terraform-resources/dynamodb/dynamo-tables.tf
  django-apps/integrates-back-async/backend/dal/tag.py
  django-apps/integrates-back-async/backend/domain/tag.py
  django-apps/integrates-back-async/backend/scheduler.py
  fluidintegrates/settings.py
  test_async/domain_test/test_tag.py
Due: shellcheck, pylint, flake8

feat(infra): #374 integrates route 53 read/write
  services/user-provision/integrates/dev/terraform/policy-integrates-dev.tf
  services/user-provision/integrates/dev/terraform/variables.tf
  services/user-provision/integrates/prod/terraform/policy-integrates-prod.tf
  services/user-provision/integrates/prod/terraform/variables.tf
Due: none

fix(build): #428 not use git pined version
  build/Dockerfile
Due: none

fix(back): #1635 project field on me
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  fluidintegrates/asgi.py
Due: pylint, flake8

feat(front): #526.21 show ignored checks
  toolbox/forces/sync.py
  toolbox/logger.py
Due: pylint, flake8

refac(infra): #1905 integrates route 53
  deploy/terraform-resources/cloudfront/certificate.tf
Due: none

feat(back): #367.1 pack update lines
  doc/index.rst
  toolbox/drills/__init__.py
  toolbox/drills/cli.py
  toolbox/drills/take_subscription_snapshot.py
  toolbox/drills/update_lines.py
Due: pylint, flake8

feat(infra): #374 certificate permissions
  services/user-provision/integrates/prod/terraform/policy-integrates-prod.tf
Due: none

feat(doc): #3088.35 add fins 111, 114, 115, 116
  content/pages/findings/security/110/index.adoc
  content/pages/findings/security/111/index.adoc
  content/pages/findings/security/114/index.adoc
  content/pages/findings/security/115/index.adoc
  content/pages/findings/security/116/index.adoc
  content/pages/rules/architecture/062/index.adoc
  content/pages/rules/architecture/266/index.adoc
  content/pages/rules/credentials/144/index.adoc
  content/pages/rules/data/176/index.adoc
  content/pages/rules/emails/115/index.adoc
  content/pages/rules/emails/116/index.adoc
  content/pages/rules/emails/117/index.adoc
  content/pages/rules/emails/118/index.adoc
  content/pages/rules/system/273/index.adoc
Due: none

fix(back): #1364 http-only flag in csrf cookie
  fluidintegrates/settings.py
Due: pylint, flake8

feat(back): #521.14 to reattack exp
  tests/test_drills_to_reattack.py
  toolbox/drills/cli.py
  toolbox/drills/to_reattack.py
Due: pylint, flake8

fix(front): #3114 fix footer layout
  new/theme/2020/templates/footer.html
Due: html-tidy

feat(back): #1905 changed cover paragraph
  app/documentator/pdf.py
  app/documentator/templates/tech.adoc
Due: pylint, flake8

perf(back): #1635 towards a faster api
  .gitignore
  django-apps/integrates-back-async/backend/api/resolvers/event.py
  django-apps/integrates-back-async/backend/api/resolvers/forces.py
  django-apps/integrates-back-async/backend/api/resolvers/internal_project.py
  test_async/entity_test/test_internal_project.py
Due: pylint, flake8

feat(infra): #374 certificate permissions on dev
  services/user-provision/integrates/dev/terraform/policy-integrates-dev.tf
Due: none

fix(front): #3115 fix the menu layout
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/menu.html
Due: html-tidy

perf(back): #1635 towards a faster api
  django-apps/integrates-back-async/backend/api/dataloaders/user.py
  django-apps/integrates-back-async/backend/api/resolvers/resource.py
  django-apps/integrates-back-async/backend/api/resolvers/user.py
Due: pylint, flake8

fix(front): #3116 fix the banner title
  new/theme/2020/static/scss/base.scss
Due: none

fix(build): #1879 deploy mobile
  .gitlab-ci.yml
  build/include/jobs.sh
  mobile/package.json
Due: shellcheck

feat(doc): #3088.36 add fins 15, 18, 19, 21, 25
  content/pages/findings/security/015/index.adoc
  content/pages/findings/security/018/index.adoc
  content/pages/findings/security/019/index.adoc
  content/pages/findings/security/021/index.adoc
  content/pages/findings/security/025/index.adoc
  content/pages/rules/authentication/228/index.adoc
  content/pages/rules/authentication/229/index.adoc
  content/pages/rules/authentication/264/index.adoc
  content/pages/rules/authentication/319/index.adoc
  content/pages/rules/data/177/index.adoc
  content/pages/rules/data/181/index.adoc
  content/pages/rules/session/030/index.adoc
  content/pages/rules/source/173/index.adoc
Due: none

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
