Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

refac(front): #1942.2 upgrade apollo
  mobile/package.json
  mobile/src/app.tsx
  mobile/src/components/MutationTrigger/index.tsx
  mobile/src/containers/MenuView/index.spec.tsx
  mobile/src/containers/MenuView/index.tsx
  mobile/src/containers/MenuView/queries.ts
  mobile/src/containers/MenuView/types.ts
  mobile/src/containers/WelcomeView/index.tsx
  mobile/src/containers/WelcomeView/queries.ts
  mobile/src/containers/WelcomeView/types.ts
  mobile/src/utils/apollo.ts
  mobile/src/utils/environment.ts
Due: none

feat(back): #922 handle exceptions
  fluidasserts/proto/git.py
Due: pylint, flake8

fix(back): #537.2 regex for exp name
  tests/test_cli.py
  toolbox/constants.py
  toolbox/utils/forces.py
Due: pylint, flake8

test(front): #1944 selenium legal notice
  ephemeral_tests.py
Due: pylint, flake8

feat(back): #524.9 upload history not uploaded
  toolbox/drills/upload_history.py
Due: pylint, flake8

fix(front): #3124 footer look in mid screens
  new/theme/2020/templates/footer.html
Due: html-tidy

test(cross): #1791.5 add codecov token
  secrets-production.yaml
Due: none

feat(doc): #537.3 current structure
  doc/secrets.rst
Due: none

fix(front): #3125 remove white line
  new/theme/2020/templates/landing.html
Due: html-tidy

refac(build): #1916 secrets-development sorted
  secrets-development.yaml
Due: none

feat(cross): #3088.39 add hygiene fin category
  content/pages/findings/hygiene/037/index.adoc
  content/pages/findings/index.adoc
  content/pages/findings/security/084/index.adoc
  content/pages/rules/architecture/062/index.adoc
  content/pages/rules/data/176/index.adoc
  content/pages/rules/logs/077/index.adoc
  content/pages/rules/system/273/index.adoc
  theme/2014/templates/findings.html
Due: html-tidy

feat(job): #925 get pub ip of kub host
  .gitlab-ci.yml
  secrets/development.sh.asc
  test/test_cloud_kubernetes.py
Due: pylint, flake8

feat(back): #537.4 inject the title at deploy
  toolbox/toolbox.py
Due: pylint, flake8

feat(back): #537.5 delete add_finding [skip ci]
  toolbox/forces/lint.py
Due: pylint, flake8

feat(doc): #3088.40 add fins 43, 44, 46, 58
  content/pages/findings/hygiene/043/index.adoc
  content/pages/findings/hygiene/044/index.adoc
  content/pages/findings/hygiene/046/index.adoc
  content/pages/findings/hygiene/058/index.adoc
  content/pages/rules/architecture/062/index.adoc
  content/pages/rules/architecture/266/index.adoc
  content/pages/rules/logs/077/index.adoc
  content/pages/rules/logs/078/index.adoc
  content/pages/rules/source/159/index.adoc
  content/pages/rules/source/175/index.adoc
Due: none

feat(back): #1635 async decorators
  django-apps/integrates-back-async/backend/dal/internal_project.py
  django-apps/integrates-back-async/backend/decorators.py
Due: pylint, flake8

feat(build): #1916 added secrets linter
  .gitlab-ci.yml
  build/dependencies/requirements.txt
  build/include/jobs.sh
Due: shellcheck

perf(back): #1635 cache fields
  django-apps/integrates-back-async/backend/api/resolvers/alert.py
  django-apps/integrates-back-async/backend/api/resolvers/event.py
  django-apps/integrates-back-async/backend/api/resolvers/resource.py
  django-apps/integrates-back-async/backend/api/resolvers/tag.py
Due: pylint, flake8

refac(front): #1942.3 use hooks for lifecycle
  mobile/package.json
  mobile/src/app.tsx
  mobile/src/containers/LoginView/index.tsx
  mobile/tsconfig.json
  mobile/typings/graphql-tag/index.d.ts
Due: none

fix(back): #634.1 auth first
  toolbox/drills/pull_repos.py
Due: pylint, flake8

feat(back): #928 closed when db is unavailable
  fluidasserts/db/mysql.py
Due: pylint, flake8

feat(front): #636.1 progress and msg
  toolbox/drills/pull_repos.py
  toolbox/utils/generic.py
Due: pylint, flake8

refac(back): #438.1 increase cluster nodes
  infrastructure/eks/cluster.tf
Due: none

refac(build): #1921.1 remove nix node js
  build/builders/nodejs-module/builder.sh
  build/builders/nodejs-module/default.nix
  build/dependencies/nodejs.nix
  build/include/cli.sh
  build/include/env.sh
  build/include/generic/dir-structure.sh
  build/provisioners/build.nix
  build/provisioners/deploy-mobile.nix
  build/provisioners/full.nix
  build/provisioners/selenium.nix
  build/provisioners/test.nix
Due: shellcheck

fix(front): #3126 fix menu button
  new/theme/2020/templates/menu.html
Due: html-tidy

style(front): #1905 changed reports modal text
  front/src/utils/translations/en.ts
Due: none

feat(back): #1635 updated user queries
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/dataloaders/user.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/api/schemas/query.graphql
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  test_async/entity_test/test_user.py
Due: shellcheck, pylint, flake8

fix(job): #1791 codecov
  .gitlab-ci.yml
  build/dependencies/requirements.txt
Due: none

refac(front): #1942.4 remove redux
  mobile/src/app.tsx
  mobile/src/containers/LoginView/index.spec.tsx
  mobile/src/containers/LoginView/index.tsx
Due: none

refac(build): #494.7 delete unused code
  pip-install-hook.sh
  setup.nix
Due: shellcheck

refac(build): #1921.2 remove centralized deps
  build/builders/python-package-local/default.nix
  build/builders/python-package/default.nix
  build/builders/python-requirements/default.nix
  build/provisioners/build-and-docker.nix
  build/provisioners/build.nix
  build/provisioners/deploy-front.nix
  build/provisioners/deploy-mobile.nix
  build/provisioners/docker.nix
  build/provisioners/full.nix
  build/provisioners/infra.nix
  build/provisioners/selenium.nix
  build/provisioners/test.nix
Due: none

feat(build): #1916 lint production secrets
  build/include/jobs.sh
  secrets-production.yaml
Due: shellcheck

fix(front): #3129 center the turbine
  new/theme/2020/templates/landing.html
Due: html-tidy

refac(back): #765 dataloaders/event.py typed
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/dataloaders/event.py
Due: shellcheck, pylint, flake8

refac(front): #1905 report type into translations
  front/src/scenes/Dashboard/containers/ProjectFindingsView/index.tsx
  front/src/utils/translations/en.ts
Due: none

fix(front): #3134 remove scroll for the menu
  new/theme/2020/templates/menu.html
Due: html-tidy

feat(doc): #631.1 update index
  doc/ci.rst
  doc/drills_vpns.rst
  doc/forces_exploits.rst
  doc/index.rst
  doc/reference.rst
Due: none

fix(build): #1942.5 disable job
  .gitlab-ci.yml
Due: none

feat(cross): #631.2 faster and top-level
  doc/_static/favicon-32x32.png
  doc/_static/logo.svg
  doc/_templates/layout.html
  doc/ci.rst
  doc/conf.py
  doc/drills_vpns.rst
  doc/forces_admin.rst
  doc/forces_exploits.rst
  doc/index.rst
  doc/reference.rst
Due: pylint, flake8, html-tidy

fix(front): #3128 align customer logos
  new/theme/2020/templates/landing.html
Due: html-tidy

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
