Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

refac(back): #1905 report mail function rename
  app/views.py
  django-apps/integrates-back-async/backend/api/resolvers/report.py
  django-apps/integrates-back/backend/mailer.py
  django-apps/integrates-back/backend/utils/reports.py
  front/src/utils/translations/en.ts
Due: pylint, flake8

refac(back): #765 resolvers/subscription.py typed
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/resolvers/subscription.py
Due: shellcheck, pylint, flake8

refac(front): #1837.7 events abac
  front/src/scenes/Dashboard/components/Navbar/index.css
  front/src/scenes/Dashboard/containers/EventDescriptionView/index.spec.tsx
  front/src/scenes/Dashboard/containers/EventDescriptionView/index.tsx
  front/src/scenes/Dashboard/containers/EventEvidenceView/index.spec.tsx
  front/src/scenes/Dashboard/containers/EventEvidenceView/index.tsx
Due: none

feat(job): #425 sync repos to s3
  analytics/git/clone_them.py
  analytics/git/set_dependencies.sh
  build/dependencies/default.nix
Due: shellcheck, pylint, flake8

feat(doc): #2994.85 add references for rule 154
  content/pages/rules/source/154/index.adoc
Due: none

feat(cross): #2985.4 add intltelinput to the form
  build/include/helpers-deploy.sh
  new/theme/2020/package.json
  new/theme/2020/static/images/flags.png
  new/theme/2020/static/js/dynClasses.ts
  new/theme/2020/static/js/form.ts
  new/theme/2020/templates/base.html
  new/theme/2020/templates/contact-us.html
  new/theme/2020/webpack.common.config.ts
Due: shellcheck, html-tidy

refac(cross): #1480 remove unused mutation
  authorization/group_level.conf
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/resolvers/event.py
  django-apps/integrates-back-async/backend/api/schemas/mutations.graphql
  django-apps/integrates-back/backend/api/mutations.py
  django-apps/integrates-back/backend/entity/event.py
  django-apps/integrates-back/backend/utils/authorization.py
  front/src/scenes/Dashboard/containers/EventDescriptionView/index.tsx
  front/src/scenes/Dashboard/containers/EventDescriptionView/queries.ts
  front/src/utils/apollo.ts
  test/util_test/test_abac.py
  test_async/entity_test/test_event.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

feat(job): #445 only fix commits require issue
  toolbox/utils.py
Due: pylint, flake8

feat(cross): #3088.01 add landing for findings
  content/pages/findings/index.adoc
  theme/2014/templates/findings.html
Due: html-tidy

refac(back): #765 internal_project.py typed
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/resolvers/internal_project.py
  django-apps/integrates-back-async/backend/typing.py
  django-apps/integrates-back/backend/typing.py
Due: shellcheck, pylint, flake8

feat(back): #387.2 integrate sorts into cli
  MANIFEST.in
  setup.py
  toolbox/__init__.py
  toolbox/cli.py
  toolbox/sorts/__init__.py
  toolbox/sorts/composites.lst
  toolbox/sorts/extensions.lst
  toolbox/sorts/get_data.py
Due: pylint, flake8

feat(back): #1635 api capabilities
  django-apps/integrates-back/backend/util.py
Due: pylint, flake8

feat(cross): #3088.02 add fin 001
  content/pages/findings/security/001/index.adoc
  content/pages/rules/source/169/index.adoc
  theme/2014/templates/page.html
  theme/2014/templates/rules.html
Due: html-tidy

feat(back): #515 is_drills_commit
  tests/test_toolbox.py
  toolbox/cli.py
  toolbox/toolbox.py
Due: pylint, flake8

fix(back): #1627 change condition
  django-apps/integrates-back/backend/domain/finding.py
  test/domain_test/test_finding.py
  test/domain_test/test_vulnerability.py
  test/dynamo_data/fi_vulnerabilities.json
Due: pylint, flake8

feat(back): #425 add permissions
  services/user-provision/continuous/dev/terraform/policy-continuous-dev.tf
Due: none

feat(cross): #3088.03 add fins 002-003
  content/pages/findings/security/0001/index.adoc
  content/pages/findings/security/0002/index.adoc
  content/pages/findings/security/0003/index.adoc
  content/pages/rules/architecture/072/index.adoc
  content/pages/rules/source/169/index.adoc
Due: none

refac(cross): #1920 change who by what
  django-apps/integrates-back-async/backend/api/schemas/types.graphql
  django-apps/integrates-back/backend/entity/forces.py
  front/src/scenes/Dashboard/containers/ProjectForcesView/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectForcesView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectForcesView/queries.ts
  front/src/utils/translations/en.ts
  test/dynamo_data/bb_executions.json
  test/entity_test/test_forces.py
  test_async/entity_test/test_forces.py
Due: pylint, flake8

feat(front): #1905 front query ready to be used
  front/src/scenes/Dashboard/containers/ProjectFindingsView/index.tsx
  front/src/scenes/Dashboard/containers/ProjectFindingsView/queries.ts
  front/src/scenes/Dashboard/containers/ProjectFindingsView/types.ts
  front/src/utils/apollo.ts
Due: none

fix(back): #1635 rename var
  django-apps/integrates-back-async/backend/api/dataloaders/vulnerability.py
Due: pylint, flake8

feat(cross): #3088.04 add fin 004
  content/pages/findings/security/0004/index.adoc
  content/pages/rules/services/265/index.adoc
  content/pages/rules/source/173/index.adoc
Due: none

feat(doc): #3088.05 add fin 005
  content/pages/findings/security/0004/index.adoc
  content/pages/findings/security/0005/index.adoc
  content/pages/rules/authorization/035/index.adoc
  content/pages/rules/source/169/index.adoc
Due: none

test(back): #1372 test services
  test/test_services.py
Due: pylint, flake8

feat(back): #511 async graphql client
  setup.py
  toolbox/api/integrates.py
  toolbox/helper/integrates.py
Due: pylint, flake8

feat(back): #425 add necessary permissions
  services/user-provision/continuous/dev/terraform/policy-continuous-dev.tf
Due: none

feat(back): #515 add drills
  setup.py
  toolbox/__init__.py
  toolbox/cli.py
  toolbox/drills/__init__.py
  toolbox/drills/toe.py
Due: pylint, flake8

fix(front): #2985.5 captcha validations
  new/theme/2020/static/js/contactSlides.ts
  new/theme/2020/static/js/form.ts
  new/theme/2020/static/scss/base.scss
Due: none

refac(back): #765 resolvers/project.py typing
  build/include/jobs.sh
  django-apps/integrates-back-async/backend/api/resolvers/project.py
Due: shellcheck, pylint, flake8

feat(doc): #3088.06 add fin 006
  content/pages/findings/security/0006/index.adoc
  content/pages/rules/authentication/227/index.adoc
  content/pages/rules/authentication/228/index.adoc
  content/pages/rules/authentication/229/index.adoc
  content/pages/rules/authentication/231/index.adoc
  content/pages/rules/authentication/235/index.adoc
  content/pages/rules/authentication/319/index.adoc
Due: none

feat(back): #445 exploits commit validator
  setup.py
  tests/test_forces_quality.py
  toolbox/forces/quality.py
Due: pylint, flake8

feat(front): #1905 add missing rollbar report
  front/src/scenes/Dashboard/containers/ProjectFindingsView/index.tsx
Due: none

feat(doc): #3088.07 add fin 007
  content/pages/findings/security/0005/index.adoc
  content/pages/findings/security/0006/index.adoc
  content/pages/findings/security/0007/index.adoc
  content/pages/rules/authentication/227/index.adoc
  content/pages/rules/authentication/228/index.adoc
  content/pages/rules/authentication/229/index.adoc
  content/pages/rules/authentication/231/index.adoc
  content/pages/rules/authentication/235/index.adoc
  content/pages/rules/authentication/319/index.adoc
  content/pages/rules/session/029/index.adoc
  content/pages/rules/source/174/index.adoc
Due: none

perf(cross): #494.4 speed everywhere
  MANIFEST.in
  default.nix
  requirements.txt
  setup.nix.sh
  setup.py
Due: shellcheck, pylint, flake8

feat(doc): #3088.08 add findings index
  theme/2014/templates/findings.html
Due: html-tidy

feat(back): #515 new toolbox architecture
  tests/test_drills.py
  tests/test_toolbox.py
  toolbox/cli.py
  toolbox/drills/__init__.py
  toolbox/drills/generate_commit_msg.py
  toolbox/drills/is_valid_commit_msg.py
  toolbox/toolbox.py
Due: pylint, flake8

feat(back): #425 add permission
  services/user-provision/continuous/dev/terraform/policy-continuous-dev.tf
Due: none

fix(doc): #3088.09 fixed typo in fin 003
  content/pages/findings/security/0003/index.adoc
Due: none

feat(back): #515 improve generate commit msg
  tests/test_drills.py
  toolbox/drills/__init__.py
  toolbox/drills/generate_commit_msg.py
Due: pylint, flake8

feat(back): #445.9 plug commit msg linters
  requirements.txt
  setup.py
  tests/test_cli.py
  tests/test_drills.py
  tests/test_drills_commit.py
  tests/test_forces_commit.py
  tests/test_forces_quality.py
  tests/test_toolbox.py
  toolbox/cli/__init__.py
  toolbox/cli/drills.py
  toolbox/cli/misc.py
  toolbox/drills/__init__.py
  toolbox/drills/commit.py
  toolbox/drills/generate_commit_msg.py
  toolbox/drills/is_valid_commit_msg.py
  toolbox/forces/__init__.py
  toolbox/forces/commit.py
  toolbox/forces/sync.py
  toolbox/sorts/get_data.py
  toolbox/toolbox.py
  toolbox/utils.py
Due: pylint, flake8

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
