Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

feat(back): #524.3 new push repos
  toolbox/drills/cli.py
  toolbox/drills/push_repos.py
Due: pylint, flake8

fix(front): #3049.2 dropdown in menu
  new/theme/2020/static/js/contentHome.ts
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/menu.html
Due: html-tidy

feat(doc): #3088.28 add fins 086, 090, 091, 092
  content/pages/findings/security/086/index.adoc
  content/pages/findings/security/090/index.adoc
  content/pages/findings/security/091/index.adoc
  content/pages/findings/security/092/index.adoc
  content/pages/rules/services/262/index.adoc
  content/pages/rules/source/173/index.adoc
Due: none

feat(back): #526.6 integrates states
  tests/test_helper_integrates.py
  toolbox/helper/integrates.py
Due: pylint, flake8

feat(back): #526.7 split sync one exploit
  toolbox/forces/sync.py
Due: pylint, flake8

feat(doc): #522.4 update everything
  doc/ci.rst
  doc/env.rst
  doc/index.rst
Due: none

perf(back): #1635 towards a faster api
  django-apps/integrates-back-async/backend/api/dataloaders/event.py
  django-apps/integrates-back-async/backend/api/dataloaders/finding.py
  django-apps/integrates-back-async/backend/api/dataloaders/vulnerability.py
  django-apps/integrates-back-async/backend/api/resolvers/alert.py
  django-apps/integrates-back-async/backend/api/resolvers/cache.py
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/api/view.py
  test_async/entity_test/test_alert.py
  test_async/entity_test/test_cache.py
Due: pylint, flake8

perf(back): #1635 towards a faster api
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
Due: pylint, flake8

refac(back): #1635 removed unused code
  django-apps/integrates-back-async/backend/decorators.py
Due: pylint, flake8

feat(doc): #3088.29 add fins 0093, 094, 095
  content/pages/findings/security/092/index.adoc
  content/pages/findings/security/093/index.adoc
  content/pages/findings/security/094/index.adoc
  content/pages/findings/security/095/index.adoc
  content/pages/rules/architecture/072/index.adoc
  content/pages/rules/architecture/320/index.adoc
  content/pages/rules/authorization/096/index.adoc
  content/pages/rules/cryptography/223/index.adoc
  content/pages/rules/cryptography/224/index.adoc
  content/pages/rules/services/265/index.adoc
  content/pages/rules/source/173/index.adoc
Due: none

refac(back): #526.8 standard import
  tests/test_helper_integrates.py
Due: pylint, flake8

fix(back): #1934 duplicated mutations
  django-apps/integrates-back-async/backend/api/resolvers/alert.py
  django-apps/integrates-back-async/backend/api/resolvers/event.py
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  django-apps/integrates-back-async/backend/api/resolvers/forces.py
  django-apps/integrates-back-async/backend/api/resolvers/internal_project.py
  django-apps/integrates-back-async/backend/api/resolvers/project.py
  django-apps/integrates-back-async/backend/api/resolvers/report.py
  django-apps/integrates-back-async/backend/api/resolvers/resource.py
  django-apps/integrates-back-async/backend/api/resolvers/subscription.py
  django-apps/integrates-back-async/backend/api/resolvers/tag.py
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/api/resolvers/vulnerability.py
Due: pylint, flake8

feat(build): #524.4 localstack
  toolbox/drills/push_repos.py
Due: pylint, flake8

refac(front): #1837.20 migrate to abac
  app/templates/app.html
  front/src/scenes/Dashboard/components/AddProjectModal/index.tsx
Due: html-tidy

feat(doc): #3088.30 add fins 0096, 097, 098
  content/pages/findings/security/096/index.adoc
  content/pages/findings/security/097/index.adoc
  content/pages/findings/security/098/index.adoc
  content/pages/rules/architecture/320/index.adoc
  content/pages/rules/data/321/index.adoc
  content/pages/rules/files/037/index.adoc
  content/pages/rules/source/173/index.adoc
Due: none

feat(back): #1905 add paragraph to cover page
  app/documentator/pdf.py
  app/documentator/templates/tech.adoc
  django-apps/integrates-back-async/backend/domain/report.py
Due: pylint, flake8

refac(back): #765 resolvers/vulnerability.py typed
  django-apps/integrates-back-async/backend/api/resolvers/vulnerability.py
Due: pylint, flake8

perf(back): #1635 async domain calls
  django-apps/integrates-back-async/backend/api/resolvers/project.py
Due: pylint, flake8

refac(back): #526.9 split sync dynamic exp
  toolbox/forces/sync.py
Due: pylint, flake8

feat(doc): #3088.31 add fins 0099, 100, 101
  content/pages/findings/security/038/index.adoc
  content/pages/findings/security/099/index.adoc
  content/pages/findings/security/100/index.adoc
  content/pages/findings/security/101/index.adoc
  content/pages/rules/architecture/266/index.adoc
  content/pages/rules/authorization/095/index.adoc
  content/pages/rules/authorization/096/index.adoc
  content/pages/rules/data/186/index.adoc
  content/pages/rules/out-of-scope/architecture/060/index.adoc
  content/pages/rules/social/261/index.adoc
  content/pages/rules/source/173/index.adoc
  content/pages/rules/system/269/index.adoc
Due: none

refac(back): #765 resolvers/finding.py typed
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
Due: pylint, flake8

refac(back): #1905 secure_pdf order
  app/documentator/secure_pdf.py
Due: pylint, flake8

fix(back): #526.10 depure some bugs
  tests/test_cli.py
  tests/test_helper_integrates.py
  toolbox/api/integrates.py
  toolbox/forces/sync.py
  toolbox/helper/integrates.py
  toolbox/toolbox.py
Due: pylint, flake8

fix(back): #1932 connection pool
  django-apps/integrates-back-async/backend/dal/helpers/dynamodb.py
Due: pylint, flake8

fix(front): #3110 fix buttons in home
  new/theme/2020/templates/landing.html
Due: html-tidy

refac(back): #765 resolvers/user.py typed
  django-apps/integrates-back-async/backend/api/resolvers/user.py
Due: pylint, flake8

test(back): #526.11 static dict tests
  tests/test_toolbox.py
  toolbox/toolbox.py
Due: pylint, flake8

fix(back): #526.12 found another bug
  tests/test_helper_integrates.py
  toolbox/forces/sync.py
  toolbox/helper/integrates.py
Due: pylint, flake8

test(back): #1372 increase coverage
  test_async/domain_test/test_alert.py
  test_async/domain_test/test_event.py
Due: pylint, flake8

feat(doc): #3088.32 add fins 102, 103, 104
  content/pages/findings/security/102/index.adoc
  content/pages/findings/security/103/index.adoc
  content/pages/findings/security/104/index.adoc
  content/pages/rules/architecture/320/index.adoc
  content/pages/rules/emails/121/index.adoc
  content/pages/rules/source/173/index.adoc
  content/pages/rules/system/273/index.adoc
Due: none

fix(front): #3111 fix the customers carousel
  new/theme/2020/templates/clients-carousel.html
  new/theme/2020/templates/landing.html
Due: html-tidy

feat(back): #1905 missing cloudwatch reports
  django-apps/integrates-back-async/backend/api/resolvers/report.py
Due: pylint, flake8

refac(back): #765 resolvers/cache.py typed
  django-apps/integrates-back-async/backend/api/resolvers/cache.py
Due: pylint, flake8

refac(back): #1837.21 organize actions
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back-async/backend/utils/authorization.py
Due: pylint, flake8

fix(front): #3112 fix lateral meu for products
  new/theme/2020/templates/landing.html
Due: html-tidy

feat(doc): #3088.33 add fins 105, 106, 107
  content/pages/findings/security/001/index.adoc
  content/pages/findings/security/105/index.adoc
  content/pages/findings/security/106/index.adoc
  content/pages/findings/security/107/index.adoc
  content/pages/rules/source/169/index.adoc
  content/pages/rules/source/173/index.adoc
Due: none

fix(front): #3113 fix buttons for use cases
  new/theme/2020/templates/landing.html
Due: html-tidy

test(back): #524.5 prepare push repos tests
  tests/conftest.py
  toolbox/drills/push_repos.py
Due: pylint, flake8

feat(job): #540.1 evit eforces in non subs
  toolbox/cli/misc.py
  toolbox/forces/commit.py
Due: pylint, flake8

feat(back): #526.14 asserts api on steroids
  toolbox/analytics/logs.py
  toolbox/api/asserts.py
  toolbox/toolbox.py
Due: pylint, flake8

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
