Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1090,SC2016,SC2153,SC2154

pylint:
  name: pylint
  entry: pylint
  language: system
  args: []

flake8:
  name: flake8
  entry: flake8
  language: system
  args: []

html-tidy:
  name: tidy
  entry: tidy
  language: system
  args: []

feat(back): #371.3 fluid-clify count_toe
  toolbox/drills/count_toe.py
Due: pylint, flake8

feat(front): #371.4 add count_toe to cli
  toolbox/drills/cli.py
  toolbox/utils/generic.py
Due: pylint, flake8

fix(job): #698.1 allow numbers in group name
  toolbox/drills/commit.py
Due: pylint, flake8

feat(back): #1949 admin roles
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/utils/authorization.py
Due: pylint, flake8

feat(build): #1921.16 build and lint jobs
  .gitlab-ci.yml
  build.sh
  build/dependencies/requirements.txt
  build/include/cli.sh
  build/include/jobs.sh
  build/provisioners/build_lambdas.nix
  build/provisioners/lint_back.nix
  build/provisioners/lint_build_system.nix
  build/provisioners/lint_secrets.nix
Due: shellcheck

test(back): #1372 test add vulnerability aux
  test_async/domain_test/test_project.py
  test_async/domain_test/test_vulnerability.py
  test_async/entity_test/test_project.py
Due: pylint, flake8

feat(back): #371.7 use file matchers backend
  toolbox/drills/count_toe.py
  toolbox/utils/file.py
Due: pylint, flake8

refac(back): #1963 removed duplicate code
  django-apps/integrates-back-async/backend/dal/finding.py
  django-apps/integrates-back-async/backend/domain/finding.py
  django-apps/integrates-back-async/backend/domain/project.py
  django-apps/integrates-back-async/backend/domain/vulnerability.py
  django-apps/integrates-back-async/backend/scheduler.py
Due: pylint, flake8

feat(doc): #3135.14 create rule for redirect fins
  content/pages/findings/security/023/index.adoc
  content/pages/findings/security/097/index.adoc
  content/pages/rules/architecture/324/index.adoc
Due: none

feat(build): #1921.17 provisioners
  .gitlab-ci.yml
  build.sh
  build/include/cli.sh
  build/include/jobs.sh
  build/provisioners/clean_registries.nix
  build/provisioners/coverage_report.nix
  build/provisioners/test_back.nix
Due: shellcheck

fix(doc): #3145.1 remove pygments metadata
  content/blog/anomaly-serial-killer-doll/index.adoc
  content/blog/big-code/index.adoc
  content/blog/binary-learning/index.adoc
  content/blog/code-translate/index.adoc
  content/blog/deep-hacking/index.adoc
  content/blog/digression-regression/index.adoc
  content/blog/embed-code-vector/index.adoc
  content/blog/exploit-code-graph/index.adoc
  content/blog/fool-machine/index.adoc
  content/blog/further-code2vec/index.adoc
  content/blog/fuzzy-bugs-online/index.adoc
  content/blog/gherkin-steroids/index.adoc
  content/blog/great-expectations/index.adoc
  content/blog/hit-miss/index.adoc
  content/blog/infinite-monkey-fuzzer/index.adoc
  content/blog/machine-learning-hack/index.adoc
  content/blog/monetizing-vulnerabilities/index.adoc
  content/blog/my-heart-bleeds/index.adoc
  content/blog/natural-code/index.adoc
  content/blog/oracle-code/index.adoc
  content/blog/para-bellum/index.adoc
  content/blog/pars-orationis-secura/index.adoc
  content/blog/parse-conquer/index.adoc
  content/blog/quantifying-risk/index.adoc
  content/blog/quantitative-python/index.adoc
  content/blog/release-the-beast/index.adoc
  content/blog/risk-indicator-roundup/index.adoc
  content/blog/tainted-love/index.adoc
  content/blog/treacherous-poodle/index.adoc
  content/blog/triage-hacker/index.adoc
  content/blog/understand-program-semantics/index.adoc
  content/blog/updating-belief/index.adoc
  content/blog/vector-language/index.adoc
  content/blog/vulnerability-classifier/index.adoc
  content/blog/xml-exploitable-markup-language/index.adoc
Due: none

test(back): #1372 set treatment manager test
  test_async/domain_test/test_vulnerability.py
Due: pylint, flake8

feat(back): #835 cloudwatch event bus exposed
  fluidasserts/cloud/aws/cloudwatch.py
  test/test_cloud_aws_cloudwatch.py
Due: pylint, flake8

test(back): #1372 test get current date
  test_async/domain_test/test_user.py
Due: pylint, flake8

refac(back): #1963 removed unused code
  django-apps/integrates-back-async/backend/dal/helpers/dynamodb.py
  django-apps/integrates-back-async/backend/dal/helpers/s3.py
  django-apps/integrates-back-async/backend/dal/project.py
  django-apps/integrates-back-async/backend/domain/event.py
  django-apps/integrates-back-async/backend/domain/finding.py
  django-apps/integrates-back-async/backend/domain/project.py
  django-apps/integrates-back-async/backend/domain/resources.py
  django-apps/integrates-back-async/backend/domain/user.py
  test_async/domain_test/test_project.py
  test_async/domain_test/test_user.py
Due: pylint, flake8

feat(back): #371.9 delete out of scope files
  toolbox/drills/pull_repos.py
  toolbox/utils/file.py
Due: pylint, flake8

test(back): #1372 test verify vulnerabilities
  test_async/domain_test/test_vulnerability.py
  test_async/entity_test/test_project.py
Due: pylint, flake8

feat(front): #3147.1 create basic templates
  new/content/pages/careers/index.adoc
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/index.html
  new/theme/2020/templates/page.html
Due: html-tidy

refac(front): #1949 issidebar prop
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.spec.tsx
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.tsx
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/types.ts
  front/src/scenes/Dashboard/containers/ProjectUsersView/index.tsx
  front/src/scenes/Dashboard/index.tsx
Due: none

feat(back): #371.10 ignore deleted files
  toolbox/drills/take_group_snapshot.py
Due: pylint, flake8

feat(back): #1964 delete project name from db
  django-apps/integrates-back-async/backend/domain/internal_project.py
  django-apps/integrates-back-async/backend/domain/project.py
Due: pylint, flake8

feat(doc): #3135.15 create rule for wsdl files
  content/pages/findings/security/040/index.adoc
  content/pages/rules/architecture/325/index.adoc
Due: none

fix(back): #295 click overlapped elements
  ephemeral_tests.py
Due: pylint, flake8

perf(back): #1635 async cache set
  django-apps/integrates-back-async/backend/decorators.py
Due: pylint, flake8

refac(build): #1961.3 improve builder
  build/builders/turtle-shell/builder.sh
  build/provisioners/deploy_mobile.nix
Due: shellcheck

refac(doc): #3149 fix-look-inside
  content/blog/look-inside-oss/index.adoc
Due: none

feat(build): #1921.18 provisioners
  .gitlab-ci.yml
  build.sh
  build/include/cli.sh
  build/include/jobs.sh
  build/provisioners/functional_tests_dev.nix
  build/provisioners/functional_tests_prod.nix
  build/provisioners/renew_certificates.nix
  build/provisioners/rotate_jwt_token.nix
  build/provisioners/send_new_release_email.nix
Due: shellcheck

feat(doc): #3135.16 create rule for root detection
  content/pages/findings/security/048/index.adoc
  content/pages/rules/architecture/266/index.adoc
  content/pages/rules/mobile/326/index.adoc
Due: none

fix(cross): #1960 add field validations
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back-async/backend/exceptions.py
  django-apps/integrates-back-async/backend/utils/validations.py
  front/src/scenes/Dashboard/containers/ProjectUsersView/AddUserModal/index.tsx
  front/src/utils/validations.ts
Due: pylint, flake8

perf(back): #1635 async remove access
  django-apps/integrates-back-async/backend/api/resolvers/user.py
Due: pylint, flake8

fix(back): #521.16 days since verif request
  toolbox/drills/to_reattack.py
Due: pylint, flake8

refac(back): #295 duplicated code selenium
  ephemeral_tests.py
Due: pylint, flake8

feat(infra): #1961.4 create build bucket
  deploy/terraform-resources/cloudfront/s3.tf
  deploy/terraform-resources/main.tf
Due: none

fix(back): #706.1 reopen file if closed
  toolbox/api/integrates.py
Due: pylint, flake8

refac(doc): #3151 fix-devops-concept
  content/blog/devops-concept/index.adoc
Due: none

feat(build): #1921.19 local provisioners
  build.sh
  build/include/cli.sh
  build/include/env.sh
  build/include/jobs.sh
  build/provisioners/functional_tests_local.nix
  build/provisioners/reset.nix
  build/provisioners/serve_back.nix
  build/provisioners/serve_dynamodb_local.nix
  build/provisioners/serve_front.nix
  build/provisioners/serve_redis.nix
Due: shellcheck

refac(build): #1921.20 clean da house
  .gitlab-ci.yml
  build.sh
  build/include/helpers.sh
  build/include/jobs.sh
  build/provisioners/build-and-docker.nix
  build/provisioners/build.nix
  build/provisioners/deploy-front.nix
  build/provisioners/docker.nix
  build/provisioners/full.nix
  build/provisioners/infra.nix
  build/provisioners/selenium.nix
  build/provisioners/serve_back_dev.nix
  build/provisioners/serve_back_prod.nix
  build/provisioners/test.nix
Due: shellcheck

style(infra): #1961.5 indent properly
  deploy/terraform-resources/main.tf
Due: none

refac(build): #1961.6 move to build bucket
  ephemeral_tests.py
  secrets-development.yaml
  secrets-production.yaml
Due: pylint, flake8

refac(back): #1963 remove unused code
  django-apps/integrates-back-async/backend/domain/finding.py
  django-apps/integrates-back-async/backend/domain/vulnerability.py
  django-apps/integrates-back-async/backend/scheduler.py
  django-apps/integrates-back-async/backend/util.py
  django-apps/integrates-back-async/backend/utils/forms.py
  test_async/domain_test/test_project.py
  test_async/domain_test/test_vulnerability.py
  test_async/test_forms.py
  test_async/test_util.py
Due: pylint, flake8

Path conditions:
  shellcheck: any of: \.(sh)$
  pylint: any of: \.(py)$
  flake8: any of: \.(py)$
  html-tidy: any of: \.(html)$
