Repository jeanbaptistemora/fluidattacks-universe2: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, pylint, flake8, html-tidy

.pre-commit-config.yaml:

fail_fast: false
repos:
- repo: local
  hooks:
  - id: shellcheck
    name: shellcheck
    entry: shellcheck
    language: system
    files: \.(sh)$
    args: [ "--external-sources", "--exclude=SC1090,SC2016,SC2153,SC2154" ]
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    files: \.(py)$
    args: []
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    files: \.(py)$
    args: []
  - id: html-tidy
    name: tidy
    entry: tidy
    language: system
    files: \.(html)$
    args: []

fix(cross): #1705.26 update treatment
  django-apps/integrates-back-async/backend/api/schemas/mutations.graphql
  django-apps/integrates-back-async/backend/api/typesdef.py
  django-apps/integrates-back/backend/entity/finding.py
  front/src/scenes/Dashboard/components/Vulnerabilities/queries.ts
  front/src/scenes/Dashboard/containers/DescriptionView/TreatmentView/index.tsx
  front/src/scenes/Dashboard/containers/DescriptionView/TreatmentView/queries.ts
  front/src/scenes/Dashboard/containers/DescriptionView/index.tsx
  front/src/scenes/Dashboard/containers/FindingContent/index.tsx
  front/src/utils/apollo.ts
  front/src/utils/formatHelpers.ts
  test/entity_test/test_finding.py
Due: pylint, flake8

fix(job): #3019 remove dots from line beginnings
  build/include/helpers.sh
Due: shellcheck

fix(back): #1835.53 async parameters as variables
  django-apps/integrates-back-async/backend/api/resolvers/me.py
  django-apps/integrates-back/backend/util.py
Due: pylint, flake8

feat(front): #1635 migrated finding query
  front/src/utils/apollo.ts
Due: none

refac(front): #1705.27 remove redux
  front/src/scenes/Dashboard/containers/ProjectContent/actionTypes.ts
  front/src/scenes/Dashboard/containers/ProjectContent/actions.ts
  front/src/scenes/Dashboard/reducer.ts
Due: none

style(front): #1705.28 indent code
  front/src/scenes/Dashboard/containers/DescriptionView/TreatmentView/index.tsx
Due: none

fix(front): #2961.15 image issues
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/use-cases/continuous.html
Due: html-tidy

feat(doc): #3024 reorder rules categories
  theme/2014/templates/rules.html
Due: html-tidy

feat(job): #419 add reason of cannot exps
  toolbox/reports.py
Due: pylint, flake8

perf(back): #1635 change redis cache keys
  django-apps/integrates-back/backend/decorators.py
Due: pylint, flake8

refac(doc): #3030 fix-respond-the-name
  content/blog/respond-the-name/index.adoc
Due: none

refac(front): #1705.29 improve vuln filters
  front/src/scenes/Dashboard/components/Vulnerabilities/index.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/types.ts
Due: none

fix(back): #1635 fix alert query
  django-apps/integrates-back-async/backend/api/resolvers/alert.py
Due: pylint, flake8

feat(job): #2974 commitlint
  .gitignore
  .gitlab-ci.yml
  build/include/cli.sh
  build/include/env.sh
  build/include/jobs.sh
  build/provisioners/test_commitlint.nix
  ci-scripts/commitlint-checks.sh
  ci-scripts/commitlint-conf.sh
  package.json
Due: shellcheck

feat(back): #408 clone repos from s3
  analytics/git/generate_stats.py
  build/include/helpers.sh
  build/include/jobs.sh
Due: shellcheck, pylint, flake8

refac(front): #1705.30 remove redux
  front/src/scenes/Dashboard/reducer.ts
  front/src/store/index.ts
  front/src/store/rootReducer.ts
  front/src/utils/reduxWrapper.tsx
Due: none

refac(back): #1898.1 consider accepted_undefined
  django-apps/integrates-back/backend/domain/project.py
  test/domain_test/test_project.py
Due: pylint, flake8

fix(back): #1835.54 user pipeline
  django-apps/integrates-back-async/backend/api/resolvers/user.py
  django-apps/integrates-back/backend/domain/user.py
  django-apps/integrates-back/backend/utils/validations.py
  test/entity_test/test_user.py
Due: pylint, flake8

feat(front): #2972.3 integrates content
  new/content/pages/products/index.adoc
  new/content/pages/products/integrates/index.adoc
  new/theme/2020/static/images/download.svg
  new/theme/2020/static/images/products/integrates/datasheet-integrates.png
  new/theme/2020/templates/footer.html
  new/theme/2020/templates/products/integrates.html
Due: html-tidy

feat(cross): #1635 migrated updateseverity
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  front/src/utils/apollo.ts
  test_async/entity_test/test_finding.py
Due: pylint, flake8

feat(infra): #1896.53 subject auth gsi
  deploy/containers/common/vars/provision_local_db.sh
  deploy/terraform-resources/dynamodb/dynamo-tables.tf
  django-apps/casbin-dynamodb-adapter/casbin_dynamodb_adapter/adapter.py
Due: shellcheck, pylint, flake8

fix(doc): #3024 fix rules categories index
  theme/2014/templates/rules.html
Due: html-tidy

refac(job): #2974 site compilation
  build/include/helpers-deploy.sh
  build/include/jobs.sh
  new/pelicanconf.py
  new/theme/2020/package.json
  theme/2014/package.json
Due: shellcheck, pylint, flake8

refac(front): #1705.31 remove leftovers
  front/package.json
  front/src/scenes/Dashboard/actions.ts
  front/src/scenes/Dashboard/components/AddAccessTokenModal/index.tsx
  front/src/scenes/Dashboard/components/Vulnerabilities/actionTypes.ts
  front/src/scenes/Dashboard/components/Vulnerabilities/actions.ts
  front/src/utils/xhr.ts
Due: none

feat(back): #1835.56 authz dal and typing
  django-apps/integrates-back/backend/dal/user.py
Due: pylint, flake8

fix(exp): defell
  toolbox/toolbox.py
Due: pylint, flake8

feat(front): #1898.2 add accepted_undefined
  front/src/scenes/Dashboard/containers/TagContent/TagInfo/index.tsx
  front/src/utils/formatHelpers.ts
  front/src/utils/translations/en.ts
  test/dynamo_data/FI_projects.json
Due: none

feat(cross): #1635 migrated operation
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  front/src/utils/apollo.ts
  test_async/entity_test/test_finding.py
Due: pylint, flake8

feat(front): #2972.4 initial content for drills
  new/content/pages/products/drills/index.adoc
  new/theme/2020/static/images/products/drills/drills-1.png
  new/theme/2020/static/images/products/drills/drills-2.png
  new/theme/2020/static/images/products/drills/drills-3.png
  new/theme/2020/static/images/products/drills/drills-4.png
  new/theme/2020/static/images/products/drills/drills-5.png
  new/theme/2020/static/images/products/drills/drills-6.png
  new/theme/2020/static/images/products/drills/drills-7.png
  new/theme/2020/static/images/products/drills/drills-cover.png
  new/theme/2020/static/scss/base.scss
  new/theme/2020/templates/products/drills.html
Due: html-tidy

refac(front): #1705.32 editablefield cleanup
  front/package.json
  front/src/scenes/Dashboard/components/AddAccessTokenModal/index.tsx
  front/src/scenes/Dashboard/components/EditableField/index.spec.tsx
  front/src/scenes/Dashboard/components/EditableField/index.tsx
  front/src/scenes/Dashboard/containers/SeverityView/index.tsx
Due: none

feat(infra): #1835.57 authz table
  deploy/containers/common/vars/provision_local_db.sh
  deploy/terraform-resources/dynamodb/dynamo-tables.tf
  test/dynamo_data/fi_authz.json
Due: shellcheck

refac(front): #1705.33 improve action buttons
  front/src/scenes/Dashboard/containers/DescriptionView/ActionButtons/index.tsx
Due: none

style(front): #1886 specify verified state
  front/src/scenes/Dashboard/components/Vulnerabilities/index.tsx
Due: none

feat(front): #1888 verification statuses colors
  front/src/components/DataTableNext/formatters.tsx
Due: none

feat(front): #2972.5 drills content
  new/content/pages/products/drills/index.adoc
  new/content/pages/products/index.adoc
  new/theme/2020/static/images/products/drills/datasheet-drills.png
  new/theme/2020/templates/footer.html
  new/theme/2020/templates/products/drills.html
Due: html-tidy

feat(back): #1835.58 get roles
  django-apps/integrates-back/backend/dal/user.py
  django-apps/integrates-back/backend/domain/user.py
  test/domain_test/test_user.py
Due: pylint, flake8

fix(job): #408 fix relative root
  build/include/helpers.sh
Due: shellcheck

refac(back): #1635 mutation wrapper resolver
  authorization/group_level_async.conf
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  test_async/util_test/test_abac.py
Due: pylint, flake8

refac(back): #1635 more async mutations
  authorization/group_level_async.conf
  django-apps/integrates-back-async/backend/api/mutation.py
  django-apps/integrates-back-async/backend/api/resolvers/finding.py
  test_async/util_test/test_abac.py
Due: pylint, flake8
